$mainBGcolor: #00142C;
$mainTextColor: #DC143C;
$additionalTextColor: #FF7F50;

$fontSize: 10px;
$mainColor: #00AEEF;
$colorOrange: #FFCF07;
$mainDuration: 0.3s;



@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@function darker($color, $tone) {
	$adjust: -16*$tone;
	@return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

html,
body {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;

	background-color: #F5F5F5;
}
@font-face {
	font-family: 'Gilroy';
	src:	url('../fonts/Gilroy Family/Gilroy-Light.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-Light.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-Light.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-LightItalic.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-LightItalic.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-LightItalic.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-Regular.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-Regular.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-Regular.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-RegularItalic.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-RegularItalic.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-RegularItalic.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-SemiBold.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-SemiBold.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-SemiBold.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-SemiBoldItalic.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-SemiBoldItalic.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-SemiBoldItalic.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-Bold.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-Bold.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-Bold.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src:	url('../fonts/Gilroy Family/Gilroy-BoldItalic.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-BoldItalic.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-BoldItalic.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-ExtraBold.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBold.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBold.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src:	url('../fonts/Gilroy Family/Gilroy-ExtraBoldItalic.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBoldItalic.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBoldItalic.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}



/* Прижать футер */
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	.content {
		flex: 1 0 auto;
		overflow: visible;
		.content__header {
			background-color: #EAEAEA;
			padding-bottom: 38px;
			@media (max-width: 991px) {
			}
		}
		@media (max-width: 911px) {
			padding-top: 60px;
		}
	}
	.footer {
		flex: 0 0 auto;
	}
}



iframe{
	display: block;
}
h1, h2, h3, h4, h5, h6,
p, li, a, span {
	font-size: $fontSize * 1.4;
	line-height: 130%;
	margin: 0px;
}
h1, .h1 {
	font-size: $fontSize * 4;
	line-height: 140%;
	font-family: "Gilroy", sans-serif;
	font-weight: 700;
	color: #333333;
	@media (max-width: 991px) {
		font-size: $fontSize * 3;
		line-height: 120%;
	}
}
h2, .h2 {
	font-size: $fontSize * 3;
	line-height: 140%;
	font-family: "Gilroy", sans-serif;
	font-weight: 700;
	color: #262A2B;
	margin: 0px;
	@media (max-width: 991px) {
		font-size: $fontSize * 2.2;
	}
}
h3, .h3 {
	font-size: $fontSize * 2;
	line-height: 140%;
	font-family: "Gilroy", sans-serif;
	font-weight: 700;
	color: #333333;
	margin: 0px;
	@media (max-width: 991px) {
		font-size: $fontSize * 1.8;
	}
}
h4 {
	font-size: $fontSize * 1.6;
	line-height: 140%;
	font-family: "Gilroy", sans-serif;
	font-weight: 700;
	color: #262A2B;
	margin: 0px;
	@media (max-width: 991px) {
		font-size: $fontSize * 1.6;
	}
}
p {
	font-size: $fontSize * 1.6;
	line-height: 140%;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #262A2B;
	margin: 0px;
}
li {
}
a {
}
span {
}