.form {
	padding: 37px;
	background-color: #fff;

	&__line {
		width: 100%;
		display: flex;
		justify-content: space-between;

		label {
			width: 49%;
			color: #333333;
			font-size: $fontSize * 1.4;
			font-weight: 400;

			input {
				width: 100%;

			}
		}
		textarea {
			display: block;
			width: 100%;
			min-height: 150px;
			border: 1px solid #DBDBDB;
			background: #F7F7F7;

			padding: 12px 15px;

			font-size: $fontSize * 1.6;
			line-height: 140%;
			color: #848484;
		}
		.basket__select {
			width: 100%;

			display: block;
			margin-top: 14px;

			background: #F7F7F7;
			border: 1px solid #DBDBDB;
			border-radius: 0px;
			padding: 12px 15px;

			font-size: $fontSize * 1.6;
			line-height: 140%;
			color: #848484;

			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			background-image: url('../images/basket/arrow.png');
			background-repeat: no-repeat;
			background-size: 9px;
			background-position: 93% center;

			@media (max-width: 991px) {
				width: 100%;
			}
		}

		&.form__line_text {
			display: block;
		}
		&.form__line__cke {
			label {
				width: unset;
			}
		}
		@media (max-width: 991px) {
			flex-direction: column;
			label {
				width: 100%;
			}
		}

	}

	input {
		margin-top: 14px;

		background: #F7F7F7;
		border: 1px solid #DBDBDB;
		display: block;
		border-radius: 0px;
		padding: 12px 15px;

		font-size: $fontSize * 1.6;
		line-height: 140%;
		color: #848484;
		&:focus{
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: #848484;
		}
		&::-moz-placeholder {
			color: #848484;
		}
	}




	.checkbox { display: none; }
	.checkbox__label {
		cursor: pointer;
		display: inline-block;
		width: 20px;
		height: 20px;
		background: $mainColor;
		margin-right: 6px;
		position: relative;
		padding: 2px;
	}
	.checkbox:checked + .checkbox__label:before { 
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		content: "";
		background: url("../images/checked.png") no-repeat;
		background-position: center;
	}
	.form__info {
		font-size: $fontSize * 1.4;

		color: #333333;
		text-align: left;
		.form__info {
			margin-left: 2px;
			padding: 0 2px;

			box-shadow: inset 0 -0.2rem 0 0 $mainColor;
			transition: $mainDuration;
			&:hover {
				color: #fff;
				box-shadow: inset 0 -2.5rem 0 0 $mainColor;
				transition: $mainDuration;
			}
		}
	}


	.input {
		&.input_radio {
			width: unset;
			display: flex;
			align-items: center;
			input[type="radio"] {
				display: none;
				&:checked + .input__element {
					border: 6px solid $mainColor;
					transition: $mainDuration;
				}
			}
			.input__element {
				min-width: 20px;
				min-height: 20px;
				max-width: 20px;
				max-height: 20px;
				border-radius: 100%;
				display: block;

				background-color: #F7F7F7;
				border: 1px solid #DBDBDB;

				margin-right: 10px;
				transition: $mainDuration;
			}
		}
	}
	.btn {
		color: #fff;
		background-color: $mainColor;
		transition: $mainDuration;
		&:hover {
			color: $mainColor;
			background-color: $colorOrange;
			transition: $mainDuration;
		}
	}

	@media (max-width: 981.99px) {
		padding: 10px;
		margin-bottom: 30px;
	}

	&.form_contacts {
		padding: 30px 0 0 0;
		input,textarea {
			margin-top: 14px;
			width: 100%;

			display: block;
			border: 1px solid #DBDBDB;
			background: #F7F7F7;

			padding: 12px 15px;

			font-size: $fontSize * 1.6;
			line-height: 140%;
			color: #848484;
		}
		label {
			display: block;
			padding-bottom: 30px;

			font-size: 14px;
			font-family: "Open sans";
			

		}
		button {
			width: 100%;
		}
	}
	&.form_card {
		background: none;
		padding: 0px;
		width: 60%;
		.form__wr {
			display: flex;
			justify-content: space-between;
		}
		label {
			color: #333333;
			font-size: $fontSize * 1.4;
			width: 49%;
			input {
				 width: 100%;
				 border: 1px solid #EFC556;
			}
		}

		.form__line {
			label {
				width: unset;
			}
			.form__line_f {
				width: 49%;
			}
			.btn {
				width: 49%;
			}
			.form__info {
				font-family: "Open sans";
				font-size: $fontSize *1.4;
			}
		}
	}
	&.form_reshenia {
		padding: 20px 50px;
		background-color: #FFDC58;

		display: flex;
		flex-direction: column;
		justify-content: center;

		.form__header {
			font-size: $fontSize * 2;
			color: #333333;
			font-weight: bold;
			line-height: 140%;
			font-family: "Gilroy", sans-serif;

			display: block;
			padding-bottom: 25px;
		}
		.form__line {
			display: flex;
			flex-direction: column;
			padding-bottom: 25px;

			span {
				font-size: $fontSize * 1.4;
				font-family: "Open sans", sans-serif;
				color: #333333;

				padding-bottom: 15px;
			}

			input { 
				margin: 0px;
				max-width: 269px; 
			}

			&:last-child {
				padding-bottom: 0px;
			}
		}
	}

}
.search {
	position: relative;
	width: 70px;

	display: flex;
	align-items: center;
	justify-content: center;
	&__input {
		position: absolute;
		z-index: 997;
		width: 100%;

		right: 0px; top: -13px; 

		background: none;

		padding: 12px 15px;

		font-size: $fontSize * 1.6;
		line-height: 140%;
		color: #848484;

		border: 0px;
		border-right: 1px solid #34B6FF;
		border-left: 1px solid #34B6FF;

		transition: $mainDuration;
		&:focus {
			background: #F7F7F7;
			width: 200px;
			transition: $mainDuration;
		}
		@media (max-width: 991px) {
			width: 100%;
			position: unset;
			border: 0px;
			background-color: #2FC1FC;
			color: #fff;
			padding-right: 30px;

			&:focus {
				width: 100%;
				background-color: #2FC1FC;
			}
			&::-webkit-input-placeholder {
				color: #fff;
			} 
			&::-moz-placeholder {
				color: #fff;
			}
			&::-ms-clear {  display: none; width : 0; height: 0; }
			&::-ms-reveal {  display: none; width : 0; height: 0; }
			&::-webkit-search-decoration,
			&::-webkit-search-cancel-button,
			&::-webkit-search-results-button,
			&::-webkit-search-results-decoration { display: none; }
		}
	}
	.fas.fa-search {
		&:before {
			z-index: 998;
		}
		@media (max-width: 991px) {
			font-size: 20px;
			position: absolute;
			right: 10px;
			top: 14px;
			z-index: 998;
			color: #fff;
		}
	}
	@media (max-width: 991px) {
		width: 100%;
	}
}
a {
	// font-size: 1.4rem;
	// line-height: 130%;
	color: #000000;
	&:hover {
		text-decoration: none;
		color: #000;
	}
}
.close {
	font-size: 4rem;
}
textarea {
	background: #F4F4F4;
	border: none;
	border-radius: 0;
	padding: 18px 20px;
	font-size: 1.4rem;
	color: #8B8B8B;
	width: 100%;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #8B8B8B;
	} 
	&::-moz-placeholder {
		color: #8B8B8B;
	}
}

.input_checkbox {
	display: inline-block;
	align-items: center;

	margin: 5px 0;

	cursor: pointer;


	input {
		display: none;
	}
	input + span {
		display: block;
		width: 17px;
		height: 17px;

		background: none;
		border: 1px solid #DBDBDB;
		transition: $mainDuration;

		position: relative;


	}
	input:checked + span {
		background-color: #03ACEC;
		border: 1px solid #03ACEC;
		transition: $mainDuration;

		&:before {
			position: absolute;
			background-image: url("../images/category/ok.svg");
			background-repeat: no-repeat;
			background-position: 40% center;
			width: 17px;
			height: 17px;
			display: block;
			content: "";
		}
	}
	.input__text {
		padding-left: 20px;
		transition: $mainDuration / 2;
		color: #333333;
		font-size: $fontSize * 1.6;

	}

	&:hover {
		.input__text {
			color: #03ACEC;
			transition: $mainDuration / 2;
		}
	}
}

.filter__item {
	h3 {
		cursor: pointer;
		display: inline-block;

		position: relative;
		padding-right: 24px;
		&:before {
			display: block;
			position: absolute;
			width: 9px;
			height: 6px;
			content: "";
			background-image: url("../images/basket/arrow.png");
			background-position: center;
			background-repeat: no-repeat;

			top: 12px; right: 0px;
			transition: $mainDuration;
		}
		&.collapsed {
			&:before {
				//transform: scale(1, -1);
				//transition: $mainDuration;
			}
		}
	}
	.card-body {
		background: none;
	}
}

.ui-slider.ui-widget.ui-widget-content {
	border: 0px;
	background-color: #E3E3E3;
	height: 3px;
}
.ui-slider-range.ui-widget-header {
	background-color: #03ACEC;
}
.ui-slider-handle {
	width: 17px;
	height: 17px;

	top: -0.5em!important;


	border: 3px solid #fff!important;
	background-color: #03ACEC!important;

	border-radius: 100%;
}

.filter__number {
	font-family: "Open sans";
	font-size: 14px;
	color: #707070;
	input {
		width: 100px;
		padding: 13px 0px;
		background: none;
		border: 1px solid #DBDBDB;

		font-size: 14px;
		color: #707070;

		text-align: center;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
	}
}

.input__checkbox_btn {
	display: block;

	margin: 2px 0;

	cursor: pointer;


	input {
		display: none;
	}
	input:checked + .input__text {
		transition: $mainDuration;
		background-color: #fff;
		box-shadow: 0px 5px 20px rgba(163, 163,163, 0.24);
	}
	.input__text {
		display: block;
		width: 100%;
		padding: 10px;
		text-align: center;
		
		background-color: #EDEDED;
		color: #333333;
		font-size: $fontSize * 1.6;
		line-height: 140%;
		font-family: "Gilroy", sans-serif;
		font-weight: 700;

	}
}
.basket__select[type="number"] {
	background: none;
	max-width: 100px;
	padding: 15px;
}