.about {
	.breadcrumb {
		background: none;
	}
	.about__welcome {
		max-height: 425px;
		overflow:hidden;
	}
	.about__first {
		margin-top: -90px; 
		margin-bottom: 20px;

		background: #fff;
		padding: 50px;

		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			padding-bottom: 30px;
			@media (max-width: 991px) {
				font-size: 30px;
			}
		}
		p{
			text-align: center;
			color: #717171;
			font-size: 18px;
			font-weight: 400;
			span {
				font-weight: bold;
				color: #717171;
				font-size: 18px;
			}
			&.first {
				width: 80%;
				padding-bottom: 30px;
			}
			&.second {
				width: 90%;
				padding-bottom: 45px;
				color: #333333;
			}
			@media (max-width: 991px) {
				font-size: 16px;
			}
		}
		.trust {
			width: 100%;
			margin: 0px;
			position: relative;
			.play {
				position: absolute;
				transform: translate(-50%, -50%);
			}
		}

		@media (max-width: 991px) {
			.breadcrumb {
				padding-top: 10px;
			}
			padding: 10px;
			.first {
				width: 90%;
			}
		}
	}

	.about__second {
		background-color: #FFDC58;
		padding: 70px 200px;
		margin-bottom: 20px;

		h2 {
			text-align: center;
			padding-bottom: 24px;
			@media (max-width: 991px) {
				font-size: 22px;
			}
		}
		p {
			text-align:center;
			font-size: 18px;
			@media (max-width: 991px) {
				font-size: 16px;
			}
		}

		@media (max-width: 1200px) {
			padding: 50px 100px;
		}
		@media (max-width: 991px) {
			padding: 10px;
		}
	}

	.about__third {
		padding: 50px 100px;
		background-color: #fff;
		margin-bottom: 20px;

		h2 {
			padding-bottom: 24px;
			text-align: center;
			@media (max-width: 991px) {
				font-size: 22px;
			}
		}
		p {
			width: 60%;
			padding-bottom: 40px;
			margin: 0 auto;
			color: #717171;
			text-align: center;
		}
		.about__third__line {
			background-color: #fff;
			display: flex;
			justify-content: flex-start;
			.about__third__line__item {
				width: 50%;
				padding-right: 80px;
				position: relative;
				h2 {
					color: #CECECE;
					padding-bottom: 16px;
					text-align: right;
					@media (max-width: 991px) {
						font-size: 22px;
					}
				}
				h3 {
					padding-bottom: 20px;
					text-align: right;
					@media (max-width: 991px) {
						font-size: 18px;
					}
				}
				p {
					color: #717171;
					font-size: 14px;
					text-align: right;
					width: 100%;
				}

				&:before {
					position: absolute;
					top: 0px; right:  -23px;

					display: block;
					content: "";

					width: 46px;
					height: 53px;

					background-image: url("../images/about/cir.png");
					background-size: 43px;
					background-position: center;
					background-repeat: no-repeat;
				}
				&:after {
					width: 6px; height: 90%;
					border-right: 6px dotted #F5F5F5;

					position: absolute;
					display: block;
					content: "";
					right: -3px; top: 56px;
				}

			}
			&.about__third__line_right {
				justify-content: flex-end;
				.about__third__line__item {
					padding-left: 80px;
					h2 {
						text-align: left;
					}
					h3 {
						text-align: left;
					}
					p {
						text-align: left;
					}
					&:before {
						right: unset;
						left: -23px;
					}
					&:after {
						left: -3px;
					}
				}
			}
			&.about__third__line_last {
				.about__third__line__item {
					&:after {
						display: none!important;
					}
				}
			}
			@media (max-width: 991px) {
				width: 100%;
				.about__third__line__item {
					padding: 20px 0 20px 0px!important;
					width: 100%;
					&:before{
						display: none;
					}
					&:after {
						display: none;
					}
				}
			}
		}

		@media (max-width: 1200px) {
			padding: 40px 70px;

			p {
				width: 80%;
			}
		}

		@media (max-width: 991px) {
			padding: 10px;
			p {
				width: 100%;
			}
		}
	}


	.about__fourth {
		padding: 90px 50px;
		margin-bottom: 20px;
		background-color: #00ADEE;

		h2 {
			padding-bottom: 20px;
			color: #fff;
			padding-top: 22%;
			@media (max-width: 1200px) {
				padding-top: 33%;
			}
			@media (max-width: 991px) {
				padding-top: 0%;
			}
		}
		p {
			color: #fff;
			font-size: 18px;
			@media (max-width: 991px) {
				font-size: 16px;
			}
		}
		h3 {
			color: #fff;
			padding: 30px 0;
		}

		@media (max-width: 1200px) {
			padding: 50px 40px;
		}
	}



	.about__fifth {
		.about__fifth__item {
			margin-bottom: 20px;
		}
		.about__fifth__content {
			height: 100%;
			background-color: #fff;
			padding: 30px 70px 30px 50px;

			display: flex;
			flex-direction: column;
			justify-content: center;

			h2 {
				padding-bottom: 35px;
			}
			p {
				padding-bottom: 20px;
			}
			@media (max-width: 991px) {
				padding: 10px;
			}
		}
	}




	

}

.about__sixth {
		padding: 30px 0 80px 0;
		h2 {
			text-align: center;
			padding-bottom: 24px;
		}
		p {
			text-align: center;
			width: 90%;
			margin: 0 auto;
			padding-bottom: 60px;
		}
		.about__sixth__item {
			display: block;
			padding: 0 6px;
			div{
				background-color: #fff;
				padding: 30px 50px;
				&.about__sixth__item__wra {
					padding: 0 20px 30px 20px;
					display: flex;
					flex-direction: column;
					align-items: center;
					img {
						max-width: 100%;
						width: 100%;
					}
					h3 {
						padding-top: 20px;
					}
				}
				@media (max-width: 1300px) {
					padding: 10px;
					&.about__sixth__item__wra {
						padding: 0 20px 30px 20px;
					}
				}
			}
			h3 {
				text-align: center;
				padding-bottom: 14px;
				
			}
			span {
				display: block;
				text-align: center;
				font-size: 16px;
				color: #717171;
			}

			@media (max-width: 991px) {
				padding: 0px;
			}
		}
		@media (max-width: 991px) {
			padding-bottom: 0px;
		}
	}

.card__https__slider {
	.slick-track {
		display: flex;
		align-items: stretch;
		.slick-slide {
			height: unset;
			float: unset;
			& > div {
				height: 100%;
				.about__sixth__item {
					height: 100%;
					& > div {
						height: 100%;
					}
				}
			}
		}
		@media (max-width: 991px) {
			display: block;
			.slick-slide {
				height: 100%;
				float: left;
				& > div {
					height: unset;
					.about__sixth__item {
						height: unset;
						& > div {
							height: unset;
						}
					}
				}
			}
		}
	}
}