.btn, a.btn {
	cursor: pointer;
	padding: 10px 24px;
	color: #262A2B;
	font-size: $fontSize * 1.6;
	font-family: "Gilroy", sans-serif;
	font-weight: 600;
	transition: $mainDuration;
	border: 0px;
	border-radius: 0px;

	span {
		font-size: $fontSize * 1.6;
	}

	&.btn_flare {
		transition: all 0.2s ease-in-out;
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			background-color: rgba(255,255,255,0.5);
			height: 100%;
			width: 3em;
			display: block;
			position: absolute;
			top: 0;
			left: -4.5em;
			transform: skewX(-45deg) translateX(0);
			transition: none;
		}
		&:hover {
			color: #fff;
			&:before {
				transform: skewX(-45deg) translateX(20.5em);
				transition: all 0.5s ease-in-out;
			}
		}
	}
	&.btn_orange {
		background-color: $colorOrange;
	}
	&:hover {
		color: #fff;
		transition: $mainDuration;
	}
	&:active {
		background-color: #fff;
		transform: scale(0.95);
		color: #000;
	}
	&:focus {
		outline: none;
	}
	&.btn_main {
		background-color: $mainColor;
		color: #fff;
		&:hover {
			color: $colorOrange;
		}
	}
	&.btn_calc {
		background-color: #EDEDED;
		color: #333333;
		text-align: center;
		&:hover {
			color: $colorOrange;
		}
		&.btn_calc_active {
			background-color: #FFFFFF;
			box-shadow: 0px 0px 10px rgba(163, 163, 163, 0.23);
			
			&:hover {
				color: #333333;
			}
		}
	}
	&.btn_reset {
		border: 1px solid #E3E3E3;
		&:hover {
			color: $colorOrange;
		}
	}
	&.btn_work {
		border: 2px solid $mainColor;
		&:hover {
			color: $colorOrange;
		}
	}
}






.btn-to-top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.btn-to-top_active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn-to-top__content {
		width: 50px;
		height: 50px;
		background-color: $mainColor;
		border-radius: 100%;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}
.requisites__btn {
	padding: 0px;
}






