.projects {
	padding-top: 44px;
	.btn {
		border: 1px solid #E3E3E3;
		&:hover {
			color: #262A2B;
		}
	}
}

.project {
	.project__slider {
		max-width: 900px;
		margin: 0 auto;
		padding: 45px 0;
		position: relative;

		.arrow  {
			top: 50%;
			transform: translateY(-50%);
			bottom: unset;
		}

		.slick-dots {
			bottom: 15px;
			li {
				width: 15px;
				height: 15px;
				border-radius: 100%;
				background-color: #EAC74A;
				opacity: 0.7;
				transition: $mainDuration;
				&.slick-active {
					background-color: #E0B61A;
					opacity: 1;
					transition: $mainDuration;
				}
				button {
					&:before {
						display: none;
					}
				}
				&:before {
					display: none;
				}
			}
		}
	}

	.project__social {
		font-size: 14px;
		color: #717171;
		display: block;
		padding-right: 20px;
		@media (max-width: 991px) {
			display: none;
		}
	}
	.project__map {
		font-size: 14px;
		color: #717171;
		display: block;
		padding-right: 20px;
		padding-bottom: 20px;

		svg {
			margin-right: 10px;
		}

	}
	p {
		font-size: 18px;
		padding-bottom: 20px;

		span {
			color: $mainColor;
			font-size: 18px;
			@media (max-width: 991px) {
				font-size: 14px;
			}
		}
		@media (max-width: 991px) {
			font-size: 14px;
		}
	}
	.copy {
		padding-bottom: 20px;
	}
	iframe {
		border: 0px;
	}
	.project__footer {
		background: linear-gradient(#F5F5F5 70%, #fff 70%);
	}
	.project__header {
		@media (max-width: 991px) {
			flex-direction: column!important;
		}
	}
}