.card {
	border: 0px;
	.fa-plus, .fa-minus {
		font-size: 20px;
	}
	.card_sl {
		margin: 0px auto;
		padding-top: 50px;
		@media (max-width: 991px) {
			padding-top: 0px;
			padding-bottom: 20px;
			p {
				line-height: 180%;
			}
			h2 {
				padding: 20px 0;
			}
		}
	}
	.breadcrumb {
		background: none;
		padding-bottom: 23px;
	}
	&__left {
		border-right: 1px solid #F5F5F5;
		padding: 12px 15px 97px 15px;
		h1 {
			padding-bottom: 24px;
			line-height: 110%;
		}
		h2 {
			@media (max-width: 991px) {
				padding-bottom: 20px;
			}
		}
		p {
			color: #717171;
			padding-bottom: 60px;
			@media (max-width: 991px) {
				padding-bottom: 20px;
			}
		}
		@media (max-width: 991px) {
			padding: 20px 15px;
			padding-bottom: 0px;
		}
	}
	&__right {
		padding: 91px 0 75px 0;
		@media (max-width: 991px) {
			padding: 20px 15px;

		}
	}
	&__price_range {
		padding-bottom: 50px;
	}
	#card__slider__nav {
		padding: 20px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		.slick-slide {
			
			padding: 0 25px;
		}
		.card__lsider__wrap {
			margin: 0 10px;
			width: 88px;
			height: 88px;

			display: flex;
			justify-content: center;
			align-items: center;

			border: 1px solid #DDDDDD;
			@media (max-width: 991px) {
				width: 51px;
				height: 51px;
				margin: 0 ;
				img, svg {
					width: 30px;
				}
			}
		}
		.card__lsider__wrap_q {
			margin: 0 10px;
			width: 88px;
			height: 88px;

			display: flex;
			justify-content: center;
			align-items: center;

			border: 1px solid #DDDDDD;

			cursor: pointer;
			@media (max-width: 991px) {
				width: 51px;
				height: 51px;
				margin: 0px;
				img, svg {
					width: 30px;
				}
			}
		}
		@media (max-width: 991px) {
			justify-content: space-between;
		}
	}
	.card__description {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #F5F5F5;
		h3 {
			padding-bottom: 15px;
			margin: 0px;
		}
		p {
			color: #717171;
		    line-height: 160%;
		}
	}
	.card__release {
		background-color: #F5F5F5;

		position: relative;
		img {
			width: 100%;
			display: block;
		}
		.card__release_deep {
			position: absolute;
			bottom: 12px; right: 27px; left: 27px;
			background-color: #fff;
			padding: 20px 25px;

			display: flex;
			justify-content: space-between;
			align-items: center;

			@media (max-width: 991px) {
				position: unset;
				display: block;
				background-color: $mainColor;
				.h3 {
					color: #fff;
				}
				p {
					color: #fff;
					padding: 10px 0 0 0;
				}
			}
		}
	}

	.card__https {
		padding: 72px 0 50px 0;
		background-color: #F5F5F5;

		h2 {
			line-height: 100%;
		}
		.card__https__item__wr {
			width: 25%;
			padding: 0 15px;
			&::first-child {
				padding-left: 0px;
			}
			&::last-child {
				padding-right: 0px;
			}
			@media (max-width: 991px) {
				width: unset;
				padding: unset;
			}
		}
		.card__https__item {
			background-color: #FFFFFF;
			padding: 34px 30px;

			display: flex;
			align-items: flex-start;

			p {
				color: #333333;
			}
			span {
				color: #717171;
			}
		}
		.card__https__slider {
			display: flex;
			justify-content: space-between;

			@media (max-width: 991px) {

				display: block;

				background-color: #fff;

				.arrow {
					position: absolute;
					top: calc(50% - 15px);
					z-index: 30;

					width: 30px;
					height: 30px;

					&.arrow_right {
						right: 0px;
					}
					&.arrow_left {
						left: 0px;
					}
				}
			}
		}
		@media (max-width: 991px) {
			padding: 40px 0 40px 0;
		}
	}
	.characteristics {
		padding: 0px 0 60px 0;
		background-color: #F5F5F5;

		.characteristics__header {
			font-size: $fontSize * 1.6;
			font-family: "Gilroy", sans-serif;
			font-weight: 600;
			color: #333333;
			padding-bottom: 22px;
			display: block;
			@media (max-width: 991px) {
				padding-bottom: 10px;
			}
		}
		.characteristics__header_5 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.btn {
				width: 49%;
			}
		}
		.characteristics__mob {
			@media (max-width: 991px) {
				flex-direction: row!important;
				justify-content: space-between!important;
				flex-wrap: wrap;

				button {
					width: 49%!important;
				}
			}
		}
		.characteristics__mob_f {
			@media (max-width: 991px) {
				flex-direction: row!important;
				justify-content: space-between!important;
				flex-wrap: wrap;

				button {
					width: 100%!important;
				}
			}
		}
		@media (max-width: 991px) {
			padding-bottom: 48px;
		}
	}
	#modification {
		background-color: #F5F5F5;
		overflow: hidden;
		.modification__content {
			.modification__slider {
				.arrow {
					position: absolute;
					right: 13px;
					top: 30px;
					z-index: 98;
					width: 30px;
					height: 30px;
					&.arrow_left {
						right: 53px;
					}
				}
				
			}
		}
		
		.modification__content__header {
			background-color: #fff;
			margin-bottom: 10px;
			padding: 25px;
		}
		.modification__text {
			font-size: $fontSize * 1.2;
			color: #707070;
			line-height: 160%;
			&.modification__text_m {
				@media (max-width: 991px) {

				}
			}
		}
		.modification__filter {
			position: relative;

			&:before {
				position: absolute;
				content: "";
				display: block;
				width: 9px;
				height: 6px;

				left: -14px;
				top: 7px;

				background-image: url("../images/card/filter.svg");
				background-repeat: no-repeat;
				background-size: 9px;
				background-position: center;
			}
		}
		.modification__content__item {
			.modification__text {
				color: #333333;
				font-size: 14px;
				&.modification__text_first {
					font-weight: 600;
				}
				&.modification__text_last {
					font-weight: 700;
				}
			}
			.modification__content__item_col_head {
				@media (max-width: 991px) {
					flex-direction: column;
					align-items: flex-start!important;
					max-width: 70%;
					padding-bottom: 10px;
				}
			}
			.modification__content__item_col {
				@media (max-width: 991px) {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-bottom: 10px;
					form {
						width: 100%;
					}
				}
			}
		}
	}
	
	
	.view {
		padding: 70px 0 110px 0;

		.slick-list  {
		}
		.view__item {
			padding: 30px 12px;

			display: flex;
			flex-direction: column;
			align-items: center;

			height: 100%;
			h3 {
				font-size: $fontSize * 1.6;
				display: block;
				text-align: center;
				padding-bottom: 25px;
				transition: $mainDuration;
			}
			span {
				color: #333333;
				font-size: $fontSize * 1.6;
				font-family: "Gilroy", sans-serif;
				font-weight: 700;
				display: block;
				text-align: center;
			}
			&:hover {
				box-shadow: 0px 0px 50px rgba(163, 163, 163,0.24);
				h3 {
					color: $mainColor;
					transition: $mainDuration;
				}
			}
		}
		.view__item {
			img {
				width: 132px;
			}
		}
	}
	
}
.spez {
	background-color: #FFDC58;
	padding: 36px 0 0 50px;
	height: 400px;

	background-image: url("../images/card/bg1.png");
	background-repeat: no-repeat;
	background-position: right center; 

	position: relative;

	h2 {
		padding-bottom: 18px;
		font-size: 40px;
	}
	p {
		font-family: 'Gilroy';
		font-weight: 400;
		color: #333333;
		font-size: $fontSize * 2;
		display: block;
		padding-bottom: 25px;
	}

	.spez__bg {
		position: absolute;
		right: 0px;
		bottom: 0px;
		img {
			 max-width: 370px;
		}
	}
	@media (max-width: 991px) {
		background-image: unset;
		padding: 40px 15px;
		height: unset;

		h2, p {
			text-align: center;
		}
		.form {
			width: 100%;
			margin: 0px;
			.btn {
				width: 100%;
			}
		}
		.form__wr {
			display: block!important;
			label {
				width: 100%;
				display: block;
			}
		}
		.form__line_f  {
			width: 100%!important;
			.form__info {
				text-align: left;
			}
		}
		height: unset;
		h2 {
			font-size: 30px;
			width: 100%;
		}
		p {
			width: 100%;
			font-size: 16px;
		}
	}
}
.arrow {
	background-color: #F5F5F5;
	width: 50px;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;


	&.arrow_left {
		svg {
			transform: scale(-1, 1);
		}
	}
	&:hover {
		svg {
			fill: $mainColor;
			opacity: 1;
		}
	}

}
#carouselModificationInterval {
	.modification__text_m {
		display: none;
		@media (max-width: 991px) {
			display: block;
		}
	}
	@media (min-width: 992px) {
		.carousel-inner {
			display: flex;
			flex-direction: column;
			.carousel-item {
				opacity: 1;
			}
		}
		.carousel-control-prev, .carousel-control-next {
			display: none;
		}
		.carousel-item {
			float: unset;
			display: block;
		}
	}
	@media (max-width: 991px){
		.carousel-control-prev, .carousel-control-next {
			background-color: #F5F5F5;
			opacity: 1;
			width: 30px;
			height: 30px;
			right: 13px;
			top: 30px;
		}
		.carousel-control-prev {
			right: 53px;
			left: unset;
		}
		.basket__select {
			width: 49%;
		}
	}
}

.mobile__arrow {
	.arrow {
		position:absolute;
		top: calc(40% - 15px);
		right: 0px;

		z-index: 998;

		width: 30px;
		height: 30px;

		&.arrow_left {
			left: 0px;
			right: unset;
		}
	}
}
.arrow {
	
	svg {
		fill: #333333;
		transition: $mainDuration;
		g {
			opacity: 1;
		}
	}

	&.slick-disabled {
		svg {
			g {
				opacity: 0.2;
			}
		}
	}
	&:hover {
		svg {
			fill: $mainColor;
			transition: $mainDuration;
		}
		&.slick-disabled {
			cursor: default;
			svg {
				g {
					opacity: 0.2;
				}
			}
		}
	}
}
.zoom {
	display:block;
	position: relative;
	margin: 0 auto;
	width: 480px;
	.zoom_img {
		width: 480px;
		margin: 0 auto;
	}
	img {
		display: block;
	}
}

.copy {
		background-color: #F5F5F5;
		padding-bottom: 197px;
		&__item {
			padding: 35px 25px;
			background-color: #FFFFFF;
			height: 100%;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.copy__type {
				font-size: $fontSize * 1.2;
				color: #9F9F9F;
				display: block;
				padding: 40px 0 18px 0;
			}
			.h3 {
				font-size: $fontSize * 1.6;
				color: #333333;
				padding-bottom: 25px;
				display: block;
			}
			.copy__price {
				color: #333333;
				font-size: $fontSize * 2;
				font-family: "Gilroy", sans-serif;
				font-weight: 700;
			}
			a {
				color: #333333;
				font-size: $fontSize * 1.4;
				border-bottom: 1px solid #D5D5D5;
				transition: $mainDuration;
				&:hover {
					color: $colorOrange;
					transition: $mainDuration;
				}
			}
		}
		.copy__slider {
			.slick-slide {
				padding: 0 8px;
				&:first-child {
					padding-left: 0px;
					@media (max-width: 991px) {
						padding-left: 8px;
					}
				}
				&:last-child {
					padding-right: 0px;
					@media (max-width: 991px) {
						padding-right: 8px;
					}
				}
			}
		}
		@media (min-width: 991px) {
			.slick-track {
				display: flex;
				.slick-slide {
					float: unset;
					height: unset;
					
					& > div {
						height: 100%;
					}
				}
			}
		}
		@media (max-width: 991px) {
			padding-bottom: 40px;
		}
	}
.card__options {
	font-family: "Open sans";
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 30px;
	span {
		display: inline-block;
		margin-right: 40px;
		&:last-child {
			margin: 0px;
		}
	}
	i {
		font-weight: 100;
	}
	.card__esti {
		svg {
			width: 16px;
			fill: #51B15C;
			padding-right: 8px;
		}
		color: #51B15C;
	}
	.card__zak {
		svg {
			width: 16px;
			fill: #D97D43;
			padding-right: 8px;
		}
		color: #D97D43;
	}
}
.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fafafa;
}
.table-striped tbody tr:nth-of-type(even) {
	background-color: #fff;
}
tr {
	padding: 5px 0;
	td {
		font-size: 14px;
		font-family: "Open sans";
		font-weight: 400;
		&:last-child {
			font-weight: 600;
			text-align: right;
		}
	}

}
.modification__header {

	display: flex;
	justify-content: space-between;
	align-items: center;


	
}
.modification__header_op {
		color: #707070;
		font-size: $fontSize * 1.2;
		span {
			width: 25px;
			height: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;

			color: #333333;
			font-size: $fontSize * 1.6;

			background-color: #EDEDED;
		}
	}
.card_modification {
	#modification {
		padding-bottom: 140px;
		@media (max-width: 991px) {
			padding-bottom: 0px;
		}
	}
	.spez {
		margin-top: -140px;
		@media (max-width: 991px) {
			margin: 0px;
		}
	}
}
.card__project {
		background-color: #F5F5F5;
		padding-bottom: 70px;
		
		&.card__project_mobile {
			.card__project__item {
				overflow: unset;
				width: 100%;
			}
			.card__project__deep {
				position: unset;
				width: 100%;
				justify-content: center;
				h3 {
					text-align: center;
				}
				p {
					display: none;
				}
			}
		}
		@media (max-width: 991px) {
			padding-bottom: 50px;
		} 
	}
.card__project__item {
	overflow: hidden;
	&:hover {
		.card__project__deep {
			bottom: 12px;
			transition: $mainDuration;
		}
	}
}
.card__project__deep {
	position: absolute;
	bottom: -100%; right: 27px; left: 27px;
	background-color: $mainColor;
	padding: 20px 25px;
	transition: $mainDuration;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.h3 {
		color: #fff;
	}
	p {
		color: #CCF1FF;
	}
}
