.modal-content {
	background-color: #fff;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
	border-radius: 0px;
	max-width: 440px;
	padding: 50px;

	.close {
		opacity: 1;
		z-index: 99;
		position: absolute;
		right: 16px; top: 16px;
		line-height: 0;
		span {
			color: #303030;
			font-size: 24px;
		}
	}
	.modal-header {
		padding: 0;
		border-bottom: 0;
		span {
			font-family: "Arsenal";
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 45px;
			color: #303030;
			display: block;
			width: 100%;
			text-align: center;
		}
	}
	.modal-body {
		padding: 0;
		input {
			width: 100%;
		}
	}
	@media (max-width: 991px) {
		padding: 10px;
	}
	.form {
		background: none;
		padding: 0px;
		input {
			background: none;
			border: 1px solid #EFC556;
			width: 100%;
			max-width: unset!important;
		}
		.form__line_f {
			label {
				width: unset!important;
			}
			span {
				width: 20px!important;
			}
		}
	}
	.modal-title {
		font-size: 20px;
		font-weight: bold;
		font-family: "Gilroy", sans-serif;
		font-weight: 700;
		color: #333333;
		margin: 0px;
		padding-bottom: 14px;
	}
	p {
		font-size: 16px;
		padding-bottom: 20px;
	}
}

.modal-dialog.modal-lg {
	.modal-content {
		max-width: unset;
	}
} 



.call {
	.modal-dialog.modal-lg {
		max-width: 1020px!important
	}
	.modal-content {
		padding: 0px;
		max-width: 1020px!important;
	}
	.call__background {
		background-image: url("../images/about/bg.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.call__header {
		font-size: $fontSize * 2;
		line-height: 140%;
		font-family: "Gilroy", sans-serif;
		font-weight: 700;
		color: #333333;
		padding-bottom: 20px;
		margin: 0px;
		@media (max-width: 991px) {
			font-size: $fontSize * 1.6;
		}
	}
	p {
		font-size: 16px;
		padding-bottom: 30px;

		@media (max-width: 991px) {
			font-size: $fontSize * 1.4;
		}
	}
	.form {
		padding: 50px;

		@media (max-width: 991px) {
			padding: 15px;
		}
		label {
			font-size: 14px;
			display: block;
			input {
				max-width: unset!important;
				width: 100%;
			}
		}
	}
	.call__input {
		display: flex!important;
		align-items: center;
		input {
			display: none;
		}
		input + span {
			display: block;
			width: 22px;
			height: 22px;
			background-color: #DFE3E9;
			border: 6px solid #DFE3E9;
			border-radius: 100%;
			transition: $mainDuration;
		}

		input:checked + span {
			background-color: $mainColor;
			transition: $mainDuration;
		}
		.call__input__text {
			padding-left: 10px;
			display: block;
			font-size: 14px;
		}
	}
}