.breadcrumb {
	margin: 0px;
	padding: 38px 0 10px 0;
	
	.breadcrumb-item {
		color: #848484;
		font-size: $fontSize * 1.4;
		font-weight: 400;

		    
			
			padding-left: unset;
			list-style: unset;
			&:before {
				left: unset;
				position: unset;
				width: unset;
				height: unset;
				background: unset;
			}
		a {
			color: #848484;
			transition: $mainDuration;
			font-size: $fontSize * 1.4;
			font-weight: 400;
			border-bottom: unset;
			&:hover {
				color: $mainColor;
				transition: $mainDuration;
			}
		}
	}
}