.footer {
	background-color: #fff;

	.footer__first {
		padding: 110px 0 100px 0;
		border-bottom: 1px solid rgba(112, 112, 112, 0.1);
		@media (max-width: 991px) {
			padding: 0px;
			border: 0px;
		}
	}
	.footer__second {
		padding: 42px 0;

		span {
			color: #6B6B6B;
			font-size: $fontSize * 1.2;
		}
		a {
			display: block;
			
			color: #6B6B6B;
			font-size: $fontSize * 1.2;
			transition: $mainDuration;

			&:hover {
				color: $mainColor;
				transition: $mainDuration;
			}
		}
		.footer__second__wrap {
			@media (max-width: 991px) {
				flex-direction: column;
			}
			.footer__second__wrap_wrap {
				@media (max-width: 991px) {
					flex-direction: column;
				}
			}
		}
		@media (max-width: 991px) {
			padding: 30px 0;
		}
	}
	&__header {
		display: block;

		font-family: "Gilroy", sans-serif;
		color: #333333;
		font-size: $fontSize * 1.6;
		font-weight: 700;

		padding-bottom: 14px;

		@media (max-width: 991px) {
			text-align: center;
			padding-top: 7.5px;
			padding-bottom: 7.5px;
		}
	}
	p {
		color: #333333;
		padding-bottom: 26px;
		@media (max-width: 991px) {
			text-align: center;
		}
	}
	
	.footer__link {
		color: #707070;
		transition: $mainDuration;
		margin-bottom: 10px;
		display: block;
		&:hover {
			color: $mainColor;
			transition: $mainDuration;
		}
		&:last-child {
			margin: 0px;
		}
		@media (max-width: 991px) {
			text-align: center;
		}
	}
	.footer__description {
		font-size: 14px;
		line-height: 22px;
	}
	.phone-collection {
		@media (max-width: 991px) {
			justify-content: center;
			&__item {
				padding-right: 16px;
				&:last-child {
					padding: 0px;
				}
			}
			&__number {
				font-size: $fontSize * 1.6;
			}
			&__description {
				
			}
		}
	}



	.accordion {
		@media (max-width: 991px) {
			margin-right: -15px;
			margin-left: -15px;
		}
		padding-bottom: 40px;
	}
	.collection__item {
		.collection__number {
			margin-bottom: 14px;

		}
	}
	.card {
		border: 0px;
		border-radius: 0px;
		border-bottom: 1px solid rgba(112, 112, 112, 0.1)!important; 
	}
	.card-header {
		text-align: center;
		border: 0px;
		background: none;
		margin: 0px!important;
	}
}
