.pagination {
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	.page-item {
		&:before {
			display: none;
		}
		&.page-item_left {
			svg {
				transform: scale(-1, 1);
			}
		}
	}
	.page-link {
		width: 50px;
		height: 50px;
		background-color: #FFFFFF;
		margin: 0 2.5px;

		display: flex;
		align-items: center;
		justify-content: center;

		font-size: $fontSize * 1.6;
		line-height: 140%;
		font-family: "Gilroy", sans-serif;
		font-weight: 700;
		color: #333333;
		border: 0px;
		@media (max-width: 991px) {
			width: 30px;
			height: 30px;

			font-size: $fontSize * 1.4;
		}
	}
	li {
		transition: $mainDuration;
		&.active {
			transition: $mainDuration;
			.page-link {
				background-color: $mainColor!important;
				color: #fff;
				transition: $mainDuration;
			}
		}
		&.page-item_left {
			img {
				transform: scale(-1, 1);
			}
		}
		&:hover {
			.page-link {
				background-color: $mainColor!important;
				color: #fff;
				transition: $mainDuration;
				svg {
					fill: #fff;
					transition: $mainDuration;
					g {
						opacity: 1;
					}
				}
			}
		}
	}
	li:first-child {
		.page-link {
			margin-left: 0px;
		}
	}
	li:last-child {
		.page-link {
			margin-right: 0px;
		}
	}

}