extends base.pug
block content
	div(class="about")
		div(class="about__welcome")
			picture
				source(srcset="images/about/welcomex2.png 2x")
				img(class="lazyload w-100" data-src="images/about/welcome.jpg" alt="img")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="about__first")
						nav(aria-label="breadcrumb")
							ol(class="breadcrumb")
								li(class="breadcrumb-item")
									a(href="#")
										| Главная
								li(class="breadcrumb-item active" aria-current="page")
									| О компании
						h1()
							| О компании
						p(class="first")
							| <span>ООО «Интера Лайтинг»</span> - это российская проектно-производственная компания. Технологические мощности и склад готовой продукции находятся в г. Москва. Основание компании – 2005 год.
						p(class="second")
							| Мы постоянно развиваемся, следуем всем тенденциям рынка, потребностям партнеров и используем актуальные разработки в светотехнической сфере. Наши осветительные приборы соответствуют высшим стандартам качества, обладают всеми заявленными техническими и светотехническими характеристиками.
						a(class="trust" href="#" data-toggle="modal" data-target="#ModalVideo" data-whatever="https://www.youtube.com/embed/AMwQ7aY2_wg")
							img(class="lazyload play" data-src="images/reshenia/play.svg" alt="play img")
							picture
								source(srcset="images/about/vibex2.png 2x")
								img(class="w-100 lazyload" data-src="images/about/vide.png" alt="img")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="about__second")
						h2
							| Направление деятельности
						p
							| Направлением деятельности компании является производство и реализация осветительного оборудования коммерческого назначения массового спроса в доступном ценовом сегменте.
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="about__third")
						h2
							| История компании
						p
							| Компания «Интера Лайтинг» за 14 лет успешной коммерческой деятельности вышла на первые позиции рынка торгового освещения в России
						div(class="about__third__line")
							div(class="about__third__line__item")
								h2
									| 2005
								h3
									| Основание компании «Интера Лайтинг»
								p
									| ООО «Интера Лайтинг» была основана в 2005 году как оптовая компания по продаже источников света и комплектующих для осветительных приборов.
						div(class="about__third__line about__third__line_right")
							div(class="about__third__line__item")
								h2
									| 2008
								h3
									| Развитие торгового освещения
								p
									| Одним из основных направлением деятельности компании стало торговое освещение. В этот период наша компания получает опыт в проектировании торгового освещения, продолжает изучать потребности российского рынка и ассортимент продукции, представленной на внутреннем рынке.
						div(class="about__third__line")
							div(class="about__third__line__item")
								h2
									| 2012
								h3
									| Открытие производства светильников
								p
									| Открыта первая линия по производству трековых светильников под металлогалогенные источники света. Это позволило предложить универсальный продукт, который удовлетворил потребности практически каждого покупателя и не зависеть от импорта. Ценовое предложение на готовую продукцию было вне конкуренции!
						div(class="about__third__line about__third__line_right")
							div(class="about__third__line__item")
								h2
									| 2013
								h3
									| Создание торговой марки «Оптима»
								p
									| Изначально ставилась цель – предложить на рынок товар европейского уровня качества по цене доступной для массового внутреннего потребителя. Это стало основополагающей концепцией технологического развития «Интера Лайтинг». Товар под торговой маркой «Оптима» - оптимальный баланс между ценой и бескомпромиссным качеством.
						div(class="about__third__line")
							div(class="about__third__line__item")
								h2
									| 2014
								h3
									| Производство LED светильников
								p
									| Светодиодные технологии массированно вытесняют традиционные источники света. Ассортимент предлагаемой продукции «Оптима» на 80% составляют приборы с LED источниками свет. Линейка продукции дополняется осветительным шинопроводом серии Busline. Полный цикл производства в нашей стране.
						div(class="about__third__line about__third__line_right about__third__line_last")
							div(class="about__third__line__item")
								h2
									| 2019
								h3
									| Создание торговой марки LightBlu
								p
									| Создание торговой марки LightBlu. Управление светом по беспроводному протоколу BLE.
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="about__fourth")
						div(class="row")
							div(class="col-12 col-lg-4 pb-5 pb-lg-0")
								h2
									| Миссия<br>и ценности
								p
									| Быть лучше каждый день, развиваться и делиться своими достижениями с людьми
							div(class="col-12 col-lg-4")
								img(class="lazyload" data-src="images/about/team.svg" alt="img")
								h3
									| Мы - команда
								ul(class="blue")
									li()
										| Мы - команда единомышленников
									li()
										| Мы стараемся опережать тенденции развития светотехнического рынка
									li()
										| Мы ставим планку так высоко, чтобы всегда было над чем работать
									li()
										| Мы ценим и уважаем наших партнеров и конкурентов

							div(class="col-12 col-lg-4")
								img(class="lazyload" data-src="images/about/support.svg" alt="img")
								h3
									| Мы - партнеры
								ul(class="blue")
									li()
										| Мы стремимся стать надежным партнером для наших клиентов 

									li()
										| Мы предлагаем актуальные решения в коммерческом освещении

									li()
										| Мы нацелены на долгосрочное сотрудничество

									li()
										| Мы производим только качественную продукцию
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="about__fifth")
						div(class="about__fifth__item")
							div(class="row")
								div(class="col-12 col-lg-7 order-2 order-lg-1")
									div(class="about__fifth__content")
										h2()
											| Собственная торговая<br>марка «оптима»
										p
											| В 2013 году была создана собственная торговая марка «ОПТИМА». Главная концепция светильников, созданных под этой торговой маркой – технические характеристики на уровне европейских аналогов, приемлемая цена и короткие сроки поставки оборудования.
										p
											| При изготовлении светильников применяются комплектующие, позволяющие гарантировать работоспособность и стабильность световых характеристик в течение всего срока эксплуатации осветительных приборов. Качественные, надежные и недорогие светильники – главный приоритет работы нашей компании.
								div(class="col-12 col-lg-5 order-1 order-lg-2 pb-5 pb-lg-0")
									picture
										source(srcset="images/about/p1x2.png 2x")
										img(class="lazyload w-100" data-src="images/about/p1.png" alt="img")
						div(class="about__fifth__item")
							div(class="row")
								div(class="col-12 col-lg-5 pb-5 pb-lg-0")
									picture
										source(srcset="images/about/p2x2.png 2x")
										img(class="lazyload w-100" data-src="images/about/p2.png" alt="img")
								div(class="col-12 col-lg-7")
									div(class="about__fifth__content")
										h2()
											| Качество продукции
										p
											| Наши инженеры, совместно с внешними техническими специалистами, постоянно исследуют и проектируют новые решения в области светодиодных технологий. Благодаря большому опыту наших сотрудников, мы разрабатываем современные качественные светильники и с каждым разом улучшаем показатели наших продуктов. 3 главных достоинства всех наших новых товаров –качество, высокая эффективность, надежность.
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="about__sixth")
						h2
							| Руководство
						p
							| В компании «Интера Лайтинг» собрана команда сильных специалистов. Каждый обладает необходимыми профильными знаниями и дополняет коллектив, что позволяет предоставлять отличный конечный результат нашим партнерам.
						div(class="card__https__slider mobile__arrow")
							div(class="about__sixth__item mt-auto")
								picture
									source(srcset="images/about/q1x2.png 2x")
									img(class="lazyload w-100" data-src="images/about/q1.png" alt="img")
								div()
									h3
										| Роман данюков
									span
										| Сооснователь<br>компании
							div(class="about__sixth__item mt-auto")
								picture
									source(srcset="images/about/q2x2.png 2x")
									img(class="lazyload w-100" data-src="images/about/q2.png" alt="img")
								div()
									h3
										| Дмитрий нарольский
									span
										| Руководитель<br>отдела продаж
							div(class="about__sixth__item mt-auto")
								picture
									source(srcset="images/about/q3x2.png 2x")
									img(class="lazyload w-100" data-src="images/about/q3.png" alt="img")
								div()
									h3
										| Дмитрий даньшов
									span
										| Руководитель<br>производства
							div(class="about__sixth__item mt-auto")
								picture
									source(srcset="images/about/q4x2.png 2x")
									img(class="lazyload w-100" data-src="images/about/q4.png" alt="img")
								div()
									h3
										| Евгений водолагин
									span
										| Менеджер по работе<br>с ключевыми клиентами
		div(class="container")
			div(class="row")
				div(class="col-12 pb-5")
					div(class="about__sixth")
						h2
							| Ассортимент
						p
							| В ассортименте «Интера Лайтинг» представлено более 300 моделей светильников по типам:
						div(class="card__https__slider mobile__arrow")
							- for (var i = 1; i < 5; i++)
								a(class="about__sixth__item" href="#")
									div(class="about__sixth__item__wra")
										picture(class="order-2 order-lg-1")
											source(srcset="images/about/fd"+i+"x2.png 2x")
											img(class="lazyload" data-src="images/about/fd"+i+".png" alt="img")
										h3
											| Трековые светильники
									
