extends base.pug
block content

	div(class="content__header")
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item active" aria-current="page")
								| Ваша корзина
					h1
						| Ваша корзина
	div(class="basket")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="basket__item")
						div(class="basket__header d-none d-lg-block")
							div(class="row")
								div(class="col-lg-2")
									span
										| Фото
								div(class="col-lg-3")
									span
										| Наименование
								div(class="col-lg-2")
									span
										| Цена
								div(class="col-lg-2")
									span
										| Количество
								div(class="col-lg-2")
									span
										| Сумма
								div(class="col-lg-1")
						div(class="basket__body")
							div(class="basket__wrapper")
								div(class="row")
									div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center")
										picture()
											source(srcset="images/basket/1x2.png 2x")
											img(class="lazyload" data-src="images/basket/1.png" alt="img")
									div(class="col-12 col-lg-3 d-flex align-items-center")
										a(class="basket__name my-4 my-lg-0" href="#")
											| ORIGI LED (6g06) 25W/830 15° white
									div(class="col-lg-2  align-items-center d-none d-lg-flex")
										span(class="basket__numbers")
											| 12 490 руб
									div(class="col-6 col-lg-2 d-flex align-items-center")
										input(class="basket__select my-4 my-lg-0" type="number")
									div(class="col-6 col-lg-2 d-flex align-items-center")
										span(class="basket__numbers")
											| 12 490 руб
									div(class="col-lg-1 d-flex justify-content-center align-items-center position-static")
										form(class="basket__close__wrap")
											button(class="basket__close")
												<i class="fas fa-times"></i>
						div(class="basket__footer")
							span
								| Итого без учета доставки
							h2
								| 47 330 руб
			div(class="row pb-5")
				div(class="col-12")
					h2
						| Оформление заказа
			div(class="row")
				div(class="col-lg-8")
					form(class="form")
						h3
							| Быстрый заказ
						div(class="form__line pb-4")
							label
								| Имя
								input(type="text" placeholder="Анна")
							label(class="pt-4 pt-lg-0")
								| Фамилия
								input(type="text" placeholder="Радченко")
						div(class="form__line pb-4")
							label
								| Телефон*
								input(type="tel" placeholder="+38 (ХХХ) ХХ ХХ ХХ")
							label(class="pt-4 pt-lg-0")
								| Email
								input(type="mail" placeholder="example@example.com")
						div(class="form__line")
							label
								| Город
								select(class="basket__select" placeholder="Выбрать город")
									option()
										| 1
									option
										| 2
							label(class="pt-4 pt-lg-0")
								| Ваш адрес
								input(type="text" placeholder="ул. Ушинского 25")
						div(class="form__line py-5")
							label(class="input input_radio pt-4 pt-lg-0")
								input(type="radio" name="oplata")
								span(class="input__element")
								span()
									| Безналичный расчет
							label(class="input input_radio pt-4 pt-lg-0")
								input(type="radio" name="oplata")
								span(class="input__element")
								span()
									| Оплата картой
							label(class="input input_radio pt-4 pt-lg-0")
								input(type="radio" name="oplata")
								span(class="input__element")
								span()
									| Наличными курьеру
						div(class="form__line py-5")
							label(class="input input_radio pt-4 pt-lg-0")
								input(type="radio" name="dostavka")
								span(class="input__element")
								span()
									| Доставка автотранспортом компании по Москве
							label(class="input input_radio pt-4 pt-lg-0")
								input(type="radio" name="dostavka")
								span(class="input__element")
								span()
									| Доставка сторонней транспортной компанией
						div(class="form__line form__line_text")
							div()
								label
									| Комментарий к заказу
								textarea(placeholder="Введите ваш комментарий")
						div(class="form__line form__line__cke align-items-center pt-5")
							div(class="d-flex align-items-start justify-content-start pb-4 pt-lb-0")
								label(class="m-0")
									input(type="checkbox" id="checkbox" class="checkbox" checked aria-label="Checkbox for following text input")
									span(for="checkbox" class="checkbox__label")
								p( class="form__info")
									| Согласен с политикой обработки
									a(href="#" class="form__info")
										| персональных данных
							button(class="btn")
								| Оформить заказ
				div(class="basket__content col-lg-4 d-flex flex-column justify-content-center")
					h3
						| Условия доставки
					p
						| Наша компания выполнила поставку осветительного оборудования для магазина Vinoterra - импортера вин и крепкого алкоголя с 2005 года. 
					ul()
						li()
							span()
								| Продолжительный срок службы. 
							| Светодиодные модуливсего 
						li()
							span()
								| Энергоэффективность. 
							| При одинаковом качестве освещения эффективность энергосбережения
						li()
							span()
								| Экологическая безопасность. 
							| При производстве трековых светильников 