extends base.pug
block content
	div(class="content__header")
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item active" aria-current="page")
								| Контакты
					h1
						| Блог
	div(class="blog")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2
						| Выберите категорию
			div(class="row")
				div(class="blog__nav col-12 d-flex justify-content-between")
					each val, index in ['Освещение', 'Полезные советы', 'Секреты мастеров', 'Подбор светотехники', 'Ремонт', 'Обзоры']
						if (index == 0)
							a(class="blog__link blog__link_active" href="#")
								= val
						else
							a(class="blog__link" href="#")
								= val
			div(class="blog__content")
				div(class="row")
					- for (var i = 0; i < 12; i++)
						div(class="col-12 col-md-6 col-lg-4 mb-5")
							a(class="blog__item" href="#")
								picture()
									source(srcset="images/blog/1x2.png 2x")
									img(class="lazyload w-100" data-src="images/blog/1.png" alt="img")
								span
									| 25 декабря
								h3
									| Cовременные технологии в освещении
								p
									| Революционные инновации в сфере искусственного освещения случаются далеко не каждый год.
				div(class="row")
					div(class="col-12")
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<li class="page-item page-item_left">
									<a class="page-link" href="#" aria-label="Previous">
										<svg xmlns="http://www.w3.org/2000/svg" width="10.607" fill="#707070" height="18.385" viewBox="0 0 10.607 18.385">
											<g id="Symbol_110" data-name="Symbol 110" transform="translate(-43.807)" opacity="0.2">
												<g id="Group_5899" data-name="Group 5899" transform="translate(181 495.192) rotate(180)">
													<rect id="Rectangle_5555" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)" />
													<rect id="Rectangle_5554" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)" />
													<rect id="Rectangle_5556" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)" />
												</g>
											</g>
										</svg>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">2</a>
								</li>
								<li class="page-item active">
									<a class="page-link" href="#">3</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">4</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">...</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">26</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<svg xmlns="http://www.w3.org/2000/svg" width="10.607" fill="#707070" height="18.385" viewBox="0 0 10.607 18.385">
											<g id="Symbol_110" data-name="Symbol 110" transform="translate(-43.807)" opacity="0.2">
												<g id="Group_5899" data-name="Group 5899" transform="translate(181 495.192) rotate(180)">
													<rect id="Rectangle_5555" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)" />
													<rect id="Rectangle_5554" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)" />
													<rect id="Rectangle_5556" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)" />
												</g>
											</g>
										</svg>
									</a>
								</li>
							</ul>
						</nav>


		