extends base.pug
block content
	div(class="about blogpost")
		div(class="about__welcome")
			picture
				source(srcset="images/blogpost/bx2.png 2x")
				img(class="lazyload w-100" data-src="images/blogpost/d.png" alt="img")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-3")
					div(class="user")
						img(class="lazyload" data-src="images/blogpost/user.png" alt="img")
						span(class="user__name")
							| Егоров Роман
						span(class="user__date")
							| Январь 2019 г. 
					div(class="list")
						span(class="list__header")
							| Категории
						ul
							li
								a(class="list__item active" href="#")
										| Освещение
							each val, index in ['Полезные советы', 'Секреты мастеров', 'Подбор светотехники', 'Ремонт квартиры', 'Обзоры']
								li
									a(class="list__item" href="#")
										= val
				div(class="col-12 col-lg-9 mt-5 mt-lg-0")
					article(class="about__first")
						nav(aria-label="breadcrumb")
							ol(class="breadcrumb")
								li(class="breadcrumb-item")
									a(href="#")
										| Главная
								li(class="breadcrumb-item active" aria-current="page")
									| Блог
						h1(class="blogpost__h1")
							| Типы светодиодных светильников
						p(class="blogpost__p")
							| На основе светодиодов производятся эффективно работающие светильники любых типов — в области как бытового, так и технического освещения. Однако, LED светотехника имеет принципиальные отличия от аналогов, рассчитанных на применение ламп накаливания и газоразрядных ИС. Обзор посвящен типологии светодиодных светильников с акцентом на этих отличиях.
						h2
							| Элементная база
						p
							| Светодиоды и <a href="#">аппаратная часть бытовых LED лампочек</a>, трековых софитов и промышленных прожекторов значительно отличаются друг от друга. Поэтому перед изучением типов светильников важно разобраться с их элементной базой. Без этого сложно оценивать плюсы и минусы разных коммерческих предложений.
						div(class="message message__1")
							h3
								| Совет дня
							p
								| Устройства, состоящие из одного или нескольких кристаллов в корпусе под линзой или люминофором. Потребляемая мощность SMD (от 1 до 9 чипов) не превышает 1 Вт, а вот PCB Star, хоть и содержат в схеме только 1 кристалл — гораздо более мощные СД (до 10 Вт).
						p
							| Матрицы из множества (кол-во может быть более 100) чипов на общей пластине, залитой люминофором. Диапазон мощностей СД COB составляет 3,0 - 150 Вт (!) У этих светодиодов чуть меньше светоотдача и срок службы, чем у SMD, зато самая лучшая цветопередача (CRI = 80 – 96 %). Еще одно их принципиальное отличие от SMD — более широкий угол рассеивания света. Матрицы COB могут быть гибкими и иметь любую форму — прямоугольную, круглую, линейную и т.д.
						div(class="message message__2")
							h3
								| Важно
							p
								| Внешний вид которых имитирует нити накала в традиционной лампочке Эдисона. На узкой стеклянной полоске зафиксировано несколько крохотных чипов, и вся полоска покрыта люминофором. Этот вид светодиодов обеспечивает самое равномерное рассеивание света. Недостаток — сравнительно небольшой срок службы.
						p
							| Чипы малого размера и мощности под люминофором, но без корпуса или металлической пластины. Множество таких чипов, смонтированных на пластине (или объемном элементе), находящейся внутри светорассеивающей колбы — самая типичная начинка LED лампочки. LED лампы производятся с патронами и штырьевым контактами всех видов. Это позволяет использовать их в светильниках, рассчитанных на ИС других типов. Лампы с негерметичными полимерными колбами делают на базе бескорпусных СД и очень редко — на базе SMD. В лампах LED filament со светодиодными «нитями» используют герметичные стеклянные колбы, наполненные гелием для улучшения теплоотвода.
						p
							| SMD находят применение в производстве светодиодных лент. СД этого типа используются также в точечных и линейных светильниках.
						div(class="w-100")
							div(class="blogpost__slider_wra")
								div(class="blogpost__slider")
									picture()
										source(srcset="images/blogpost/slidex2.png 2x")
										img(class="w-100" data-lazy="images/blogpost/slide.png" alt="img")
									picture()
										source(srcset="images/blogpost/slidex2.png 2x")
										img(class="w-100" data-lazy="images/blogpost/slide.png" alt="img")
									picture()
										source(srcset="images/blogpost/slidex2.png 2x")
										img(class="w-100" data-lazy="images/blogpost/slide.png" alt="img")
								div(class="blogpost__slider__count")
									span(class="blogpost__slider__count__first")
										| 1
									span
										| /
									span(class="blogpost__slider__count__second")
										| 3
							div()
								span(class="blogpost__slider__footer")
									| Главные конструктивные элементы LED светильника
							p
								| Светодиоды нагреваются меньше, чем лампы накаливания. Почему же тогда радиатор теплоотвода является обязательным элементом конструкции светодиодного светильника? Дело в том, что эффективность (светоотдача) и срок службы светодиода заметно падают, если превышается температурный порог 60 – 70 °C. Радиатор может входить в конструкцию лампы, помещаться в корпус светильника, либо заменять собой этот корпус.
							p
								| СД работают от постоянного тока низкого напряжения. Поэтому в лампочку или светильник устанавливают драйвер — устройство, выполняющее функции выпрямителя и трансформатора. Драйвер также называют блоком питания.
							p
								| В схему управления ламп с регулировкой цвета (цветовой температуры) входит контроллер, обеспечивающий избирательное включение отдельных чипов.
							div(class="xz")
								-for(var i = 0; i < 3; i++)
									a(class="xz__item" href="#")
										picture()
											source(srcset="images/blogpost/xz1x2.png 2x")
											img(class="lazyload img-fluid" data-src="images/blogpost/xz1.png" alt="img")
							h2
								| Списки
							ul
								li
									| Цветовая температура
								li
									| Мощность источника света
								li
									| Мощность источника света
								li
									| Полная мощность светильника
								li
									| Индекс цветопередачи (Ra)
								li
									| Индекс цветопередачи (Ra)
							ol
								li
									| Индекс цветопередачи (R9)
								li
									| Угол отражателя
								li
									| Цвет корпуса
								li
									| Гарантия
								li
									| Возможность диммирования
								li
									| Тип диммирования
							h2
								| Функциональные типы LED светильников
							p
								| Формально прожектор — это уже рассмотренный узконаправленный софит. Разница заключается в масштабах явления. Прожекторы нужны для освещения зон и объектов большой площади, зачастую — расположенных на значительном удалении. Светильник заливающего света отличается от прожектора более широким углом светового потока. Но внешне устройства этих двух видов могут выглядеть почти одинаково.
							div(class="message message__3")
								h3
									| Пример
								p
									| Прожекторы нужны для освещения территорий, зданий, площадок хранения техники и других м/c. Востребованы они и в системах внутреннего света — в гаражных боксах, театрах, спортивных и актовых залах.
							p
								| Термином «Omni» в световом проектировании называют условно-точечные ИС, распространяющие поток света равномерно во всех направления, т.е., сферически. Пример светодиодного источника света, близкого к omni — лампа LED filament с колбой грушевидной формы или типа «свеча» без внутреннего рефлектора. Похожее распределение света дает светодиодная лампа с распределением чипов типа «кукуруза» и матированной колбой.
							div(class="xz_2")
								h2
									|Широкоугольные параболические подвесные светильники для складских, коммерческих и промышленных помещений
							p
								| В жилом, общественном и офисном интерьере источники omni применяются в светильниках традиционного дизайна. Примеры: рожковые люстры классического типа, люстры, бра и торшеры с абажурами, а также светильники с рассеивающими плафонами.
							p
								| <span>Следует отличать современные линейные LED светильники от трубчатых светодиодных ламп, предназначенных для замены люминесцентных трубок</span> в линейных светильниках старого типа. Первые на 20 % - 30 % эффективнее по светоотдаче и эксплуатируются в 3 – 5 раз дольше из-за лучших условий охлаждения.
							h2
								| Таблица
							div(class="table-responsive")
								table()
									thead
										tr
											th
												| Наименование
											th
												| Характеристика
											th
												| Цена
									tbody
										tr
											th
												| Мощность источника света
											th
												| 25 Вт
											th
												| 30,500
										tr
											th
												| Мощность источника света
											th
												| 24,5 Вт
											th
												| 30,500
										tr
											th
												| Полная мощность светильника
											th
												| 28,7Вт
											th
												| 30,500
										tr
											th
												| Индекс цветопередачи (Ra)
											th
												| 80+
											th
												| 30,500
										tr
											th
												| Индекс цветопередачи (Ra)
											th
												| min 80
											th
												| 30,500
							p
								| Плоские светодиодные потолочные панели обеспечивают равномерный заливающий свет. В них могут использоваться как SMD, так и COB матрицы. Определяющую роль играет качество светорассеивающего экрана. Светильники этого типа создаются для монтажа на подвесных потолках, так как отдача тепла от радиаторов охлаждения возможна только в подпотолочное пространство.
							p
								| Большинство серийных моделей LED панелей рассчитана на крепление в секциях подвесных потолков типа «Армстронг» (600 х 600 мм).
							
				div(class="container")
					div(class="row py-5")
						div(class="col-12 col-lg-9 offset-lg-3 pb-5")
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li class="page-item page-item_left">
										<a class="page-link" href="#" aria-label="Previous">
											<svg xmlns="http://www.w3.org/2000/svg" width="10.607" fill="#707070" height="18.385" viewBox="0 0 10.607 18.385">
												<g id="Symbol_110" data-name="Symbol 110" transform="translate(-43.807)" opacity="0.2">
													<g id="Group_5899" data-name="Group 5899" transform="translate(181 495.192) rotate(180)">
														<rect id="Rectangle_5555" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)" />
														<rect id="Rectangle_5554" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)" />
														<rect id="Rectangle_5556" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)" />
													</g>
												</g>
											</svg>
										</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">4</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">...</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">26</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
											<svg xmlns="http://www.w3.org/2000/svg" width="10.607" fill="#707070" height="18.385" viewBox="0 0 10.607 18.385">
												<g id="Symbol_110" data-name="Symbol 110" transform="translate(-43.807)" opacity="0.2">
													<g id="Group_5899" data-name="Group 5899" transform="translate(181 495.192) rotate(180)">
														<rect id="Rectangle_5555" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)" />
														<rect id="Rectangle_5554" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)" />
														<rect id="Rectangle_5556" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)" />
													</g>
												</g>
											</svg>
										</a>
									</li>
								</ul>
							</nav>
						div(class="col-12 col-lg-9 offset-lg-3")
							h2
								| Рекоменудем также
							div(class="recommendation mobile__arrow")
								div()
									picture()
										source(srcset="images/blogpost/e1x2.png 2x")
										img(class="w-100" data-lazy="images/blogpost/e1.png" alt="img")
									h3
										| Cовременные технологии в освещении
								div()
									picture()
										source(srcset="images/blogpost/e2x2.png 2x")
										img(class="w-100" data-lazy="images/blogpost/e2.png" alt="img")
									h3
										| Монтаж трековых светильников
								div()
									picture()
										source(srcset="images/blogpost/e3x2.png 2x")
										img(class="w-100" data-lazy="images/blogpost/e3.png" alt="img")
									h3
										| Классы и степени защиты светильников
						div(class="col-12 col-lg-9 offset-lg-3 pt-5")
							h2
								| Комментарии (<span class="blogpost__comm__count">3</span>)
							div(class="comment__item")
								h3
									| Андрей Воробьев
								p
									| Большинство серийных моделей LED панелей рассчитана на крепление в секциях подвесных потолков типа «Армстронг» (600 х 600 мм).
								div(class="comment__item__footer")
									a(class="comment__link" href="#")
										| Ответить
							div(class="comment__item")
								h3
									| Андрей Воробьев
								p
									| Большинство серийных моделей LED панелей рассчитана на крепление в секциях подвесных потолков типа «Армстронг» (600 х 600 мм).
								div(class="comment__item__footer")
									a(class="comment__link" href="#")
										| Ответить
							div(class="comment__item")
								h3
									| Добавить комментарий
								form(class="form form_card")
									div(class="form__wr")
										label
											| Ваше имя
											input(type="text" placeholder="Анна" required)
										label(class="pt-4 pt-lg-0")
											| Email
											input(type="mail" placeholder="example@example.com" required)
									div(class="form__line form__line__cke align-items-center pt-4")
										label
											| Ваш комментарий
											textarea(placeholder="Тект комментария" required)
									button(class="btn btn_main")
										| Оставить комментарий











	

	


















									
