extends base.pug
block content
	div(class="card")
		div(class="container")
			div(class="row")
				div(class="col-lg-6 card__left")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item")
								a(href="#")
									| Трековые светильники
							li(class="breadcrumb-item active" aria-current="page")
								| Трековые светильник...
					h1
						| Трековый светильник ORIGI LED Foodlight (Оптима)
					div(class="d-none d-lg-block")
						p
							| Трековые светодиодные светильники Оптима ORIGI LED мощностью 25 Вт и 39 Вт предназначены для освещения торговых площадей, лучшее сочетание световой эффективности (высокий световой поток) и индекса цветопередачи.
						h2(class="card__price_range")
							| от 1 890 до 12 640 руб.
						a(class="btn btn_main btn_move" href="#modification")
							| Смотреть все модификации
				div(class="col-lg-6 card_sl")
					div(id="card__slider")
						div()
							span(class='zoom w-100')
								picture()
									source(srcset="images/card/card1x2.png 2x")
									img(class="zoom_img w-100 lazyload" data-src="images/card/card1.png" alt="img")
						div()
							span(class='zoom w-100')
								picture()
									source(srcset="images/card/card1x2.png 2x")
									img(class="jqzoom w-100 lazyload" data-src="images/card/card1.png" alt="img")
						div()
							span(class='zoom w-100')
								picture()
									source(srcset="images/card/card1x2.png 2x")
									img(class="jqzoom w-100 lazyload" data-src="images/card/card1.png" alt="img")
							
					div(id="card__slider__nav")
						div(class="card__lsider__wrap slider__360"  data-slide="0")
							picture()
								source(srcset="images/card/slickx2.png 2x")
								img(class="lazyload" data-src="images/card/slick.png" alt="img")
						div(class="card__lsider__wrap" data-slide="1")
							picture()
								source(srcset="images/card/slickx2.png 2x")
								img(class="lazyload" data-src="images/card/slick.png" alt="img")
						div(class="card__lsider__wrap" data-slide="2")
							picture()
								source(srcset="images/card/slickx2.png 2x")
								img(class="lazyload" data-src="images/card/slick.png" alt="img")
						div(class="card__lsider__wrap_q" data-toggle="modal" data-target="#ModalVideo" data-whatever="https://www.youtube.com/embed/AMwQ7aY2_wg")
							img(class="lazyload" data-src="images/card/pley.svg" alt="img")
						div(class="card__lsider__wrap_q" data-toggle="modal" data-target="#Modal360")
							img(class="lazyload" data-src="images/card/360.svg" alt="img")
					div(class="d-block d-lg-none")
						p
							| Трековые светодиодные светильники Оптима ORIGI LED мощностью 25 Вт и 39 Вт предназначены для освещения торговых площадей, лучшее сочетание световой эффективности (высокий световой поток) и индекса цветопередачи.
						h2(class="card__price_range")
							| от 1 890 до 12 640 руб.
						a(class="btn btn_main btn_move" href="#modification")
							| Смотреть все модификации
		div(class="card__description")
			div(class="container")
				div(class="row")
					div(class="col-12 d-flex justify-content-between align-items-center")
						div(class="d-flex align-items-center" )
							h2(class="pr-2")
								| Описание
							<i class="pl-5 pt-2 fas fa-plus"></i>
						<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,whatsapp"></div>
				div(class="row pt-4")
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Область применения
						p
							| Общее и акцентное освещение торговых площадей
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Отражатель
						p
							| Отражатели светильников выполнены из алюминия с высоким отражающим коэффициентом. Угол отражателей – 15°, 30°, 45° или 55°, КПД отражателей – не менее 81%.
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Конструкция
						p
							| Корпус трековых светильников изготовлен из литого алюминия, окрашен порошковой краской белого, серого или черного цветов. Корпус выполняет функцию радиатора (пассивная система охлаждения).
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Установка
						p
							| На трехфазный осветительный шинопровод стандарта euro-DIN или на поверхность потолка с использованием потолочного крепления.
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Источник света
						p
							| Светодиодные модули (LED) CITIZEN ELECTRONICS с высокими и стабильными световыми характеристиками, допустимое отклонение цветовой температуры 3 ступени эллипса МакАдама. Серия Standart Type - лучшее сочетание световой эффективности с индексом цветопередачи для широкого применения. Цветовые температуры - 3 000 K (теплый белый) и 4 000 K (нейтральный белый). По запросу возможно изготовление светильников с цветовыми температурами - 2 700 K, 3 500 K, 5 000 K и 6 500 K. Индекс цветопередачи Ra > 80.
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Гарантия и срок службы
						p
							| Гарантия на трековые светильники Оптима ORIGI LED – 3 года. Срок службы – более 50 000 часов. L80 B10 (50 000 ч.) – через 50 000 часов световой поток светильников составит 80% от изначального (падение светового потока на 20%), у 10% светильников падение светового потока составит более 20%.
		div(class="card__release")
			div(class="container")
				div(class="row")
					div(class="col-12")
						picture
							source(srcset="images/card/releasex2.png 2x")
							source(media="(max-width: 991px)" data-srcset="images/card/release2.png")
							img(class="lazyload" data-src="images/card/release.png" alt="img")
						div(class="card__release_deep")
							span(class="h3")
								| Коворкинг «Platform»
							p()
								| 85 м2, офисное помещение
		div(class="card__https")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12")
						div(class="d-flex align-items-center pb-5")
							h2(class="pr-2")
								| Инструкции и сертификаты к светильнику
							<i class="pl-5 pt-2 fas fa-plus"></i>
				div(class="card__https__slider")
					div(class="card__https__item__wr")
						a(class="card__https__item" href="#" download)
							img(class="lazyload" data-src="images/card/pdf.svg" alt="img")
							div(class="pl-4")
								p(class="pb-3")
									| Листовка Оптима ORIGI LED
								span()
									| .pdf, 202 КВ
					div(class="card__https__item__wr")
						a(class="card__https__item" href="#" download)
							img(class="lazyload" data-src="images/card/pdf.svg" alt="img")
							div(class="pl-4")
								p(class="pb-3")
									| Листовка Оптима ORIGI LED
								span()
									| .pdf, 202 КВ
					div(class="card__https__item__wr")
						a(class="card__https__item" href="#" download)
							img(class="lazyload" data-src="images/card/pdf.svg" alt="img")
							div(class="pl-4")
								p(class="pb-3")
									| Листовка Оптима ORIGI LED
								span()
									| .pdf, 202 КВ
					div(class="card__https__item__wr")
						a(class="card__https__item" href="#" download)
							img(class="lazyload" data-src="images/card/pdf.svg" alt="img")
							div(class="pl-4")
								p(class="pb-3")
									| Листовка Оптима ORIGI LED
								span()
									| .pdf, 202 КВ
		div(class="characteristics")
			div(class="container")
				div(class="row pb-lg-5")
					div(class="col-12")
						div(class="d-flex align-items-center pb-5")
							h2(class="pr-2")
								| Характеристики
							<i class="pl-5 pt-2 fas fa-plus"></i>
				div(class="row")
					div(class="col-12 col-lg-3 pb-5 pb-lg-0")
						span(class="characteristics__header")
							| Цвет корпуса
						div(class="characteristics__mob d-flex flex-column")
							button(class="btn w-100 btn_calc mb-2")
								| Черный
							button(class="btn w-100 btn_calc mb-2")
								| Бежевый
							button(class="btn w-100 btn_calc btn_calc_active mb-2")
								| Белый
							button(class="btn w-100 btn_calc")
								| Серый
					div(class="col-12 col-lg-3 pb-5 pb-lg-0")
						span(class="characteristics__header")
							| Степень защиты (IP)
						div(class="d-flex flex-column")
							div(class="characteristics__header_5 pb-2")
								button(class="btn btn_calc")
									| IP6
								button(class="btn btn_calc")
									| IP3
							div(class="characteristics__header_5")
								button(class="btn btn_calc")
									| IP4
								button(class="btn btn_calc")
									| IP3
						div(class="pt-5")
							span(class="characteristics__header")
								| Тип источника
							div(class="d-flex flex-column")
								button(class="btn btn_calc")
									| LED
						div(class="pt-5")
							span(class="characteristics__header")
								| Питание
							div(class="d-flex flex-column characteristics__mob")
								button(class="btn btn_calc mb-lg-2")
									| 30V
								button(class="btn btn_calc")
									| 97+
					div(class="col-12 col-lg-3 pb-5 pb-lg-0")
						span(class="characteristics__header")
							| Цветовая температура
						div(class="d-flex flex-column characteristics__mob pb-5 pb-lg-0")
							button(class="btn w-100 btn_calc mb-lg-2")
								| 3000 К
							button(class="btn w-100 btn_calc mb-lg-2")
								| 4000 К
						div()
							span(class="characteristics__header")
								| Индекс цветопередачи
							div(class="d-flex flex-column  characteristics__mob pb-5 pb-lg-0")
								button(class="btn w-100 btn_calc mb-lg-2")
									| 80+
								button(class="btn w-100 btn_calc mb-lg-2")
									| 97+
						div()
							span(class="characteristics__header")
								| Источник света
							div(class="d-flex flex-column  characteristics__mob  pb-lg-0")
								button(class="btn w-100 btn_calc mb-lg-2")
									| 80+
								button(class="btn w-100 btn_calc mb-lg-2")
									| 97+
					div(class="col-12 col-lg-3")
						span(class="characteristics__header")
							| Мощность
						div(class="d-flex flex-column characteristics__mob pb-5 pb-lg-0")
							button(class="btn w-100 btn_calc mb-lg-2")
								| 25 Вт
							button(class="btn w-100 btn_calc mb-lg-2")
								| 39 Вт
						div()
							span(class="characteristics__header")
								| Диммирование
							div(class="d-flex flex-column characteristics__mob pb-5 pb-lg-0")
								button(class="btn w-100 btn_calc mb-lg-2")
									| Triac
								button(class="btn w-100 btn_calc mb-lg-2")
									| Dali
						div()
							span(class="characteristics__header")
								| Угол отражателя
							div(class="d-flex flex-column characteristics__mob ")
								button(class="btn w-100 btn_calc mb-lg-2")
									| 15°
								button(class="btn w-100 btn_calc mb-lg-2")
									| 30°
				div(class="row pt-5")
					div(class="characteristics__mob_f col-12 d-flex justify-content-end")
						button(class="btn btn_main mr-lg-5 mb-4 mb-lg-0")
							| Применить фильтр
						button(class="btn btn_reset")
							| Сбросить все

		div(id="modification")
			div(class="container")
				div(class="row pb-lg-5")
					div(class="col-12 modification__header")
						div(class="d-flex align-items-center pb-lg-5")
							h2(class="pr-2")
								| Модификации 34
							<i class="pl-5 pt-2 fas fa-plus"></i>
						div(class="modification__header_op d-flex align-items-center" )
							p(class="d-none d-lg-block")
								| Описание характеристик
							a(class="ml-3 "  data-toggle="tooltip"  placement="auto" title="Подсказка, а что написать то?")
								<i class="fas fa-question" ></i>
				div(class="modification__content")
					div(class="row")
						div(class="col-12 p-0 pb-lg-1")
							div(class="modification__content__header  d-none d-lg-block")
								div(class="row align-items-start")
									div(class=" col-lg-2 ")
										a(class="modification__text" href="#")
											| Наименование<br>светильника
									div(class=" col-lg-1 pl-0")
										a(class="modification__text" href="#")
											| Цвет корпуса
									div(class=" col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Мощность Вт
									div(class=" col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Цветовая температура
									div(class=" col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Индекс цветопередачи
									div(class=" col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Световой поток
									div(class=" col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Угол отражателя
									div(class="col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Цена за ед.
							div()
								<div id="carouselModificationInterval" class="pt-4 carousel slide " data-wrap="false" data-interval="false">
									<div class="carousel-inner">
										<div class="carousel-item active" data-interval="false">
											div(class="modification__content__header modification__content__item")
												div(class="row")
													div(class="modification__content__item_col_head col-12  col-lg-2  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет
														a(class="modification__text modification__text_first" href="#")
															| ORIGI LED (6g06) 25W/830 15° white 1
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет<br>корпуса
														span(class="modification__text")
															| Черный
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Мощность<br>Вт
														span(class="modification__text ")
															| 25/34/23/ …
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text")
															| Цветовая<br>температура
														span(class="modification__text modification__text_m")
															| 3 000 K
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															|Индекс<br>цветопередачи
														span(class="modification__text ")
															| 80+
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Световой<br>поток
														span(class="modification__text ")
															| 2 500 лм
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Угол<br>отражателя
														span(class="modification__text ")
															| 15°
													div(class="modification__content__item_col col-12 col-lg-1   d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цена<br>за ед.
														span(class="modification__text modification__text_last")
															| 12 490 руб
													div(class="modification__content__item_col col-12 col-lg-3")
														form( class="d-flex justify-content-between")
															input(class="basket__select my-4 my-lg-0" type="number")
															button(class="btn btn_main  my-4 my-lg-0")
																| В корзину
										</div>
										<div class="carousel-item" data-interval="false">
											div(class="modification__content__header modification__content__item")
												div(class="row")
													div(class="modification__content__item_col_head col-12  col-lg-2  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет
														a(class="modification__text modification__text_first" href="#")
															| ORIGI LED (6g06) 25W/830 15° white 2
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет<br>корпуса
														span(class="modification__text")
															| Черный
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Мощность<br>Вт
														span(class="modification__text ")
															| 25/34/23/ …
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text")
															| Цветовая<br>температура
														span(class="modification__text modification__text_m")
															| 3 000 K
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															|Индекс<br>цветопередачи
														span(class="modification__text ")
															| 80+
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Световой<br>поток
														span(class="modification__text ")
															| 2 500 лм
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Угол<br>отражателя
														span(class="modification__text ")
															| 15°
													div(class="modification__content__item_col col-12 col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цена<br>за ед.
														span(class="modification__text modification__text_last")
															| 12,490 руб
													div(class="modification__content__item_col col-12 col-lg-3")
														form( class="d-flex justify-content-between")
															input(class="basket__select my-4 my-lg-0" type="number")
															button(class="btn btn_main  my-4 my-lg-0")
																| В корзину
										</div>
										<div class="carousel-item" data-interval="false">
											div(class="modification__content__header modification__content__item")
												div(class="row")
													div(class="modification__content__item_col_head col-12  col-lg-2 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет
														a(class="modification__text modification__text_first" href="#")
															| ORIGI LED (6g06) 25W/830 15° white 3
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет<br>корпуса
														span(class="modification__text")
															| Черный
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Мощность<br>Вт
														span(class="modification__text ")
															| 25/34/23/ …
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text")
															| Цветовая<br>температура
														span(class="modification__text modification__text_m")
															| 3 000 K
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															|Индекс<br>цветопередачи
														span(class="modification__text ")
															| 80+
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Световой<br>поток
														span(class="modification__text ")
															| 2 500 лм
													div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Угол<br>отражателя
														span(class="modification__text ")
															| 15°
													div(class="modification__content__item_col col-12 col-lg-1 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цена<br>за ед.
														span(class="modification__text modification__text_last")
															| 12,490 руб
													div(class="modification__content__item_col col-12 col-lg-3")
														form( class="d-flex justify-content-between")
															input(class="basket__select my-4 my-lg-0" type="number")
															button(class="btn btn_main  my-4 my-lg-0")
																| В корзину
										</div>
									</div>
									<a class="carousel-control-prev false" href="#carouselModificationInterval" role="button" data-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true">
											<svg xmlns="http://www.w3.org/2000/svg" width="10.607" height="18.385" fill="#333" viewBox="0 0 10.607 18.385">
												<g data-name="Symbol 110" transform="translate(-43.807)">
													<g id="" data-name="Group 5899" transform="translate(181 495.192) rotate(180)" opacity="0.2">
														<rect id="" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)"></rect>
														<rect id="" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)"></rect>
														<rect id="" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)"></rect>
													</g>
												</g>
											</svg>
										</span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="carousel-control-next" href="#carouselModificationInterval" role="button" data-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="10.607" height="18.385" fill="#333" viewBox="0 0 10.607 18.385"><g data-name="Symbol 110" transform="translate(-43.807)"><g id="" data-name="Group 5899" transform="translate(181 495.192) rotate(180)" opacity="0.2"><rect id="" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)"></rect><rect id="" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)"></rect><rect id="" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)"></rect></g></g></svg></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							// div(class="modification__slider")
								- for (var i = 0; i < 5; i++)
									div(class="modification__content__header modification__content__item")
										div(class="row")
											div(class="modification__content__item_col_head col-12  col-lg-2 pr-lg-0 d-flex align-items-center")
												span(class="modification__text modification__text_m")
													| Цвет
												span(class="modification__text modification__text_first")
													| ORIGI LED (6g06) 25W/830 15° white
											div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0pr-lg-0 d-flex align-items-center")
												span(class="modification__text modification__text_m")
													| Цвет<br>корпуса
												span(class="modification__text")
													| Черный
											div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0pr-lg-0 d-flex align-items-center")
												span(class="modification__text modification__text_m")
													| Мощность<br>Вт
												span(class="modification__text ")
													| 25/34/23/ …
											div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0pr-lg-0 d-flex align-items-center")
												span(class="modification__text")
													| Цветовая<br>температура
												span(class="modification__text modification__text_m")
													| 3 000 K
											div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0pr-lg-0 d-flex align-items-center")
												span(class="modification__text modification__text_m")
													|Индекс<br>цветопередачи
												span(class="modification__text ")
													| 80+
											div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0pr-lg-0 d-flex align-items-center")
												span(class="modification__text modification__text_m")
													| Световой<br>поток
												span(class="modification__text ")
													| 2 500 лм
											div(class="modification__content__item_col col-12  col-lg-1 pl-lg-0pr-lg-0 d-flex align-items-center")
												span(class="modification__text modification__text_m")
													| Угол<br>отражателя
												span(class="modification__text ")
													| 15°
											div(class="modification__content__item_col col-12 col-lg-1 pr-lg-0  d-flex align-items-center")
												span(class="modification__text modification__text_m")
													| Цена<br>за ед.
												span(class="modification__text modification__text_last")
													| 12,490 руб
											div(class="modification__content__item_col col-12 col-lg-3")
												form( class="d-flex justify-content-between")
													select(class="basket__select my-4 my-lg-0")
														option
															| 1
														option
															| 2
														option
															| 3
													button(class="btn btn_main  my-4 my-lg-0")
														| В корзину
							div(class="row pt-5 pb-5")
								div(class="pb-5 col-12 d-flex justify-content-center")
									a(class="btn btn_reset" href='#')
										| Показать все модификации
		div(class="card__project d-none d-lg-block")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12")
						div(class="d-flex align-items-center pb-5")
							h2(class="pr-2")
								| Проекты с этим светильником
							<i class="pl-5 pt-2 fas fa-plus"></i>
				div(class="row")
					div(class="col overflow-hidden")
						a(href="#" class="card__project__item")
							picture()
								source(srcset="images/card/1x2.png 2x")
								img(class="lazyload w-100 img-fluid" data-src="images/card/1.png" alt="img")
							div(class="card__project__deep")
								span(class="h3")
									| Коворкинг «Platform»
								p()
									| 85 м2, офисное помещение

					div(class="col overflow-hidden")
						a(href="#" class="card__project__item")
							picture()
								source(srcset="images/card/2x2.png 2x")
								img(class="lazyload w-100 img-fluid" data-src="images/card/2.png" alt="img")
							div(class="card__project__deep")
								span(class="h3")
									| Коворкинг «Platform»
								p()
									| 85 м2, офисное помещение
		div(class="card__project card__project_mobile d-block d-lg-none ")
			div(class="container")
				div(class="row pb-lg-5")
					div(class="col-12")
						div(class="d-flex align-items-center pb-5")
							h2(class="pr-2")
								| Проекты с этим светильником
							<i class="pl-5 pt-2 fas fa-plus"></i>
				div(class="card__project__slider mobile__arrow")
					a(class="card__project__item" href="#")
						img(class="lazyload w-100 img-fluid" data-src="images/card/1.png" alt="img")
						div(class="card__project__deep")
							span(class="h3")
								| Коворкинг «Platform»
							p()
								| 85 м2, офисное помещение
					a(class="card__project__item" href="#")
						img(class="lazyload w-100 img-fluid" data-src="images/card/2.png" alt="img")
						div(class="card__project__deep")
							span(class="h3")
								| Коворкинг «Platform»
							p()
								| 85 м2, офисное помещение
		div(class="copy")
			div(class="container")
				div(class="row pb-lg-5")
					div(class="col-12")
						div(class="pb-5")
							h2
								| Похожие светильники
				div(class="copy__slider mobile__arrow")
					div(class="copy__item")
						div(class="d-flex flex-column align-items-center justify-content-between")
							picture()
								source(srcset="images/card/copy1x2.png 2x")
								img(class="lazyload" data-src="images/card/copy1.png" alt="img")
							div()
								span(class="copy__type")
									| STR 4545635
								a(class="h3" href="#")
									| Трековый светильник ORIGI LED Standard (Оптима)
								div(class="d-flex justify-content-between align-items-center")
									span(class="copy__price")
										| 3,840 руб
									a(href="#")
										| Подробнее
					div(class="copy__item")
						div(class="d-flex flex-column align-items-center justify-content-between")
							picture()
								source(srcset="images/card/copy2x2.png 2x")
								img(class="lazyload" data-src="images/card/copy2.png" alt="img")
							div()
								span(class="copy__type")
									| STR 4545635
								a(class="h3" href="#")
									| Трековый светильник ORIGI LED Standard (Оптима)
								div(class="d-flex justify-content-between align-items-center")
									span(class="copy__price")
										| 3,840 руб
									a(href="#")
										| Подробнее
					div(class="copy__item")
						div(class="d-flex flex-column align-items-center justify-content-between")
							picture()
								source(srcset="images/card/copy3x2.png 2x")
								img(class="lazyload" data-src="images/card/copy3.png" alt="img")
							div()
								span(class="copy__type")
									| STR 4545635
								a(class="h3" href="#")
									| Трековый светильник ORIGI LED Standard (Оптима)
								div(class="d-flex justify-content-between align-items-center")
									span(class="copy__price")
										| 3,840 руб
									a(href="#")
										| Подробнее
					div(class="copy__item")
						div(class="d-flex flex-column align-items-center justify-content-between")
							picture()
								source(srcset="images/card/copy4x2.png 2x")
								img(class="lazyload" data-src="images/card/copy4.png" alt="img")
							div()
								span(class="copy__type")
									| STR 4545635
								a(class="h3" href="#")
									| Трековый светильник ORIGI LED Standard (Оптима)
								div(class="d-flex justify-content-between align-items-center")
									span(class="copy__price")
										| 3,840 руб
									a(href="#")
										| Подробнее
		div(class="view d-none d-lg-block")
			div(class="container")
				div(class="row")
					div(class="col-lg-2")
						h2
							| Вы ранее смотрели
						div(class="d-flex justify-content-start align-items-start pt-5")
							div(class="arrow arrow_left mr-2 slick-disabled")
								<svg xmlns="http://www.w3.org/2000/svg" width="10.607" height="18.385" fill="#707070" viewBox="0 0 10.607 18.385">
									<g data-name="Symbol 110" transform="translate(-43.807)">
										<g id="" data-name="Group 5899" transform="translate(181 495.192) rotate(180)" opacity="0.2">
											<rect id="" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)"/>
											<rect id="" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)" />
											<rect id="" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)" />
										</g>
									</g>
								</svg>
							div(class="arrow arrow_right")
								<svg xmlns="http://www.w3.org/2000/svg" width="10.607" height="18.385" fill="#707070" viewBox="0 0 10.607 18.385">
									<g  data-name="Symbol 110" transform="translate(-43.807)" >
										<g id="" data-name="Group 5899" transform="translate(181 495.192) rotate(180)" opacity="0.2">
											<rect id="" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)" />
											<rect id="" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)" />
											<rect id="" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)" />
										</g>
									</g>
								</svg>
					div(class="col-lg-10")
						div(class="view__slider")
							- for (var i = 1; i < 10; i++)
								div
									a(class="view__item" href="#")
										picture()
											source(srcset="images/card/view1x2.png 2x")
											img(data-lazy="images/card/view1.png" alt="img")
										h3
											| Модульный подвесной светильник Module line 350ma
										span()
											| 3 890 руб
		div(class="container")
			div(class="row")
				div(class="col-12 p-0 py-lg-1")
					div(class="spez")
						h2
							| Подбор светильников со специалистом
						p
							| Бесплатный расчет оборудования и полноценный проект<br>освещения под ваше помещение за 1 день.
						form(class="form form_card")
							div(class="form__wr")
								label
									| Ваше имя
									input(type="text" placeholder="Введите ваше имя")
								label(class="pt-4 pt-lg-0")
									| Ваш номер телефона
									input(type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ")
							div(class="form__line form__line__cke align-items-center pt-4")
								div(class="form__line_f d-flex align-items-start justify-content-start")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" checked aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									p( class="form__info")
										| Согласен с политикой обработки
										a(href="#" class="form__info")
											| персональных данных
								button(class="btn")
									| Отправить
						div(class="spez__bg d-none d-lg-block")
							picture
								source(srcset="images/card/bg_2x2.png 2x")
								img(class="lazyload" data-src="images/card/bg_2.png" alt="logo")
		<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="Modal360" aria-labelledby="Modal360" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					| ...
				</div>
			</div>
		</div>

