extends base.pug
block content
	div(class="category")
		div(class="content__header")
			div(class="container")
				div(class="row")
					div(class="col-12")
						nav(aria-label="breadcrumb")
							ol(class="breadcrumb")
								li(class="breadcrumb-item")
									a(href="#")
										| Главная
								li(class="breadcrumb-item active" aria-current="page")
									| Категория
						h1
							| Модульные светильники
						p
							| Ознакомьтесь с нашим каталогом осветительного оборудования. Чтобы не потеряться среди 150 моделей и их 200 модификаций, воспользуйтесь фильтром. Обратите внимание на линейку бренда Оптима. Все представленные в каталоге трековые светильники можно купить онлайн прямо сейчас - все в наличии. Трековые системы применяются для общего и/или акцентного освещения. Состоят из трека и светильников, которые монтируются на шинопровод. Модели подбираются в зависимости от задачи, локации и объекта подсветки.
		div(class="category__content")
			div(class="container")
				div(class="row")
					div(class="col-lg-3 pt-4")
						div(class="category__filter__mob")
							h3(data-toggle="collapse" href="#collapseMob" role="button" aria-expanded="false" aria-controls="collapseMod" class="d-block d-lg-none collapsed pb-4")
								| Фильтр
							div(class="collapse show" id="collapseMob")
								div(class="filter__item pb-5")
									h3(data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne" class="collapsed")
										| Тип светильников
									div(class="collapse pt-5" id="collapseOne")
										div(class="card card-body")
											label(class="input input_checkbox")
												span(class="d-flex align-items-center")
													input(type="checkbox")
													span
													span(class="input__text")
														| трековые 
											label(class="input input_checkbox")
												span(class="d-flex align-items-center")
													input(type="checkbox")
													span
													span(class="input__text")
														| модульные  
											label(class="input input_checkbox")
												span(class="d-flex align-items-center")
													input(type="checkbox")
													span
													span(class="input__text")
														| карданные  
											label(class="input input_checkbox")
												span(class="d-flex align-items-center")
													input(type="checkbox")
													span
													span(class="input__text")
														| встраиваемые  
											label(class="input input_checkbox")
												span(class="d-flex align-items-center")
													input(type="checkbox")
													span
													span(class="input__text")
														| со степенью защиты 
											label(class="input input_checkbox")
												span(class="d-flex align-items-center")
													input(type="checkbox")
													span
													span(class="input__text")
														| для подвесных потолков
								div(class="filter__item pb-5")
									h3(data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="true" aria-controls="collapseTwo" class="collapsed")
										| Цена, руб
									div(class="collapse" id="collapseTwo")
										div(class="card card-body")
											<div class="py-4">
												<div id="slider-range-one"></div>
											</div>
											div(class="filter__number d-flex justify-content-between align-items-center")
												input(type="number" id="slider-range-one__min" value="0")
												| до
												input(type="number" id="slider-range-one__max" value="500")
								div(class="filter__item pb-5")
									h3(data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed")
										| Мощность, Вт
									div(class="collapse" id="collapseThree")
										div(class="card card-body")
											<div class="py-4">
												<div id="slider-range-two"></div>
											</div>
											div(class="filter__number d-flex justify-content-between align-items-center")
												input(type="number" id="slider-range-two__min" value="0")
												| до
												input(type="number" id="slider-range-two__max" value="500")
								div(class="filter__item pb-5")
									h3(data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="true" aria-controls="collapseFour" class="collapsed")
										| Цветовая температура, К
									div(class="collapse" id="collapseFour")
										div(class="card card-body")
											<div class="py-4">
												<div id="slider-range-three"></div>
											</div>
											div(class="filter__number d-flex justify-content-between align-items-center")
												input(type="number" id="slider-range-three__min" value="0")
												| до
												input(type="number" id="slider-range-three__max" value="500")
								div(class="filter__item pb-5")
									h3(data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="true" aria-controls="collapseFive" class="collapsed")
										| Индекс цветопередачи, Ra 
									div(class="collapse" id="collapseFive")
										div(class="card card-body")
											<div class="py-4">
												<div id="slider-range-four"></div>
											</div>
											div(class="filter__number d-flex justify-content-between align-items-center")
												input(type="number" id="slider-range-four__min" value="0")
												| до
												input(type="number" id="slider-range-four__max" value="500")
								div(class="filter__item pb-5")
									h3(data-toggle="collapse" href="#collapseSixe" role="button" aria-expanded="true" aria-controls="collapseSixe" class="collapsed")
										| Цвет корпуса
									div(class="collapse" id="collapseSixe")
										div(class="card card-body")
											label(class="input__checkbox_btn")
												input(type="checkbox")
												span(class="input__text")
													| Черный
											label(class="input__checkbox_btn")
												input(type="checkbox")
												span(class="input__text")
													| Бежевый  
											label(class="input__checkbox_btn")
												input(type="checkbox")
												span(class="input__text")
													| Белый  
											label(class="input__checkbox_btn")
												input(type="checkbox")
												span(class="input__text")
													| Серый
								div(class="filter__item pb-5")
									h3(data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="true" aria-controls="collapseSeven" class="collapsed")
										| Тип светильников
									div(class="collapse " id="collapseSeven")
										div(class="card card-body")
											div(class="row")
												div(class="col-6 d-flex flex-column")
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| нет 
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| 0  
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| 1  
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| 2  
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| 3
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| 4
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| 5
												div(class="col-6 d-flex flex-column")
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| 6 
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| 7  
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| 8  
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| 9  
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| 10
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| Dali
													label(class="input input_checkbox")
														span(class="d-flex align-items-center")
															input(type="checkbox")
															span
															span(class="input__text")
																| Triac
								div(class="filter__item pb-5")
									h3(data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="true" aria-controls="collapseEight" class="collapsed")
										| Длина светильника, см
									div(class="collapse" id="collapseEight")
										div(class="card card-body")
											<div class="py-4">
												<div class="slider-range-five" id="slider-range-five"></div>
											</div>
											div(class="filter__number d-flex justify-content-between align-items-center")
												input(type="number" id="slider-range-five__min" value="0")
												| до
												input(type="number" id="slider-range-five__max" value="500")
					div(class="col-lg-9")
						div(class="category__header")
							span(class="category__count")
								| В категории <span class="category__count__int">120</span> <span class="category__count_str">товаров</span> в 1000 модификациях
							div(class="category__filter")
								span(class="pr-2")
									| сортировать по:
								select(class="basket__select my-4 my-lg-0")
									option
										| популярности
									option
										| по ухахатбл
									option
										| популярности
							div(class="category__nu")
								span(class="pr-2")
									| Показывать по:
								select(class="basket__select my-4 my-lg-0")
									option
										| 10
									option
										| 15
									option
										| 20
						div(class="category__content__wrap")
							-for (var i = 0; i < 5; i++)
								div(class="category__item")
									div(class="row")
										div(class="col-12 col-lg-4")
											div(class="category__preview")
												picture
													source(srcset="images/category/1x2.png 2x")
													img(class="lazyload" data-src="images/category/1.png" alt="img")
												div(class="category__message category__message_sale")
													| sale
										div(class="col-12 col-lg-5 ")
											div(class="category__options")
												span(class="category__item__type")
													| STR 4545665
												span(class="category__item__title")
													| Трековый светильник ORIGI LED Standard (Оптима)
												div(class="category__item__line")
													span
														| Мощность
													span
														| 24-37 Вт
												div(class="category__item__line")
													span
														| Индекс цветопередеачи 
													span
														| 80+
												div(class="category__item__line")
													span
														| Световой поток
													span
														| 3000-4550 лм
												div(class="category__item__line")
													span
														| Цветовая температура 
													span
														| 3000-4000 К
												div(class="category__color pt-3")
													span(style="background-color:#F0F3F7;")
													span(style="background-color:#41454B;")
													span(style="background-color:#D9D9D9;")
										div(class="col-12 col-lg-3 py-5 py-lg-0")
											div(class="category__item__fin")
												span(class="category__item__price")
													| 1,890 руб
												a(href="#" class="btn btn_main")
													| Подробнее
						div(class="row py-5")
						div(class="col-12 col-lg-10 col-xl-9 offset-lg-2 offset-xl-3 pb-5")
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li class="page-item page-item_left">
										<a class="page-link" href="#" aria-label="Previous">
											<svg xmlns="http://www.w3.org/2000/svg" width="10.607" fill="#707070" height="18.385" viewBox="0 0 10.607 18.385">
												<g id="Symbol_110" data-name="Symbol 110" transform="translate(-43.807)" opacity="0.2">
													<g id="Group_5899" data-name="Group 5899" transform="translate(181 495.192) rotate(180)">
														<rect id="Rectangle_5555" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)" />
														<rect id="Rectangle_5554" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)" />
														<rect id="Rectangle_5556" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)" />
													</g>
												</g>
											</svg>
										</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">4</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">...</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">26</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
											<svg xmlns="http://www.w3.org/2000/svg" width="10.607" fill="#707070" height="18.385" viewBox="0 0 10.607 18.385">
												<g id="Symbol_110" data-name="Symbol 110" transform="translate(-43.807)" opacity="0.2">
													<g id="Group_5899" data-name="Group 5899" transform="translate(181 495.192) rotate(180)">
														<rect id="Rectangle_5555" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)" />
														<rect id="Rectangle_5554" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)" />
														<rect id="Rectangle_5556" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)" />
													</g>
												</g>
											</svg>
										</a>
									</li>
								</ul>
							</nav>
						div(class="card__project d-none d-lg-block")
							div(class="row pb-5")
								div(class="col-12")
									div(class="d-flex align-items-center pb-5")
										h2(class="pr-2")
											| Примеры трекового освещения:
							div(class="row pb-5")
								div(class="col overflow-hidden")
									a(href="#" class="card__project__item")
									picture
										source(srcset="images/category/blockx2.png 2x")
										img(class="lazyload w-100 img-fluid" data-src="images/category/block.png" alt="img")
										div(class="card__project__deep")
											span(class="h3")
												| Проект освещения Optima
								div(class="col overflow-hidden")
									a(href="#" class="card__project__item")
										picture
											source(srcset="images/category/blockx2.png 2x")
											img(class="lazyload w-100 img-fluid" data-src="images/category/block.png" alt="img")
										div(class="card__project__deep")
											span(class="h3")
												| Проект освещения Optima
								div(class="col overflow-hidden")
									a(href="#" class="card__project__item")
										picture
											source(srcset="images/category/blockx2.png 2x")
											img(class="lazyload w-100 img-fluid" data-src="images/category/block.png" alt="img")
										div(class="card__project__deep")
											span(class="h3")
												| Проект освещения Optima
							div(class="row")
								div(class="col overflow-hidden")
									a(href="#" class="card__project__item")
										picture
											source(srcset="images/category/blockx2.png 2x")
											img(class="lazyload w-100 img-fluid" data-src="images/category/block.png" alt="img")
										div(class="card__project__deep")
											span(class="h3")
												| Проект освещения Optima
								div(class="col overflow-hidden")
									a(href="#" class="card__project__item")
										picture
											source(srcset="images/category/blockx2.png 2x")
											img(class="lazyload w-100 img-fluid" data-src="images/category/block.png" alt="img")
										div(class="card__project__deep")
											span(class="h3")
												| Проект освещения Optima
								div(class="col overflow-hidden")
									a(href="#" class="card__project__item")
										picture
											source(srcset="images/category/blockx2.png 2x")
											img(class="lazyload w-100 img-fluid" data-src="images/category/block.png" alt="img")
										div(class="card__project__deep")
											span(class="h3")
												| Проект освещения Optima
						div(class="category__footer")
							h2 
								| Преимущества трековых светильников
							p
								| <span>Энергоэффективность.</span> При одинаковом качестве освещения эффективность энергосбережения трековых светодиодных светильников по сравнению с галогенными выше на 54%. Расходы на электроэнергию сокращаются в 2 раза!
							p
								| <span> Продолжительный срок службы.</span> Светодиодные модули Standart Type от японского концерна CITIZEN ELECTRONICS работают 50 000 часов. Это 5.5 лет. На полгода больше, чем гарантийный срок службы (5 лет) всего осветительного прибора. Забудьте о замене ламп надолго!
							p
								| <span>Экологическая безопасность.</span>  При производстве трековых светильников вредные вещества не применяются. Готовый прибор не содержит ртути и других тяжелых металлов. Вам не придётся решать организационные и финансовые вопросы, связанные с утилизацией.
							p
								| <span>Надежность корпуса.</span>  Алюминиевый корпус одновременно является защитным кожухом осветительного элемента и его пассивным радиатором, отводящим тепло. Материал корпусов облегчает прожекторы и не дает им нагреться выше 60°С. Устанливайте в любую точку помещения, не опасаясь за пожарную безопасность! Мобильность. Монтируются на шинопроводе в любой его точке. Особенность конструкции позволяет направлять свет на 355° по вертикали и на 120° по горизонтали. Для эффектной подсветки нужно только выбрать объект или локацию и направить на него свет!
		div(class="category__footer_down")
			div(class="container")
				div(class="row")
					div(class="col-12 p-0 py-lg-1")
						div(class="spez")
							h2
								| Подбор светильников со специалистом
							p
								| Бесплатный расчет оборудования и полноценный проект<br>освещения под ваше помещение за 1 день.
							form(class="form form_card")
								div(class="form__wr")
									label
										| Ваше имя
										input(type="text" placeholder="Введите ваше имя")
									label(class="pt-4 pt-lg-0")
										| Ваш номер телефона
										input(type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ")
								div(class="form__line form__line__cke align-items-center pt-4")
									div(class="form__line_f d-flex align-items-start justify-content-start")
										label(class="m-0")
											input(type="checkbox" id="checkbox" class="checkbox" checked aria-label="Checkbox for following text input")
											span(for="checkbox" class="checkbox__label")
										p( class="form__info")
											| Согласен с политикой обработки
											a(href="#" class="form__info")
												| персональных данных
									button(class="btn")
										| Отправить
							div(class="spez__bg d-none d-lg-block")
								picture
									source(media="(max-width: 991px)" data-srcset="images/card/bg_1.png")
									img(class="lazyload" data-src="images/card/bg_2.png" alt="logo")


