extends base.pug
block content

	div(class="content__header")
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item active" aria-current="page")
								| Контакты
					h1
						| Контакты
	div(class="contacts")
		div(id="map" style="width: 100%; height: 473px")
		div(class="container pt-5")
			div(class="row pt-5 d-none d-lg-flex")
				div(class="col-lg-4")
					h2
						| Контактные данные
				div(class="col-lg-4")
				div(class="col-lg-4")
					h2
						| Реквизиты
			div(class="row align-items-stretch requisites__row")
				div(class="col-md-6 col-12 col-lg-4 requisites")
					div(class="h-100 d-flex flex-column align-items-start justify-content-between")
						div(class="phone-collection d-block")
							h2(class="d-block d-lg-none pb-4")
								| Контактные данные
							div(class="phone-collection__item")
								div(class="d-lg-flex")
									a(class="phone-collection__number mr-3" href="tel:84956413848")
										| 8 495 641-38-48 
									a(class="phone-collection__number" href="tel:84956413848")
										| 8 495 641-38-48
								span(class="phone-collection__description")
									| (бесплатно с мобильных и по России)<br>127282, Москва, ул. Полярная, д. 41, стр. 1.
						a(href="mailto:info@interalighting.ru" class="requisites__a")
							| info@interalighting.ru
				div(class="col-md-6 col-12 col-lg-4 requisites py-4 py-lg-0")
					div(class="h-100 d-flex flex-column align-items-start justify-content-between")
						div(class="phone-collection")
							div(class="phone-collection__item")
								a(class="phone-collection__number" href="tel:88005553848")
									| 8 800 555-38-48 
								span(class="phone-collection__description")
									| пн-чт - 09:00 - 18:00, пт - 09:00 - 17:00<br>сб-вс - выходные дни
						button(class="requisites__btn")
							| Версия для печати
				div(class="col-md-6 col-12 col-lg-4 requisites")
					h2(class="d-block d-lg-none pb-4")
						| Реквизиты
					span
						| Юр. адрес: 141207, Московская обл, Пушкинский р-н, г Пушкино, ул. Грибоедова, д.3, офис 22
						span
							| ИНН: 77159421475
						span
							| ОГРН: 1127747134668
			div(class="row")
				div(class="col-12 col-lg-8")
					div(class="contacts__item")
						h3
							| Как проехать на автомобиле
						p
							| Наш офис и склад находятся на территории бывшего технопарка. Ориентир: шлагбаум, на заборе указатель «Интера Лайтинг». При въезде сообщите охраннику, что Вы направляетесь в нашу компанию. После того как откроют шлагбаум, следует припарковаться на гостевой стоянке и пройти в административное здание. Далее Вы связываетесь с нашими сотрудниками по внутреннему телефону 373, и мы заказываем пропуск в офис и на склад. Внимание! Для оформления пропуска в офис нужен паспорт, для оформления пропуска в офис и на склад  требуется в/у и свидетельство на ТС. Пропуск оформляется на месте, заранее заказывать не требуется.
					div(class="contacts__item")
						h3
							| Как проехать на автомобиле
						p
							| Наш офис и склад находятся на территории бывшего технопарка. Ориентир: шлагбаум, на заборе указатель «Интера Лайтинг». При въезде сообщите охраннику, что Вы направляетесь в нашу компанию. После того как откроют шлагбаум, следует припарковаться на гостевой стоянке и пройти в административное здание. Далее Вы связываетесь с нашими сотрудниками по внутреннему телефону 373, и мы заказываем пропуск в офис и на склад. Внимание! Для оформления пропуска в офис нужен паспорт, для оформления пропуска в офис и на склад  требуется в/у и свидетельство на ТС. Пропуск оформляется на месте, заранее заказывать не требуется.
				div(class="col-12 col-lg-4 pt-5 pt-lg-0")
					h3
						| Задать вопрос
					form(class="form form_contacts")
						label
							| Ваше имя
							input(type="text" placeholder="Андрей")
						label()
							| Email
							input(type="email" placeholder="example@example.com")
						label
							| Ваш вопрос
							textarea(placeholder="Тект комментария")
						button(type="submit" class="btn")
							| Оставить комментарий
