extends base.pug
block content

	div(class="main")
		
		div(class="main__first")
			div(class="main__first_bg")
			div(class="container")
				div(class="row")
					div(class="col-12 col-lg-5 pt-5 pt-lg-0 d-flex flex-column justify-content-center align-items-start")
						span(class="reshenia__hit")
								| Лидер рынка
						h1
							| Производство<br>LED светильников
						span(class="main__first_d")
							| Полный цикл производства в нашей стране.
						p
							| Производство и реализация осветительного оборудования коммерческого назначения массового спроса в доступном ценовом сегменте.✌️
						a(class="btn btn_main" href="#")
							span(class="d-flex align-items-center")
								| Перейти в каталог
								<i class="pl-3 fas fa-caret-right"></i>
					div(class="col-12 col-lg-7 px-0 px-lg-4 pt-5 pt-lg-0")
						div(class="main__slider__wr")
							div(class="main__slider")
								-for (var i = 0; i < 4; i++)
									div(class="position-relative")
										picture
											source(media="(max-width: 991px)" srcset="images/main/slideM.png")
											img(class="lazyload" data-lazy="images/main/slide.png" alt="img")
										img(class="lazyload main__slider__img" data-src="images/main/item.png" alt="img")
										span(class="main__slider__title")
											| Intera<br>Lighting
										div(class="main__slider__content")
											span(class="main__slider__header")
												| Модульный светильник 
												span
													| Module line
											div(class="row")
												div(class="col-12 col-lg-6")
													p
														| Для создания непрерывных световых линий. Посмотрите более 100 модификаций этого светильника.
													div()
														span(class="main__slider__price")
															| 3,890 руб
														a(href="#" class="main__second__link")
															| Подробнее
												div(class="col-6 main__slider__footer")
													div(class="d-flex justify-content-between align-items-center")
														span
															| Мощность
														span
															| 24-37 Вт
													div(class="d-flex justify-content-between align-items-center")
														span
															| Индекс цветопередеачи
														span
															| 80+
													div(class="d-flex justify-content-between align-items-center")
														span
															| Световой поток
														span
															| 3000-4550 лм
													div(class="d-flex justify-content-between align-items-center")
														span
															| Цветовая температура
														span
															| 3000-4000 К
		div(class="container")
			div(class="main__second")
				div(class="row")
					div(class="col-12")
						div(class="d-flex justify-content-between align-items-center pb-5")
							h2
								| Отраслевые решения
							a(href="#" class="main__second__link d-none d-lg-block")
								| Все решения
				div(class="row d-lg-none")
					div(class="col-12 ")
						div(class="main__second__slider mobile__arrow")
							a(class="main__second__item" href="#")
								picture()
									source(media="(min-width: 1024px)" srcset="1x2.png 1024w" sizes="50vw")
									img(class="lazyload w-100" data-lazy="images/main/1.png" alt="img")
								div(class="main__second__item__dep")
									span(class="h3 text-center")
										| Освещение магазинов
							a(class="main__second__item" href="#")
								picture()
									source(srcset="images/main/2x2.png 2x")
									img(class=" lazyload w-100" src="images/main/2.png" alt="img")
								div(class="main__second__item__dep")
									span(class="h3 text-center")
										| Освещение офисов
							a(class="main__second__item" href="#")
								picture()
									source(srcset="images/main/3x2.png 2x")
									img(class="lazyload w-100" src="images/main/3.png" alt="img")
								div(class="main__second__item__dep")
									span(class="h3 text-center")
										| Освещение складов
							a(class="main__second__item" href="#")
								picture()
									source(srcset="images/main/4x2.png 2x")
									img(class="lazyload w-100" src="images/main/4.png" alt="img")
								div(class="main__second__item__dep")
									span(class="h3 text-center")
										| Автосалоны
							a(class="main__second__item" href="#")
								picture()
									source(srcset="images/main/5x2.png 2x")
									img(class="lazyload w-100" data-src="images/main/5.png" alt="img")
								div(class="main__second__item__dep")
									span(class="h3 text-center")
										| Спортзалы
							a(class="main__second__item" href="#")
								picture()
									source(srcset="images/main/6x2.png 2x")
									img(class="lazyload w-100" src="images/main/6.png" alt="img")
								div(class="main__second__item__dep")
									span(class="h3 text-center")
										| Салоны красоты
							a(class="main__second__item" href="#")
								picture()
									source(srcset="images/main/7x2.png 2x")
									img(class="lazyload w-100" src="images/main/7.png" alt="img")
								div(class="main__second__item__dep")
									span(class="h3 text-center")
										| Рестораны
				div(class="row d-none d-lg-flex")
					div(class="col-12 col-lg-4 pb-5 pb-lg-0")
						a(class="main__second__item" href="#")
							picture()
								source(srcset="images/main/1x2.png 2x")
								img(class="lazyload w-100" data-src="images/main/1.png" alt="img")
							div(class="main__second__item__dep")
								span(class="h3 text-center")
									| Освещение магазинов
					div(class="col-12 col-lg-4 pb-5 pb-lg-0")
						a(class="main__second__item" href="#")
							picture()
								source(srcset="images/main/2x2.png 2x")
								img(class="lazyload w-100" data-src="images/main/2.png" alt="img")
							div(class="main__second__item__dep")
								span(class="h3 text-center")
									| Освещение офисов
					div(class="col-12 col-lg-4 pb-5 pb-lg-0")
						a(class="main__second__item" href="#")
							picture()
								source(srcset="images/main/3x2.png 2x")
								img(class="lazyload w-100" data-src="images/main/3.png" alt="img")
							div(class="main__second__item__dep")
								span(class="h3 text-center")
									| Освещение складов
				div(class="row pt-5 d-none d-lg-flex")
					div(class="col-12 col-lg-3 pb-5 pb-lg-0")
						a(class="main__second__item" href="#")
							picture()
								source(srcset="images/main/4x2.png 2x")
								img(class="lazyload w-100" data-src="images/main/4.png" alt="img")
							div(class="main__second__item__dep")
								span(class="h3 text-center")
									| Автосалоны
					div(class="col-12 col-lg-3 pb-5 pb-lg-0")
						a(class="main__second__item" href="#")
							picture()
								source(srcset="images/main/5x2.png 2x")
								img(class="lazyload w-100" data-src="images/main/5.png" alt="img")
							div(class="main__second__item__dep")
								span(class="h3 text-center")
									| Спортзалы
					div(class="col-12 col-lg-3 pb-5 pb-lg-0")
						a(class="main__second__item" href="#")
							picture()
								source(srcset="images/main/6x2.png 2x")
								img(class="lazyload w-100" data-src="images/main/6.png" alt="img")
							div(class="main__second__item__dep")
								span(class="h3 text-center")
									| Салоны красоты
					div(class="col-12 col-lg-3 pb-5")
						a(class="main__second__item" href="#")
							picture()
								source(srcset="images/main/7x2.png 2x")
								img(class="lazyload w-100" data-src="images/main/7.png" alt="img")
							div(class="main__second__item__dep")
								span(class="h3 text-center")
									| Рестораны
			div(class="main__third")
				div(class="container")
					div(class="row")
						div(class="col-12 pb-5")
							div(class="about__sixth")
								h2(class="text-left")
									| Каталог освещения
								div(class="row")
									- for (var i = 1; i < 5; i++)
										div(class="col-12 col-lg-3")
											a(class="about__sixth__item" href="#")
												div(class="about__sixth__item__wra")
													picture(class="order-2 order-lg-1")
														source(srcset="images/about/fd"+i+"x2.png 2x")
														img(class="lazyload" data-src="images/about/fd"+i+".png" alt="img")
													h3(class="order-1 order-lg-2")
														| Трековые светильники
								div(class="d-flex justify-content-center pt-5")
									a(href="#" class="main__third__more")
										| Показать весь каталог
			div(class="row")
				div(class="col-12")
					div(class="main__fourth")
						h2
							| Наша продукция
						
						div(class="row no-gutters mb-3 d-none d-lg-flex")
							div(class="col")
								label(class="main__fourth__input")
									input(type="radio" name="e" checked)
									span
										| Популярные товары
							div(class="col")
								label(class="main__fourth__input")
									input(type="radio" name="e")
									span
										| Новинки
							div(class="col")
								label(class="main__fourth__input")
									input(type="radio" name="e")
									span
										| Акция
						div(class="copy ")
							div(class="d-lg-none")
								div(class="main__fourth__slider mobile__arrow")
									-for (var i = 0; i < 8; i++)
										div(class="copy__item")
											div(class="d-flex justify-content-center")
												picture(class="order-2 order-lg-1")
													source(srcset="images/card/copy1x2.png 2x")
													img(class="lazyload" data-src="images/card/copy1.png" alt="img")
											div()
												span(class="copy__type")
													| STR 4545635
												span(class="h3")
													| Трековый светильник ORIGI LED Standard (Оптима)
												div(class="d-flex justify-content-between align-items-center pb-3")
													span(class="copy__price")
														| 3 840 руб
													a(href="#")
														| Подробнее
											div(class="copy__item__messsage hit")
												| sale
								div(class="d-flex justify-content-center pt-5 pt-lg-0")
									a(class="btn btn_main" href="#")
										| Перейти в каталог
							div(class="row d-none d-lg-flex")
								-for (var i = 0; i < 8; i++)
									div(class="col-12 col-md-6 col-lg-4 col-xl-3 pb-5")
										div(class="copy__item")
											div(class="d-flex justify-content-center")
												picture(class="order-2 order-lg-1")
													source(srcset="images/card/copy1x2.png 2x")
													img(class="lazyload" data-src="images/card/copy1.png" alt="img")
											div()
												span(class="copy__type")
													| STR 4545635
												span(class="h3")
													| Трековый светильник ORIGI LED Standard (Оптима)
												div(class="d-flex justify-content-between align-items-center pb-3")
													span(class="copy__price")
														| 3 840 руб
													a(href="#")
														| Подробнее
											div(class="copy__item__deep")
												div(class="d-flex justify-content-between align-items-center pb-3")
													span
														| Мощность
													span
														| 24-37 Вт
												div(class="d-flex justify-content-between align-items-center pb-3")
													span
														| Индекс цветопередеачи 
													span
														| 80+
												div(class="d-flex justify-content-between align-items-center pb-3")
													span
														| Световой поток 
													span
														| 3000-4550 лм
												div(class="d-flex justify-content-between align-items-center")
													span
														| Цветовая температура 
													span
														| 3000-4000 К
											div(class="copy__item__messsage hit")
												| sale
							div(class="row d-none d-lg-flex")
								div(class="col-12")
									<nav aria-label="Page navigation">
										<ul class="pagination">
											<li class="page-item page-item_left">
												<a class="page-link" href="#" aria-label="Previous">
													<svg xmlns="http://www.w3.org/2000/svg" width="10.607" fill="#707070" height="18.385" viewBox="0 0 10.607 18.385">
														<g id="Symbol_110" data-name="Symbol 110" transform="translate(-43.807)" opacity="0.2">
															<g id="Group_5899" data-name="Group 5899" transform="translate(181 495.192) rotate(180)">
																<rect id="Rectangle_5555" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)" />
																<rect id="Rectangle_5554" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)" />
																<rect id="Rectangle_5556" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)" />
															</g>
														</g>
													</svg>
												</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">1</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">2</a>
											</li>
											<li class="page-item active">
												<a class="page-link" href="#">3</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">4</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">...</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">26</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#" aria-label="Next">
													<svg xmlns="http://www.w3.org/2000/svg" width="10.607" fill="#707070" height="18.385" viewBox="0 0 10.607 18.385">
														<g id="Symbol_110" data-name="Symbol 110" transform="translate(-43.807)" opacity="0.2">
															<g id="Group_5899" data-name="Group 5899" transform="translate(181 495.192) rotate(180)">
																<rect id="Rectangle_5555" data-name="Rectangle 5555" width="2" height="13" transform="translate(128 487.414) rotate(-135)" />
																<rect id="Rectangle_5554" data-name="Rectangle 5554" width="2" height="2" transform="translate(128 484.586) rotate(45)" />
																<rect id="Rectangle_5556" data-name="Rectangle 5556" width="2" height="13" transform="translate(137.192 493.778) rotate(135)" />
															</g>
														</g>
													</svg>
												</a>
											</li>
										</ul>
									</nav>
							div(class="row xz_3_wra")
								div(class="col-12 col-lg-3 pb-5 pb-lg-0")
									div(class="xz_3")
										div(class="xz_3__header")
											img(class="lazyload" data-src="images/main/xz1.svg" alt='img')
											span(class="d-none d-lg-block pr-4")
												| 01
										span(class="h3")
											| Производство
										p
											| Мы диллеры российских и европейских производителей
								div(class="col-12 col-lg-3 pb-5 pb-lg-0")
									div(class="xz_3")
										div(class="xz_3__header")
											img(class="lazyload" data-src="images/main/xz2.svg" alt='img')
											span(class="d-none d-lg-block pr-4")
												| 02
										span(class="h3")
											| Проектирование
										p
											| Производим собственную линейку светильников Оптима 
								div(class="col-12 col-lg-3 pb-5 pb-lg-0")
									div(class="xz_3")
										div(class="xz_3__header")
											img(class="lazyload" data-src="images/main/xz3.svg" alt='img')
											span(class="d-none d-lg-block pr-4")
												| 03
										span(class="h3")
											| Доставка
										p
											| Осуществляем доставку в города России, Белоруссии и Казахстана. 
								div(class="col-12 col-lg-3")
									div(class="xz_3")
										div(class="xz_3__header")
											img(class="lazyload" data-src="images/main/xz4.svg" alt='img')
											span(class="d-none d-lg-block pr-4")
												| 04
										span(class="h3")
											| Монтаж 
										p
											| Создаем модели освещения для проектов любой сложности. 
						div(class="main__fifth")
							div(class="row")
								div(class="col-12 col-lg-6 pb-5 pb-lg-0 order-2 order-lg-1")
									h2
										| Добро пожаловать
									p(class="main__fifth_f")
										| ООО «Интера Лайтинг» - это российская проектно - производственная компания. Технологические мощности и склад готовой продукции находятся в г. Москва. 
									p
										| Мы постоянно развиваемся, следуем всем тенденциям рынка, потребностям партнеров и используем актуальные разработки в светотехнической сфере. Наши светительные приборы соответствуют высшим стандартам качества, обладают всеми заявленными техническими и светотехническими характеристиками.
									a(href="#" class="main__second__link")
										| Подробнее о компании
								div(class="col-12 col-lg-6 order-1 order-lg-2 pb-5 pb-lg-0")
									a(class="trust" href="#" data-toggle="modal" data-target="#ModalVideo" data-whatever="https://www.youtube.com/embed/AMwQ7aY2_wg")
										span(class="trust__content")
											img(class="lazyload play" data-src="images/reshenia/play.svg" alt="play img")
										picture()
											source(srcset="images/main/vx2.png 2x")
											img(class="w-100 lazyload" data-src="images/main/v.png" alt="img")
						div(class="main__sixth")
							div(class="row")
								div(class="col-12")
									h2
										| Проекты
							div(class="d-lg-none")
								div(class="main__sixth__slider mobile__arrow")
									div()
										a(href="#" class="card__project__item")
											picture()
												source(srcset="images/card/1x2.png 2x")
												img(class="w-100" data-lazy="images/card/1.png" alt="img")
											div(class="card__project__deep")
												span(class="h3")
													| Коворкинг «Platform»
									div()
										a(href="#" class="card__project__item")
											picture()
												source(srcset="images/card/2x2.png 2x")
												img(class="w-100" data-lazy="images/card/2.png" alt="img")
											div(class="card__project__deep")
												span(class="h3")
													| Коворкинг «Platform»
									div()
										a(href="#" class="card__project__item")
											picture()
												source(srcset="images/card/3x2.png 2x")
												img(class="w-100" data-lazy="images/card/3.png" alt="img")
											div(class="card__project__deep")
												span(class="h3")
													| Коворкинг «Platform»
									div()
										a(href="#" class="card__project__item")
											picture()
												source(srcset="images/card/4x2.png 2x")
												img(class="w-100" data-lazy="images/card/4.png" alt="img")
											div(class="card__project__deep")
												span(class="h3")
													| Коворкинг «Platform»
									div()
										a(href="#" class="card__project__item")
											picture()
												source(srcset="images/card/5x2.png 2x")
												img(class="w-100" data-lazy="images/card/5.png" alt="img")
											div(class="card__project__deep")
												span(class="h3")
													| Коворкинг «Platform»
							div(class="row pb-5 d-none d-lg-flex")
								div(class="col overflow-hidden")
									a(href="#" class="card__project__item")
										picture()
											source(srcset="images/card/1x2.png 2x")
											img(class="lazyload w-100 img-fluid" data-src="images/card/1.png" alt="img")
										div(class="card__project__deep")
											span(class="h3")
												| Коворкинг «Platform»
											p()
												| 85 м2, офисное помещение

								div(class="col overflow-hidden")
									a(href="#" class="card__project__item")
										picture()
											source(srcset="images/card/2x2.png 2x")
											img(class="lazyload w-100 img-fluid" data-src="images/card/2.png" alt="img")
										div(class="card__project__deep")
											span(class="h3")
												| Коворкинг «Platform»
											p()
												| 85 м2, офисное помещение
							div(class="row d-none d-lg-flex")
								div(class="col overflow-hidden")
									a(href="#" class="card__project__item")
										picture()
											source(srcset="images/card/3x2.png 2x")
											img(class="lazyload w-100 img-fluid" data-src="images/card/3.png" alt="img")
										div(class="card__project__deep")
											span(class="h3")
												| Коворкинг «Platform»
											p()
												| 85 м2, офисное помещение

								div(class="col overflow-hidden")
									a(href="#" class="card__project__item")
										picture()
											source(srcset="images/card/4x2.png 2x")
											img(class="lazyload w-100 img-fluid" data-src="images/card/4.png" alt="img")
										div(class="card__project__deep")
											span(class="h3")
												| Коворкинг «Platform»
											p()
												| 85 м2, офисное помещение
								div(class="col overflow-hidden")
									a(href="#" class="card__project__item")
										picture()
											source(srcset="images/card/5x2.png 2x")
											img(class="lazyload w-100 img-fluid" data-src="images/card/5.png" alt="img")
										div(class="card__project__deep")
											span(class="h3")
												| Коворкинг «Platform»
											p()
												| 85 м2, офисное помещение
						div(class="main__seventh")
							div(class="blog__content")
								div(class="row")
									div(class="col-12")
										h2
											| Последнее в нашем блоге
								div(class="d-block d-lg-none")
									div(class="main__seventh__slider mobile__arrow")
										-for (var i = 0; i < 3; i++)
											a(class="blog__item" href="#")
												picture()
													source(srcset="images/main/b1x2.png 2x")
													img(class="lazyload w-100" data-src="images/main/b1.png" alt="img")
												span
													| 25 декабря
												h3
													| Cовременные технологии в освещении
												p
													| Революционные инновации в сфере искусственного освещения случаются далеко не каждый год.
								div(class="row d-none d-lg-flex")
									- for (var i = 0; i < 3; i++)
										div(class="col-12 col-md-6 col-lg-4 mb-5")
											a(class="blog__item" href="#")
												picture()
													source(srcset="images/main/b1x2.png 2x")
													img(class="lazyload w-100" data-src="images/main/b1.png" alt="img")
												span
													| 25 декабря
												h3
													| Cовременные технологии в освещении
												p
													| Революционные инновации в сфере искусственного освещения случаются далеко не каждый год.
						div(class="main__eighth")
							div(class="row")
								div(class="col-12 col-lg-6 pb-5 pb-lg-0")
									div(class="otraslevie-reshenia__item banner")
										div(class="banner__content")
											div(class="banner__left")
												span(class="h3")
													| Реализуем нестандартные проекты освещения. 
												p()
													| Создавай новые решения!<br>Скидки на дизайн проектпомочь!
												a(href="#" class="main__second__link")
													| Подробнее
											div(class="banner__right")
												picture()
													source(srcset="images/OtraslevieReshenia/peoplex2.png 2x")
													img(class="lazyload" data-src="images/OtraslevieReshenia/people.png" alt="img")
								div(class="col-12 col-lg-6")
									div(class="otraslevie-reshenia__item banner banner__gre")
										div(class="banner__content")
											div(class="banner__left")
												span(class="h3")
													| Реализуем нестандартные проекты освещения. 
												p()
													| Создавай новые решения!<br>Скидки на дизайн проектпомочь!
												a(href="#" class="main__second__link")
													| Подробнее
											div(class="banner__right")
												picture()
													source(srcset="images/main/md1x2.png 2x")
													img(class="lazyload " data-src="images/main/md1.png" alt="img")
										

