extends base.pug
block content
	div(class="card card_modification")
		div(class="container")
			div(class="row")
				div(class="col-lg-6 card__left")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item")
								a(href="#")
									| Трековые светильники
							li(class="breadcrumb-item active" aria-current="page")
								| Трековые светильник...
					h1
						| Трековый светильник ORIGI LED Foodlight (Оптима)
					div(class="d-none d-lg-block")
						div(class="card__options")
							span(class="card__esti")
								<svg xmlns="http://www.w3.org/2000/svg" width="8.485" height="6.364" viewBox="0 0 8.485 6.364">
									<g  data-name="Group 19730" transform="translate(-114.672 -2086.843)">
										<rect id="Rectangle_6917" data-name="Rectangle 6917" width="8" height="1" transform="translate(116.793 2092.5) rotate(-45)" />
										<rect id="Rectangle_6916" data-name="Rectangle 6916" width="1" height="4" transform="translate(114.672 2090.379) rotate(-45)" />
									</g>
								</svg>
								| Есть в наличии
							span(class="card__zak")
								<svg xmlns="http://www.w3.org/2000/svg" width="8.485" height="6.364" viewBox="0 0 8.485 6.364">
									<g  data-name="Group 19730" transform="translate(-114.672 -2086.843)">
										<rect id="Rectangle_6917" data-name="Rectangle 6917" width="8" height="1" transform="translate(116.793 2092.5) rotate(-45)" />
										<rect id="Rectangle_6916" data-name="Rectangle 6916" width="1" height="4" transform="translate(114.672 2090.379) rotate(-45)" />
									</g>
								</svg>
								| Под заказ
						p
							| Трековые светодиодные светильники Оптима ORIGI LED мощностью 25 Вт и 39 Вт предназначены для освещения торговых площадей, лучшее сочетание световой эффективности (высокий световой поток) и индекса цветопередачи.
						h2(class="card__price_range")
							| 12 640 руб.
						div(class="d-flex align-items-center justify-content-between")
							a(class="btn btn_main" href="#")
								| В корзину
							<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,whatsapp"></div>
							//div(class="social d-none d-lg-flex pl-5")
								a(href="#" class="social__vk mr-2")
									<i class="fab fa-vk"></i>
								a(href="#" class="social__facebook mx-2")
									<i class="fab fa-facebook-f"></i>
								a(href="#" class="social__ok mx-2")
									<i class="fab fa-odnoklassniki"></i>
								a(href="#" class="social__twitter mx-2")
									<i class="fab fa-twitter"></i>
								a(href="#" class="social__whatsapp ml-2")
									<i class="fab fa-whatsapp"></i>
				div(class="col-lg-6 card_sl")
					div(id="card__slider")
						div()
							span(class='zoom w-100')
								picture()
									source(srcset="images/card/card1x2.png 2x")
									img(class="zoom_img w-100 lazyload" data-src="images/card/card1.png" alt="img")
						div()
							span(class='zoom w-100')
								picture()
									source(srcset="images/card/card1x2.png 2x")
									img(class="jqzoom w-100 lazyload" data-src="images/card/card1.png" alt="img")
						div()
							span(class='zoom w-100')
								picture()
									source(srcset="images/card/card1x2.png 2x")
									img(class="jqzoom w-100 lazyload" data-src="images/card/card1.png" alt="img")
					div(id="card__slider__nav")
						div(class="card__lsider__wrap slider__360"  data-slide="0")
							picture()
								source(srcset="images/card/slickx2.png 2x")
								img(class="lazyload" data-src="images/card/slick.png" alt="img")
						div(class="card__lsider__wrap" data-slide="1")
							picture()
								source(srcset="images/card/slickx2.png 2x")
								img(class="lazyload" data-src="images/card/slick.png" alt="img")
						div(class="card__lsider__wrap" data-slide="2")
							picture()
								source(srcset="images/card/slickx2.png 2x")
								img(class="lazyload" data-src="images/card/slick.png" alt="img")
						div(class="card__lsider__wrap_q" data-toggle="modal" data-target="#ModalVideo" data-whatever="https://www.youtube.com/embed/AMwQ7aY2_wg")
							img(class="lazyload" data-src="images/card/pley.svg" alt="img")
						div(class="card__lsider__wrap_q" data-toggle="modal" data-target="#Modal360")
							img(class="lazyload" data-src="images/card/360.svg" alt="img")
					div(class="d-block d-lg-none")
						div(class="card__options")
							span(class="card__esti")
								<svg xmlns="http://www.w3.org/2000/svg" width="8.485" height="6.364" viewBox="0 0 8.485 6.364">
									<g  data-name="Group 19730" transform="translate(-114.672 -2086.843)">
										<rect id="Rectangle_6917" data-name="Rectangle 6917" width="8" height="1" transform="translate(116.793 2092.5) rotate(-45)" />
										<rect id="Rectangle_6916" data-name="Rectangle 6916" width="1" height="4" transform="translate(114.672 2090.379) rotate(-45)" />
									</g>
								</svg>
								| Есть в наличии
							span(class="card__zak")
								<svg xmlns="http://www.w3.org/2000/svg" width="8.485" height="6.364" viewBox="0 0 8.485 6.364">
									<g  data-name="Group 19730" transform="translate(-114.672 -2086.843)">
										<rect id="Rectangle_6917" data-name="Rectangle 6917" width="8" height="1" transform="translate(116.793 2092.5) rotate(-45)" />
										<rect id="Rectangle_6916" data-name="Rectangle 6916" width="1" height="4" transform="translate(114.672 2090.379) rotate(-45)" />
									</g>
								</svg>
								| Под заказ
						p
							| Трековые светодиодные светильники Оптима ORIGI LED мощностью 25 Вт и 39 Вт предназначены для освещения торговых площадей, лучшее сочетание световой эффективности (высокий световой поток) и индекса цветопередачи.
						h2(class="card__price_range")
							| 12,640 руб.
						a(class="btn btn_main btn_move" href="#modification")
							| В корзину
							
		div(class="card__description")
			div(class="container")
				div(class="row")
					div(class="col-12 d-flex justify-content-between align-items-center")
						div(class="d-flex align-items-center")
							h2(class="pr-2")
								| Описание
							<i class="pl-5 pt-2 fas fa-minus"></i>
				div(class="row pt-4")
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Область применения
						p
							| Общее и акцентное освещение торговых площадей
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Отражатель
						p
							| Отражатели светильников выполнены из алюминия с высоким отражающим коэффициентом. Угол отражателей – 15°, 30°, 45° или 55°, КПД отражателей – не менее 81%.
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Конструкция
						p
							| Корпус трековых светильников изготовлен из литого алюминия, окрашен порошковой краской белого, серого или черного цветов. Корпус выполняет функцию радиатора (пассивная система охлаждения).
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Установка
						p
							| На трехфазный осветительный шинопровод стандарта euro-DIN или на поверхность потолка с использованием потолочного крепления.
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Источник света
						p
							| Светодиодные модули (LED) CITIZEN ELECTRONICS с высокими и стабильными световыми характеристиками, допустимое отклонение цветовой температуры 3 ступени эллипса МакАдама. Серия Standart Type - лучшее сочетание световой эффективности с индексом цветопередачи для широкого применения. Цветовые температуры - 3 000 K (теплый белый) и 4 000 K (нейтральный белый). По запросу возможно изготовление светильников с цветовыми температурами - 2 700 K, 3 500 K, 5 000 K и 6 500 K. Индекс цветопередачи Ra > 80.
					div(class="col-12 col-lg-6 pb-4")
						h3
							| Гарантия и срок службы
						p
							| Гарантия на трековые светильники Оптима ORIGI LED – 3 года. Срок службы – более 50 000 часов. L80 B10 (50 000 ч.) – через 50 000 часов световой поток светильников составит 80% от изначального (падение светового потока на 20%), у 10% светильников падение светового потока составит более 20%.
		div(class="card__release")
			div(class="container")
				div(class="row")
					div(class="col-12")
						picture
							source(srcset="images/card/releasex2.png 2x")
							source(media="(max-width: 991px)" data-srcset="images/card/release2.png")
							img(class="lazyload" data-src="images/card/release.png" alt="img")
						div(class="card__release_deep")
							span(class="h3")
								| Коворкинг «Platform»
							p()
								| 85 м2, офисное помещение
		div(class="card__https")
			div(class="container")
				div(class="row pb-5")
					div(class="col-12")
						div(class="d-flex align-items-center pb-5")
							h2(class="pr-2")
								| Инструкции и сертификаты к светильнику
							<i class="pl-5 pt-2 fas fa-minus"></i>
				div(class="card__https__slider")
					div(class="card__https__item__wr")
						a(class="card__https__item" href="#" download)
							img(class="lazyload" data-src="images/card/pdf.svg" alt="img")
							div(class="pl-4")
								p(class="pb-3")
									| Листовка Оптима ORIGI LED
								span()
									| .pdf, 202 КВ
					div(class="card__https__item__wr")
						a(class="card__https__item" href="#" download)
							img(class="lazyload" data-src="images/card/pdf.svg" alt="img")
							div(class="pl-4")
								p(class="pb-3")
									| Листовка Оптима ORIGI LED
								span()
									| .pdf, 202 КВ
					div(class="card__https__item__wr")
						a(class="card__https__item" href="#" download)
							img(class="lazyload" data-src="images/card/pdf.svg" alt="img")
							div(class="pl-4")
								p(class="pb-3")
									| Листовка Оптима ORIGI LED
								span()
									| .pdf, 202 КВ
					div(class="card__https__item__wr")
						a(class="card__https__item" href="#" download)
							img(class="lazyload" data-src="images/card/pdf.svg" alt="img")
							div(class="pl-4")
								p(class="pb-3")
									| Листовка Оптима ORIGI LED
								span()
									| .pdf, 202 КВ
		div(class="characteristics")
			div(class="container")
				div(class="row pb-lg-5")
					div(class="col-12 d-flex justify-content-between")
						div(class="d-flex align-items-center pb-5")
							h2(class="pr-2")
								| Характеристики
							img(class="lazyload pt-1" data-src="images/card/plus.svg" alt="img")
						div(class="modification__header_op d-flex align-items-center")
							p(class="d-none d-lg-block")
								| Описание характеристик
							span(class="ml-3" data-toggle="tooltip"  placement="auto" title="Подсказка, а что написать то?")
								<i class="fas fa-question"></i>
				div(class="row")
					div(class="col-12 col-lg-6")
						table(class="table table-borderless table-striped")
							tbody()
								tr()
									td()
										| Цветовая температура
									td()
										| 3000K
								tr()
									td()
										| Мощность источника света
									td()
										| 25 Вт
								tr()
									td()
										| Мощность источника света
									td()
										| 24,6 Вт
								tr()
									td()
										| Полная мощность светильника
									td()
										| 28,5 Вт	
								tr()
									td()
										| Индекс цветопередачи (Ra)
									td()
										| 80+
								tr()
									td()
										| Индекс цветопередачи (Ra)
									td()
										| min 80
								tr()
									td()
										| Индекс цветопередачи (R9)
									td()
										| 0
								tr()
									td()
										| Угол отражателя
									td()
										| 15°
								tr()
									td()
										| Цвет корпуса
									td()
										| белый
								tr()
									td()
										| Гарантия
									td()
										| 3 года
								tr()
									td()
										| Возможность диммирования
									td()
										| нет
								tr()
									td()
										| Тип диммирования
									td()
										| 2
					div(class="col-12 col-lg-6")
						table(class="table table-borderless table-striped")
							tbody()
								tr()
									td()
										| Световой поток светильника
									td()
										| 2 957 лм
								tr()
									td()
										| Световой поток светильника
									td()
										| 2 957 лм
								tr()
									td()
										| КПД отражателя
									td()
										| 83%
								tr()
									td()
										| Световой поток источника света
									td()
										| 3 563 лм
								tr()
									td()
										| Источник света
									td()
										| Citizen Gen6 1206 Standard Type 3000K
								tr()
									td()
										| Драйвер
									td()
										| Оптима 30W 700mA
								tr()
									td()
										| Применение светильника
									td()
										| 
								tr()
									td()
										| Энергоэффективность светильника
									td()
										| 104 лм/Вт
								tr()
									td()
										| Срок службы
									td()
										| > 50 000 ч (L80/B10)
								tr()
									td()
										| Масса
									td()
										| 1.5 кг
								tr()
									td()
										| Страна происхождения
									td()
										| Россия
								tr()
									td()
										| Цена
									td()
										| 4 400 RUB

		div(id="modification")
			div(class="container")
				div(class="row pb-lg-5")
					div(class="col-12 modification__header")
						div(class="d-flex align-items-center pb-lg-5")
							h2(class="pr-2")
								| Модификации 34
							<i class="pl-5 pt-2 fas fa-minus"></i>
						div(class="modification__header_op d-flex align-items-center")
							p(class="d-none d-lg-block")
								| Описание характеристик
							span(class="ml-3" data-toggle="tooltip"  placement="auto" title="Подсказка, а что написать то?")
								<i class="fas fa-question"></i>
				div(class="modification__content")
					div(class="row")
						div(class="col-12 p-0 pb-lg-1")
							div(class="modification__content__header  d-none d-lg-block")
								div(class="row align-items-start")
									div(class=" col-lg-2 ")
										a(class="modification__text" href="#")
											| Наименование<br>светильника
									div(class=" col-lg-1 pl-0")
										a(class="modification__text" href="#")
											| Цвет корпуса
									div(class=" col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Мощность Вт
									div(class=" col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Цветовая температура
									div(class=" col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Индекс цветопередачи
									div(class=" col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Световой поток
									div(class=" col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Угол отражателя
									div(class="col-lg-1 pl-0")
										a(class="modification__text modification__filter" href="#")
											| Цена за ед.
							div()
								<div id="carouselModificationInterval" class="carousel slide carousel-fade"  data-interval="false" data-wrap="false">
									<div class="carousel-inner">
										<div class="carousel-item active" data-interval="false" >
											div(class="modification__content__header modification__content__item")
												div(class="row")
													div(class="modification__content__item_col_head col-12  col-lg-2  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет
														a(class="modification__text modification__text_first" href="#")
															| ORIGI LED (6g06) 25W/830 15° white 1
													div(class="modification__content__item_col col-12  col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет<br>корпуса
														span(class="modification__text")
															| Черный
													div(class="modification__content__item_col col-12  col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Мощность<br>Вт
														span(class="modification__text ")
															| 25/34/23/ …
													div(class="modification__content__item_col col-12  col-lg-1 d-flex align-items-center")
														span(class="modification__text")
															| Цветовая<br>температура
														span(class="modification__text modification__text_m")
															| 3 000 K
													div(class="modification__content__item_col col-12  col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															|Индекс<br>цветопередачи
														span(class="modification__text ")
															| 80+
													div(class="modification__content__item_col col-12  col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Световой<br>поток
														span(class="modification__text ")
															| 2 500 лм
													div(class="modification__content__item_col col-12  col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Угол<br>отражателя
														span(class="modification__text ")
															| 15°
													div(class="modification__content__item_col col-12 col-lg-1   d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цена<br>за ед.
														span(class="modification__text modification__text_last")
															| 12,490 руб
													div(class="modification__content__item_col col-12 col-lg-3")
														form( class="d-flex justify-content-between")
															input(class="basket__select my-4 my-lg-0" type="number")
															button(class="btn btn_main  my-4 my-lg-0")
																| В корзину
										</div>
										<div class="carousel-item" data-interval="false">
											div(class="modification__content__header modification__content__item")
												div(class="row")
													div(class="modification__content__item_col_head col-12  col-lg-2  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет
														a(class="modification__text modification__text_first" href="#")
															| ORIGI LED (6g06) 25W/830 15° white 2
													div(class="modification__content__item_col col-12  col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет<br>корпуса
														span(class="modification__text")
															| Черный
													div(class="modification__content__item_col col-12  col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Мощность<br>Вт
														span(class="modification__text ")
															| 25/34/23/ …
													div(class="modification__content__item_col col-12  col-lg-1  d-flex align-items-center")
														span(class="modification__text")
															| Цветовая<br>температура
														span(class="modification__text modification__text_m")
															| 3 000 K
													div(class="modification__content__item_col col-12  col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															|Индекс<br>цветопередачи
														span(class="modification__text ")
															| 80+
													div(class="modification__content__item_col col-12  col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Световой<br>поток
														span(class="modification__text ")
															| 2 500 лм
													div(class="modification__content__item_col col-12  col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Угол<br>отражателя
														span(class="modification__text ")
															| 15°
													div(class="modification__content__item_col col-12 col-lg-1  d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цена<br>за ед.
														span(class="modification__text modification__text_last")
															| 12,490 руб
													div(class="modification__content__item_col col-12 col-lg-3")
														form( class="d-flex justify-content-between")
															input(class="basket__select my-4 my-lg-0" type="number")
															button(class="btn btn_main  my-4 my-lg-0")
																| В корзину
										</div>
										<div class="carousel-item" data-interval="false">
											div(class="modification__content__header modification__content__item")
												div(class="row")
													div(class="modification__content__item_col_head col-12  col-lg-2 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет
														a(class="modification__text modification__text_first" href="#")
															| ORIGI LED (6g06) 25W/830 15° white 3
													div(class="modification__content__item_col col-12  col-lg-1 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цвет<br>корпуса
														span(class="modification__text")
															| Черный
													div(class="modification__content__item_col col-12  col-lg-1 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Мощность<br>Вт
														span(class="modification__text ")
															| 25/34/23/ …
													div(class="modification__content__item_col col-12  col-lg-1 d-flex align-items-center")
														span(class="modification__text")
															| Цветовая<br>температура
														span(class="modification__text modification__text_m")
															| 3 000 K
													div(class="modification__content__item_col col-12  col-lg-1 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															|Индекс<br>цветопередачи
														span(class="modification__text ")
															| 80+
													div(class="modification__content__item_col col-12  col-lg-1 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Световой<br>поток
														span(class="modification__text ")
															| 2 500 лм
													div(class="modification__content__item_col col-12  col-lg-1 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Угол<br>отражателя
														span(class="modification__text ")
															| 15°
													div(class="modification__content__item_col col-12 col-lg-1 d-flex align-items-center")
														span(class="modification__text modification__text_m")
															| Цена<br>за ед.
														span(class="modification__text modification__text_last")
															| 12,490 руб
													div(class="modification__content__item_col col-12 col-lg-3")
														form( class="d-flex justify-content-between")
															input(class="basket__select my-4 my-lg-0" type="number")
															button(class="btn btn_main  my-4 my-lg-0")
																| В корзину
										</div>
									</div>
									<a class="carousel-control-prev" href="#carouselModificationInterval" role="button" data-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="carousel-control-next" href="#carouselModificationInterval" role="button" data-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							div(class="row pt-5 pb-5")
								div(class="pb-5 col-12 d-flex justify-content-center")
									a(class="btn btn_reset" href='#')
										| Показать все модификации
		div(class="container")
			div(class="row")
				div(class="col-12 p-0 py-lg-1")
					div(class="spez")
						h2
							| Подбор светильников со специалистом
						p
							| Бесплатный расчет оборудования и полноценный проект<br>освещения под ваше помещение за 1 день.
						form(class="form form_card")
							div(class="form__wr")
								label
									| Ваше имя
									input(type="text" placeholder="Введите ваше имя")
								label(class="pt-4 pt-lg-0")
									| Ваш номер телефона
									input(type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ")
							div(class="form__line form__line__cke align-items-center pt-4")
								div(class="form__line_f d-flex align-items-start justify-content-start")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" checked aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									p( class="form__info")
										| Согласен с политикой обработки
										a(href="#" class="form__info")
											| персональных данных
								button(class="btn")
									| Отправить
						div(class="spez__bg d-none d-lg-block")
							picture
								source(srcset="images/card/bg_2x2.png 2x")
								img(class="lazyload" data-src="images/card/bg_2.png" alt="logo")
		<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="Modal360" aria-labelledby="Modal360" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					| ...
				</div>
			</div>
		</div>

