extends base.pug
block content
	div(class="content__header")
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item active" aria-current="page")
								| Отраслевые решения
					h1
						| Отраслевые решения
	div(class="otraslevie-reshenia")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2()
						| Освещение каких помещений мы можем реализовывать
			div(class="row")
				each val, index in ['Магазины','Офисы','Складкских помещения','Музеи и галереи','Автосалоны','Спортзалы','Салоны красоты','Рестораны','Конференц-залы','Гостиницы и отели']
					div(class="col-12 col-sm-6 col-lg-3 pb-5")
						div(class="otraslevie-reshenia__item hover")
							div(class="otraslevie-reshenia__preview")
							div(class="otraslevie-reshenia__preview__image")
								picture()
									source(srcset="images/OtraslevieReshenia/" + index + "x2.png 2x")
									img(class="lazyload" data-src="images/OtraslevieReshenia/" + index + ".png" alt="img")
							a(class="otraslevie-reshenia__title" href="#")
								= val
							div(class="otraslevie-reshenia__deep")
								a(href="#2")
									| Ювелирные магазины
								a(href="#2")
									| Продуктовых магазины
								a(href="#2")
									| Магазины одежды
								a(href="#2")
									| Торговых центры
								a(href="#2")
									| Магазины мебели
								a(href="#2")
									| Магазины косметики
				div(class="col-12 col-lg-6")
					div(class="otraslevie-reshenia__item banner")
						div(class="banner__content")
							div(class="banner__left")
								span()
									| Не нашли вашего<br>типа помещений?
								p()
									| Напишите нам <a href="mailto:info@interalighting.ru">info@interalighting.ru</a> Либо оставьте ваш номер телефона и мы постараемся вам помочь!
								button(class="btn" data-toggle="modal" data-target="#modalCall")
									| Поулчить консультацию
							div(class="banner__right d-none d-xl-block")
								picture()
									source(srcset="images/OtraslevieReshenia/peoplex2.png 2x")
									img(class="lazyload" data-src="images/OtraslevieReshenia/people.png" alt="img")
