extends base.pug
block content
	- var arrDeep = ['','','','','', '', 'Свадебный салон Кристалл','ТРЦ РИО','Коворкинг «platform»']

	div(class="content__header")
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item")
								a(href="#")
									| Проекты
							li(class="breadcrumb-item active" aria-current="page")
								| Проект: Коворкинг «Platform»
					h1
						| Проекты
	div(class="project")
		div(class="container")
			div(class="project__slider mobile__arrow")
				picture()
					source(srcset="images/project/itemx2.png 2x")
					img(data-lazy="images/project/item.jpg" alt="img")
			div(class="row")
				div(class="col-12")
					div(class="project__header  d-flex justify-content-between pb-4")
						h2
							| Проект: Коворкинг «Platform»
						div(class="d-flex align-items-center py-4 py-lg-0")
							span(class="project__social")
								| Поделиться в соцсетях
							<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,whatsapp"></div>
				div(class="col-12")
					span(class="project__map")
						<svg xmlns="http://www.w3.org/2000/svg" width="11.355" height="16" viewBox="0 0 11.355 16">
							<g id="_1617454" data-name="1617454" transform="translate(-0.5)">
								<path id="Path_7907" data-name="Path 7907" d="M6.177,0A5.684,5.684,0,0,0,.5,5.677c0,3.034,3.714,8.774,5.677,8.774s5.677-5.74,5.677-8.774A5.684,5.684,0,0,0,6.177,0Zm0,13.419c-.989,0-4.645-4.843-4.645-7.742a4.645,4.645,0,0,1,9.29,0C10.823,8.577,7.167,13.419,6.177,13.419Zm0,0" fill="#b9b9b9"></path>
								<path id="Path_7908" data-name="Path 7908" d="M86.179,66.066a3.07,3.07,0,0,0-1.351.309h0a3.1,3.1,0,0,0-1.487,1.547h0a3.1,3.1,0,1,0,2.839-1.858Zm0,5.161a2.066,2.066,0,0,1-1.893-2.89h0a2.071,2.071,0,0,1,.992-1.032h0a2.044,2.044,0,0,1,.9-.206,2.065,2.065,0,1,1,0,4.129Zm0,0" transform="translate(-80.001 -64.002)" fill="#b9b9b9"></path>
								<path id="Path_7909" data-name="Path 7909" d="M54.176,431.914c-.423,0-4.129-.043-4.129-1.548,0-.273.134-.666.775-.981a.516.516,0,1,1,.456.926c-.042.021-.077.04-.105.057a6.76,6.76,0,0,0,3,.513,6.76,6.76,0,0,0,3-.513c-.029-.018-.064-.037-.108-.058a.516.516,0,1,1,.454-.927c.644.315.779.708.779.983C58.3,431.87,54.6,431.914,54.176,431.914Zm0,0" transform="translate(-47.999 -415.914)" fill="#b9b9b9"></path>
							</g>
						</svg>
						| TRC River Mall
					p
						| Наша компания выполнила разработку светотехнического дизайна и поставку осветительного оборудования для магазина Helly Hansen – известного производителя одежды и инвентаря для занятий спортом.
					p
						| Общее и акцентное освещение выполнено на трековых светильниках <b>Оптима ORIGI LED (VS) 38W/830 30° white</b>. Применение в светильниках светодиодных чипов Vossloh Schwabe позволяет достичь непревзойдённых характеристик по стабильности светового потока и цветовой температуры на протяжении всего срока службы. Благодаря этому гарантия на светильники составляет – 5 лет. Еще одним из важных преимуществ, светодиодных чипов <span>Vossloh Schwabe</span> является минимальное отклонение цветовой температуры (2 ступени эллипса Макадама), что гарантирует однородность цветового свечения.
					h2(class="py-5")
						| Используемые светильники
					div(class="copy")
						div(class="row")
							div(class="col-12")
								div(class="copy__slider mobile__arrow")
									div(class="copy__item")
										div(class="h-100 d-flex flex-column align-items-center justify-content-between")
											picture()
												source(srcset="images/card/copy1x2.png 2x")
												img(class="lazyload" data-src="images/card/copy1.png" alt="img")
											div()
												span(class="copy__type")
													| STR 4545635
												span(class="h3")
													| Трековый светильник ORIGI LED Standard (Оптима)
												div(class="d-flex justify-content-between align-items-center")
													span(class="copy__price")
														| 3 840 руб
													a(href="#")
														| Подробнее
									div(class="copy__item")
										div(class="h-100 d-flex flex-column align-items-center justify-content-between")
											picture()
												source(srcset="images/card/copy2x2.png 2x")
												img(class="lazyload" data-src="images/card/copy2.png" alt="img")
											div()
												span(class="copy__type")
													| STR 4545635
												span(class="h3")
													| Трековый светильник ORIGI LED Standard (Оптима)
												div(class="d-flex justify-content-between align-items-center")
													span(class="copy__price")
														| 3 840 руб
													a(href="#")
														| Подробнее
									div(class="copy__item")
										div(class="h-100 d-flex flex-column align-items-center justify-content-between")
											picture()
												source(srcset="images/card/copy3x2.png 2x")
												img(class="lazyload" data-src="images/card/copy3.png" alt="img")
											div()
												span(class="copy__type")
													| STR 4545635
												span(class="h3")
													| Трековый светильник ORIGI LED Standard (Оптима)
												div(class="d-flex justify-content-between align-items-center")
													span(class="copy__price")
														| 3 840 руб
													a(href="#")
														| Подробнее
									div(class="copy__item")
										div(class="h-100 d-flex flex-column align-items-center justify-content-between")
											picture()
												source(srcset="images/card/copy4x2.png 2x")
												img(class="lazyload" data-src="images/card/copy4.png" alt="img")
											div()
												span(class="copy__type")
													| STR 4545635
												span(class="h3")
													| Трековый светильник ORIGI LED Standard (Оптима)
												div(class="d-flex justify-content-between align-items-center")
													span(class="copy__price")
														| 3 840 руб
													a(href="#")
														| Подробнее
		div(class="project__footer")
			div(class="container")
				div(class="row")
					div(class="col-12")
						h2(class="py-5")
							| Адрес объекта
						iframe(src="https://yandex.ru/map-widget/v1/-/CKAtfT3N" width="100%" height="473" frameborder="1" allowfullscreen="true")

