extends base.pug
block content
	- var arrDeep = ['','','','','', '', 'Свадебный салон Кристалл','ТРЦ РИО','Коворкинг «platform»']

	div(class="content__header")
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item active" aria-current="page")
								| Проекты
					h1
						| Проекты
	div(class="projects")
		div(class="container")
			div(class="row")
				each val, index in ['Коворкинг «platform»','Проект освещения elite man','Проект освещения kari kids','Проект освещения burvin','Складские технологии','Проект освещения vinoterra','Проект освещения scavolini','Проект освещения kari', 'Коворкинг «platform»']
					div(class="col-12 col-sm-6 col-xl-4 pb-5")
						div(class="otraslevie-reshenia__item")
							picture()
								source(srcset="images/projects/" + index + "x2.png 2x")
								img(class="lazyload otraslevie-reshenia__item__img" data-src="images/projects/" + index + ".png" alt="img")
							a(class="otraslevie-reshenia__title" href="#")
								= val
								span()
									<svg xmlns="http://www.w3.org/2000/svg" width="11.355" height="16" viewBox="0 0 11.355 16">
										<g id="_1617454" data-name="1617454" transform="translate(-0.5)">
											<path id="Path_7907" data-name="Path 7907" d="M6.177,0A5.684,5.684,0,0,0,.5,5.677c0,3.034,3.714,8.774,5.677,8.774s5.677-5.74,5.677-8.774A5.684,5.684,0,0,0,6.177,0Zm0,13.419c-.989,0-4.645-4.843-4.645-7.742a4.645,4.645,0,0,1,9.29,0C10.823,8.577,7.167,13.419,6.177,13.419Zm0,0" fill="#b9b9b9"/>
											<path id="Path_7908" data-name="Path 7908" d="M86.179,66.066a3.07,3.07,0,0,0-1.351.309h0a3.1,3.1,0,0,0-1.487,1.547h0a3.1,3.1,0,1,0,2.839-1.858Zm0,5.161a2.066,2.066,0,0,1-1.893-2.89h0a2.071,2.071,0,0,1,.992-1.032h0a2.044,2.044,0,0,1,.9-.206,2.065,2.065,0,1,1,0,4.129Zm0,0" transform="translate(-80.001 -64.002)" fill="#b9b9b9"/>
											<path id="Path_7909" data-name="Path 7909" d="M54.176,431.914c-.423,0-4.129-.043-4.129-1.548,0-.273.134-.666.775-.981a.516.516,0,1,1,.456.926c-.042.021-.077.04-.105.057a6.76,6.76,0,0,0,3,.513,6.76,6.76,0,0,0,3-.513c-.029-.018-.064-.037-.108-.058a.516.516,0,1,1,.454-.927c.644.315.779.708.779.983C58.3,431.87,54.6,431.914,54.176,431.914Zm0,0" transform="translate(-47.999 -415.914)" fill="#b9b9b9"/>
										</g>
									</svg>
									= arrDeep[index]
			div(class="row pt-5 pb-5")
				div(class="col-12 pb-5 d-flex justify-content-center")
					button(class="btn")
						| Показать еще проекты
