extends base.pug
block content
	div(class="reshenie")
		div(class="reshenie__first")
			div(class="reshenie__bg")
			div(class="container")
				div(class="row")
					div(class="p-0 col-12 d-block d-lg-none")
						img(class="lazyload w-100" data-src="images/reshenia/mob_bg.png" alt="img")
					div(class="col-lg-5 d-flex flex-column justify-content-center align-items-start reshenie__welcome")
						span(class="reshenia__hit")
							| Лидер рынка
						h1()
							| Профессиональное освещение магазинов: от проекта до монтажа
						p
							| Подберем светильники для любого бюджета, спроектируем освещение, доставим и установим все оборудование✌️
					div(class="col-lg-7 d-flex ")
						img(class="reshenie__first_img lazyload" data-src="images/reshenia/welcome.png" alt="img")
						form(class="form form_reshenia")
							span(class="form__header")
								| Получите бесплатный расчет освещения
							label(class="form__line")
								span
									| Ваше имя
								input(class="" type="text" placeholder="Андрей")
							label(class="form__line")
								span
									| Email
								input(class="" type="email" placeholder="example@example.com")
							label(class="form__line")
								button(class="btn" type="submit")
									| Оставить заявку
		div(class="projects")
			div(class="container")
				div(class="row")
					div(class="col-12")
						h2
							| 1000+ освещенных магазинов по всей России
						p
							| Системы освещения для любых магазинов
				div(class="row d-none d-lg-flex")
					-for (var i = 0; i < 8; i++)
						div(class="col-12 col-sm-6 col-xl-3 pb-5")
							a(class="otraslevie-reshenia__item" href="#")
								picture()
									source(srcset="images/projects/" + i + "x2.png 2x")
									img(class="lazyload" data-src="images/projects/" + i + ".png" alt="img")
								span(class="otraslevie-reshenia__title" )
									| Магазины одежды и обуви
				div(class="d-lg-none")
					div(class="projects__slider mobile__arrow")
						-for (var i = 0; i < 8; i++)
							a(class="otraslevie-reshenia__item" href="#")
								picture()
									source(srcset="images/projects/" + i + "x2.png 2x")
									img(class="lazyload" data-src="images/projects/" + i + ".png" alt="img")
								span(class="otraslevie-reshenia__title" )
									| Магазины одежды и обуви
		div(class="lighting")
			div(class="container")
				div(class="row d-flex d-lg-none lighting__mob")
					div(class="col-12")
						h2
							| Каталог освещения
				div(class="row")
					div(class="col-12")
						ul(class="nav nav-pills" id="pills-tab-lighting" role="tablist")
							li(class="col nav-item")
								a(class="nav-link active" id="pills-1-tab-lighting" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true")
									img(class="lazyload" data-src="images/reshenia/l1.svg" alt="img")
									| Проект освещения с 3D визуализацией<br>бесплатно
							li(class="col nav-item")
								a(class="nav-link" id="pills-2-tab-lighting" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false")
									img(class="lazyload" data-src="images/reshenia/l2.svg" alt="img")
									| Собственное производствои
							li(class="col nav-item")
								a(class="nav-link" id="pills-3-tab-lighting" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false")
									img(class="lazyload" data-src="images/reshenia/l3.svg" alt="img")
									| Работаем с тороговыми объектами от 5 м2
							li(class="col nav-item")
								a(class="nav-link" id="pills-4-tab-lighting" data-toggle="pill" href="#pills-4" role="tab" aria-controls="pills-4" aria-selected="false")
									img(class="lazyload" data-src="images/reshenia/l4.svg" alt="img")
									| Установка освещения под ключ
						div(class="tab-content" id="pills-tabContent")
							div(class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab")
								div(class="row  pb-lg-5")
									div(class="col-lg-6 order-2 order-lg-1")
										h3()
											| Что такое бесплатный 3d<br>проект освещения?
										p
											| Подберем светильники, которые позволят добиться максимально качественного результата для вашего магазина:
										ul
											li
												| Определим количество, тип<br>и места размещения светильников
											li
												| Учтем специфику продаваемых товаров. Грамотно подчеркнем свежесть продуктов, яркость цвета вещей, блеск драгоценностей
											li
												| Рассчитаем конечную стоимость<br>всего оборудования
										div(class="tab-content__footer d-flex align-items-start pt-5")
											button( class="btn order-2 order-lg-1" data-toggle="modal" data-target="#ModalCalc")
												| Получить расчет
											a(class="lighting__download order-1 order-lg-2" href="#" download)
												img(class="lazyload" data-src="images/reshenia/pdf.svg" alt="img")
												| Пример разобранного проекта<br>.pdf, 1657 КВ
									div(class="col-lg-6 order-1 order-lg-2 px-0 px-lg-1")
										picture
											source(srcset="images/reshenia/it1x2.png 2x" )
											img(class="w-100 lazyload" data-src="images/reshenia/lt1.png" alt="img")
									
							div(class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab")
								| 2
							div(class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab")
								| 3
							div(class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab")
								| 4
		div(class="lighting lighting__footer")
			div(class="container")
				div(class="row")
					div(class="col-12 col-lg-3 pb-5 pb-lg-0")
						h4
							| До предоплаты, договора<br>и установки оборудования<br>вы поймете:
					div(class="col-12 col-lg-3 d-flex align-items-center pb-5 pb-lg-0")
						img(class="lazyload" data-src="images/reshenia/1.svg" alt="img")
						span(class="pl-4")
							| Каким будет освещение<br>вашего магазина
					div(class="col-12 col-lg-3 d-flex align-items-center pb-5 pb-lg-0")
						img(class="lazyload" data-src="images/reshenia/2.svg" alt="img")
						span(class="pl-4")
							| Сколько это<br>будет стоить
					div(class="col-12 col-lg-3 d-flex align-items-center ")
						img(class="lazyload" data-src="images/reshenia/3.svg" alt="img")
						span(class="pl-4")
							| Какое будет<br>энергопоребление
		div(class="errors")
			div(class="container")
				div(class="row")
					div(class="col-12")
						h2(class="h1")
							| Частые ошибки в освещении магазинов
					div(class="col-12 col-lg-6 order-1 order-lg-1")
						div(class="errors__item")
							div(class="d-flex justify-content-between align-items-center pb-5 pb-lg-0")
								img(class="lazyload" data-src="images/reshenia/q1.svg" alt="img")
								span(class="d-lg-none p-0 pl-4")
									| Общее освещение в магазинах<br>со штучными и дорогими товарами
							div(class="pl-lg-5")
								span(class="d-none d-lg-block")
									| Общее освещение в магазинах<br>со штучными и дорогими товарами
								p
									| Встречаются магазины, где освещают проходы, а не товары. Это приемлемо, когда продают потребительские товары, но абсолютно неправильно при продаже дорогих или эксклюзивных вещей. Направленное освещение подчёркивает товар и делает на нём акцент.
					div(class="col-12 col-lg-6 order-4 order-lg-2")
						div(class="errors__item")
							div(class="d-flex justify-content-between align-items-center pb-5 pb-lg-0")
								img(class="lazyload" data-src="images/reshenia/q2.svg" alt="img")
								span(class="d-lg-none p-0 pl-4")
									| Неправильный спектр<br>(температура света)
							div(class="pl-lg-5")
								span(class="d-none d-lg-block")
									| Неправильный спектр<br>(температура света)
								p
									| Подсветив мясо красным спектром, мы придаём ему несвойственный красный оттенок, что отталкивает клиентов. Эффективнее использовать специальные светодиодные чипы для продуктов питания. Светильник создаст «розовый эффект», который легко выделит на мясе красные оттенки и не испортит белые прожилки, подчеркнув его свежесть.
					div(class="col-12 col-lg-6 order-2 order-lg-3")
						div(class="errors__item")
							div(class="d-flex justify-content-between align-items-center pb-5 pb-lg-0")
								img(class="lazyload" data-src="images/reshenia/q3.svg" alt="img")
								span(class="d-lg-none p-0 pl-4")
									| Свет, направленный<br>в никуда
							div(class="pl-lg-5")
								span(class="d-none d-lg-block")
									| Свет, направленный<br>в никуда
								p
									| Это распространённая проблема торговых залов. Светильники общего света подсвечивают крыши торгового оборудования и конструкций, а вот товары освещены плохо.
					div(class="col-12 col-lg-6 order-3 order-lg-4")
						div(class="errors__item")
							div(class="d-flex justify-content-between align-items-center pb-5 pb-lg-0")
								img(class="lazyload" data-src="images/reshenia/q4.svg" alt="img")
								span(class="d-lg-none p-0 pl-4")
									| Устаревшие источники света<br>(галогеновые лампы)
							div(class="pl-lg-5")
								span(class="d-none d-lg-block")
									| Устаревшие источники света<br>(галогеновые лампы)
								p
									| В столице их используют редко. В областных городах ситуация другая. Многие экономят на светодиодных светильниках вначале и серьёзно переплачивают потом. LED-освещение снижает расходы на электричество и помогает сэкономить.
		div(class="marketing")
			div(class="container")
				div(class="row")
					div(class="col-lg-5")
						h2(class="h1")
							| Эффективное <br class="d-none d-lg-block">маркетинговое<br>средство
						p(class="marketing_w")
							| Профессиональное освещение<br>от «интера лайтинг»
						p
							| Правильно подобранный свет помогает покупателю увидеть все преимущества товара. Хорошо освещенный магазин создает у клиентов положительное впечатление, поэтому они возвращаются снова и снова.
						span()
							| Узнайте, какие светильники<br>нужны для вашего магазина:
						button(class="btn btn_main"  data-toggle="modal" data-target="#modalCall")
							| Отправьте заявку на проект
					div(class="col-lg-7 pt-5 pt-lg-0")
						div
							div(id="beforeafter")
								img(class="w-100" src="images/reshenia/baD2.png" alt="img")
								img(class="w-100" src="images/reshenia/baD1.png" alt="img")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="project-done")
						h2
							| Реализованные проекты
						ul(class="nav nav-pills" id="pills-tab-project-done" role="tablist")
							li(class="nav-item")
								a(class="nav-link active" id="pills-q1-tab-lighting" data-toggle="pill" href="#pills-q1" role="tab" aria-controls="pills-q1" aria-selected="true")
									| Helly Hansen
							li(class="nav-item")
								a(class="nav-link" id="pills-q2-tab-lighting" data-toggle="pill" href="#pills-q2" role="tab" aria-controls="pills-q2" aria-selected="false")
									| Scavolini
							li(class="nav-item")
								a(class="nav-link" id="pills-q3-tab-lighting" data-toggle="pill" href="#pills-q3" role="tab" aria-controls="pills-q3" aria-selected="false")
									| Vinoterra
						div(class="tab-content" id="pills-tabContent-project-done")
							div(class="tab-pane fade show active" id="pills-q1" role="tabpanel" aria-labelledby="pills-q1-tab")
								div(class="row")
									div(class="col-lg-5 order-2 order-lg-1")
										div(class="tab-content__first")
											h3(class="h2")
												| Освещение для<br>магазина «Helly Hansen»
											p
												| Заказчик хотел получить максимально долгий срок службы светильников, однородное и стабильное освещение. Поэтому мы использовали светодиодные чипы Vossloh Schwabe. У них высокая стабильность светового потока и минимальное отклонение цветовой температуры, при среднем сроке службы 8 – 10 лет. Гарантия 5 лет.
											ul
												li
													| Оборудование: «Оптима ORIGI LED», «Шинопровод Оптима BUSLINE»

												li
													| Площадь объекта: <span>155 кв.м.</span>

												li
													| Высота потолков: <span>3,2 м.</span>
												li
													| Срок реализации: <span>2 рабочих дня</span>
												li
													| Стоимость под ключ: <span>340 000 руб.</span>
											div(class="d-flex align-items-start pt-5")
												button( class="btn btn_main" data-toggle="modal" data-target="#modalCall")
													| Отправьте заявку на проект
									div(class="col-lg-7 order-1 order-lg-2")
										picture()
											source(srcset="images/reshenia/bx2.png 2x")
											img(class="lazyload d-block w-100" data-src="images/reshenia/b.png" alt="img")
								
							div(class="tab-pane fade" id="pills-q2" role="tabpanel" aria-labelledby="pills-q2-tab")
								| 2
							div(class="tab-pane fade" id="pills-q3" role="tabpanel" aria-labelledby="pills-q3-tab")
								| 3
		div(class="client")
			div(class="container")
				div(class="row")
					div(class="col-lg-4")
						h2
							| Наши клиенты
						p
							| За 2018-2019 годы мы<br>вополнили<span>237 проектов</span>
						p
							| Качественный свет получили<br><span>более 1000</span> торговых объектов.
						a(class="d-none d-lg-block btn btn_main" href="#")
							| Наши проекты
					div(class="col-lg-8")
						div(class="row h-100")
							- for (var i = 0; i < 12; i++)
								div(class="col-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center pb-5 pb-lg-0")
									img(class="lazyload img-fluid" data-src="images/reshenia/w"+ i +".svg" alt="img")
					div(class="col-12 d-flex d-lg-none justify-content-center pt-5")
						a(class="btn btn_main" href="#")
							| Наши проекты
		div(class="facts")
			div(class="container")
				div(class="row")
					div(class="col-12 px-0 px-lg-1")
						a(class="trust" href="#" data-toggle="modal" data-target="#ModalVideo" data-whatever="https://www.youtube.com/embed/AMwQ7aY2_wg")
							div(class="trust__content")
								h2(class="") 
									| Почему нам<br>можно доверять
							img(class="play lazyload" data-src="images/reshenia/play.svg" alt="play img")
							picture
								
								source(media="(max-width: 991px)"  srcset="images/reshenia/sgfdfg.png")
								source(srcset="images/reshenia/vx2.png 2x")
								img(class="w-100 lazyload" data-src="images/reshenia/v.png" alt="img")
				div(class="row pb-5")
					div(class="col-12")
						h2(class="h1")
							| Факты об «Интера Лайтинг». Кто мы?
					div(class="col-lg-4")
						div(class="facts__item")
							span(class="order-2 order-lg-1")
								| выполненных проектов освещения для магазинов по всей России
							span(class="order-1 order-lg-2 pb-3 pb-lg-0")
								| 1000+
					div(class="col-lg-4")
						div(class="facts__item")
							span(class="order-2 order-lg-1")
								| Полный цикл - от производства до гарантийного обслуживания
							img(class="order-1 order-lg-2 mb-4 mb-lg-0 lazyload" data-src="images/reshenia/fdfdf.svg" alt="img")
					div(class="col-lg-4")
						div(class="facts__item")
							span(class="order-2 order-lg-1")
								| Можем изготовить светильники любого цвета, мощности, ЦТ, Ra.
							img(class="order-1 order-lg-2 mb-4 mb-lg-0 lazyload" data-src="images/reshenia/fgfg.svg" alt="img")
				div(class="row pt-lg-5")
					div(class="col-12 col-lg-4")
						div(class="facts__slider")
							img(class="lazyload" data-src="images/reshenia/sl1.png" alt="img")
							img(class="lazyload" data-src="images/reshenia/sl2.png" alt="img")
					div(class="col-12 pt-4 pt-lg-0 col-lg-4")
						p
							| Именно собственное производство позволяет нам предлогать качественно осветительное оборудование европейского уровня по минимальной цене! Кроме этого, каждая модель наших светильников проектируется, проходит тестовые испытания по надежности и соответствию светотехническим характеристикам и только после этого отправляется в производство.
						p
							| При необходимости, можем разработать модель светильника специально под ваши требования и покрасить корпус в нужный цвет. Мы уверены в своей продукции и именно поэтому даем безусловную гарантию 5 лет!
					div(class="col-12 col-lg-4")
						span(class="facts__h")
							| При возникновении каких-либо проблем, вы никогда не услышите от нас:
						ul(class="blue")
							li
								| «На корпусе царапина - случай не гарантийный»
							li
								| «У вас похоже был скачок напряжения - случай не гарантийный»
							li
								| «Ну и что что у нас покупали!? Обращайтесь в сервисный центр производителя»
							li
								| И другие отговорки компаний которые покупают в Китае подешевле, продают у нас подороже
		div(class="working working_yellow")
			div(class="container position-relative")
				div(class="row")
					div(class="col-12 col-lg-4")
						span(class="reshenia__hit")
							| Производство интера лайтинг
						h2
							| Мы разработали<br>собственную линейку<br>светильников
						p(class="working__fir")
							| Помимо дорогих, брендовых светильников (Philips, Lival, Osram) мы активно используем собственную линейку Оптима.
						p(class="working__sec")
							| За 10 лет работы над «Оптима» мы создали идеальные решения под каждый тип товаров.
				img(class="working__img lazyload" data-src="images/reshenia/lig.png" alt="img")
				div(class="row working__second")
					div(class="col-12")
						h2
							| Надежное техническое решение
						p
							| Светильники «оптима» это
				div(class="row working__bot")
					div(class="col-12 col-lg-3 pb-4 pb-lg-0")
						div(class="working__item")
							div(class="working__bot__mob")
								img(class="lazyload" data-src="images/reshenia/o1.svg" alt="img")
								span()
									| Европейское качество
							p
								| Те же чипы что и у дорогих брендов, но без накруток за корпус, транспортировку и прочее

					div(class="col-12 col-lg-3 pb-4 pb-lg-0")
						div(class="working__item")
							div(class="working__bot__mob")
								img(class="lazyload" data-src="images/reshenia/o2.svg" alt="img")
								span()
									| Доступная цена
							p
								| Мы собираем наши светильники в России поэтому цена ниже чем у аналогов
					div(class="col-12 col-lg-3 pb-4 pb-lg-0")
						div(class="working__item")
							div(class="working__bot__mob")
								img(class="lazyload" data-src="images/reshenia/o3.svg" alt="img")
								span()
									| Гарантия 5 лет
							p
								| Полностью уверены в «Оптиме» и даем 5 лет гарантии на всю линейку
					div(class="col-12 col-lg-3")
						div(class="working__item")
							div(class="working__bot__mob")
								img(class="lazyload" data-src="images/reshenia/o4.svg" alt="img")
								span()
									| Правильная подсветка
							p
								| Высокая цветопередача светильников для любой продукции
		div(class="payment")
			div(class="container d-lg-none")
				div(class="row")
					div(class="col-12")
						div(class="payment__slider mobile__arrow")
							- var arr = ['Адаптер', 'Блок питания драйвер', 'Корпус из литого алюминия', 'Светодиодный чип', 'Держатель чипа', 'Отражатель', 'Стекло', 'Антибликовое кольцо'];
							- var arr2 = ['Для удобного подключения к сети', 'Защищает от скачков напряжения', 'Покрасим в любой цвет под интерьер вашего магазина', 'Citizen Electronics (Япония) Отвечает за высокое качество света', 'Фиксирует источник света в заданном положении', 'Увеличивает эффективность светового потока', 'Защищает чип от пыли и влаги, пропускает максимум света', 'Устраняет слепящий эффект, повышает комфортность освещения'];
							- for (var i = 1; i < 9; i++)
								div(class="payment__item")
									div(class="payment__img")
										img(class="lazyload" data-src="images/reshenia/pay"+ i +".png" alt="img")
									div(class="payment__description")
										span
											= arr[i]
										p
											= arr2[i]
				div(class="row pt-5")
					div(class="col-12 pt-5 d-flex justify-content-center")
						button(class="btn btn_main" data-toggle="modal" data-target="#ModalCalc")
							| Получить расчет
			div(class="container d-none d-lg-block")
				div(class="row ")
					div(class="col w-100")
					div(class="col w-100")
						div(class="payment__description payment__line_bot")
							span
								| Блок питания драйвер
							p
								| Защищает от скачков<br>напряжения
					div(class="col w-100")
					div(class="col w-100")
						div(class="payment__description payment__line_bot")
							span
								| Светодиодный чип
							p
								| Citizen Electronics (Япония)<br>Отвечает за высокое<br>качество света
					div(class="col w-100")
					div(class="col w-100")
						div(class="payment__description payment__line_bot")
							span
								| Отражатель
							p
								| Увеличивает<br>эффективность<br>светового потока
					div(class="col w-100")
					div(class="col w-100")
						div(class="payment__description payment__line_bot")
							span
								| Антибликовое кольцо
							p
								| Устраняет слепящий<br>эффект, повышает<br>комфортность освещения
				div(class="row")
					- for (var i = 1; i < 9; i++)
						div(class="col")
							div(class="payment__item")
								div(class="payment__img")
									img(class="lazyload" data-src="images/reshenia/pay"+ i +".png" alt="img")
				div(class="row")
					div(class="col w-100")
						div(class="payment__description payment__line")
							span
								| Адаптер
							p
								| Для удобного<br>подключения к сети
					div(class="col w-100")
					div(class="col w-100")
						div(class="payment__description payment__line")
							span
								| Корпус из литого алюминия
							p
								| Покрасим в любой цвет<br>под интерьер вашего<br>магазина
					div(class="col w-100")
					div(class="col w-100")
						div(class="payment__description payment__line")
							span
								| Держатель чипа
							p
								| Фиксирует источник<br>света в заданном<br>положении
					div(class="col w-100")
					div(class="col w-100")
						div(class="payment__description payment__line")
							span
								| Стекло
							p
								| Защищает чип от пыли и<br>влаги, пропускает<br>максимум света
					div(class="col w-100")
				div(class="row pt-5")
					div(class="col-12 pt-5 d-flex justify-content-center")
						button(class="btn btn_main" data-toggle="modal" data-target="#ModalCalc")
							| Получить расчет
		div(class="optima")
			div(class="container")
				div(class="col-12")
					h2(class="text-center")
						| «Оптима» для торговых площадей
					p(class="text-center")
						| Свяжитесь с нами для подбора светильников
		div(class="copy")
			div(class="container")
				div(class="copy__slider mobile__arrow")
					div(class="copy__item")
						div(class="d-flex flex-column align-items-center justify-content-between")
							picture()
								source(srcset="images/card/copy1x2.png 2x")
								img(class="lazyload w-100" data-src="images/card/copy1.png" alt="img")
							div()
								span(class="copy__type")
									| STR 4545635
								span(class="h3")
									| Трековый светильник ORIGI LED Standard (Оптима)
								div(class="d-flex justify-content-between align-items-center")
									span(class="copy__price")
										| 3 840 руб
									a(href="#")
										| Подробнее
					div(class="copy__item")
						div(class="d-flex flex-column align-items-center justify-content-between")
							picture()
								source(srcset="images/card/copy2x2.png 2x")
								img(class="lazyload w-100" data-src="images/card/copy2.png" alt="img")
							div()
								span(class="copy__type")
									| STR 4545635
								span(class="h3")
									| Трековый светильник ORIGI LED Standard (Оптима)
								div(class="d-flex justify-content-between align-items-center")
									span(class="copy__price")
										| 3 840 руб
									a(href="#")
										| Подробнее
					div(class="copy__item")
						div(class="d-flex flex-column align-items-center justify-content-between")
							picture()
								source(srcset="images/card/copy3x2.png 2x")
								img(class="lazyload w-100" data-src="images/card/copy3.png" alt="img")
							div()
								span(class="copy__type")
									| STR 4545635
								span(class="h3")
									| Трековый светильник ORIGI LED Standard (Оптима)
								div(class="d-flex justify-content-between align-items-center")
									span(class="copy__price")
										| 3 840 руб
									a(href="#")
										| Подробнее
					div(class="copy__item")
						div(class="d-flex flex-column align-items-center justify-content-between")
							picture()
								source(srcset="images/card/copy4x2.png 2x")
								img(class="lazyload w-100" data-src="images/card/copy4.png" alt="img")
							div()
								span(class="copy__type")
									| STR 4545635
								span(class="h3")
									| Трековый светильник ORIGI LED Standard (Оптима)
								div(class="d-flex justify-content-between align-items-center")
									span(class="copy__price")
										| 3 840 руб
									a(href="#")
										| Подробнее
				div(class="row pt-5")
					div(class="col-12 pt-5 d-flex justify-content-center")
						a(class="btn btn_main" href='#')
							| Смотреть весь каталог
		div(class="otsivi")
			div(class="container")
				div(class="row")
					div(class="col-12")
						h2()
							| Отзывы наших клиентов
						p(class="bg")
							| Свяжитесь с нами для подбора светильников
				div(class="row")
					div(class="col-12")
						div(class="otsivi__slider")
							div
								div(class="otsivi__slider__item")
									div(class="otsivi__slider__preview")
										picture()
											source(media="(max-width: 991px)"  srcset="images/reshenia/b1m.png")
											img(class="lazyload" data-src="images/reshenia/b1x2.png" alt="img")
									div(class="otsivi__slider__content")
										div()
											h3()
												| Бесспалова Анна Игоревна
											span(class="otsivi__slider__subtitle")
												| Директор магазин «Mexx»
											p()
												| Мой магазин ютится между двух огромных зданий, и мы заказали сразу и уличное освещение, чтобы выделиться на фоне гигантов, и торговое освещение внутри магазина. Спасибо за интересный проект освещения! А также особое спасибо эксперту-светотехнику Александру, который посоветовал оборудование нашего отечественного бренда «Оптима». На проекте мы сэкономили 30% бюджета, так как стоимость этих светильников значительно ниже, чем того же Филипса. А качество проверим. У нас есть еще 4 года и 5 месяцев гарантийного обслуживания.
										div(class="d-none d-lg-block")
											img(class="lazyload" data-src="images/reshenia/w7.svg" alt="img")
							div
								div(class="otsivi__slider__item")
									div(class="otsivi__slider__preview")
										picture()
											source(media="(max-width: 991px)"  srcset="images/reshenia/b1m.png")
											img(class="lazyload" data-src="images/reshenia/b1x2.png" alt="img")
									div(class="otsivi__slider__content")
										div()
											h3()
												| Бесспалова Анна Игоревна
											span(class="otsivi__slider__subtitle")
												| Директор магазин «Mexx»
											p()
												| Мой магазин ютится между двух огромных зданий, и мы заказали сразу и уличное освещение, чтобы выделиться на фоне гигантов, и торговое освещение внутри магазина. Спасибо за интересный проект освещения! А также особое спасибо эксперту-светотехнику Александру, который посоветовал оборудование нашего отечественного бренда «Оптима». На проекте мы сэкономили 30% бюджета, так как стоимость этих светильников значительно ниже, чем того же Филипса. А качество проверим. У нас есть еще 4 года и 5 месяцев гарантийного обслуживания.
										div(class="d-none d-lg-block")
											img(class="lazyload" data-src="images/reshenia/w7.svg" alt="img")
							div
								div(class="otsivi__slider__item")
									div(class="otsivi__slider__preview")
										picture()
											source(media="(max-width: 991px)"  srcset="images/reshenia/b1m.png")
											img(class="lazyload" data-src="images/reshenia/b1x2.png" alt="img")
									div(class="otsivi__slider__content")
										div()
											h3()
												| Бесспалова Анна Игоревна
											span(class="otsivi__slider__subtitle")
												| Директор магазин «Mexx»
											p()
												| Мой магазин ютится между двух огромных зданий, и мы заказали сразу и уличное освещение, чтобы выделиться на фоне гигантов, и торговое освещение внутри магазина. Спасибо за интересный проект освещения! А также особое спасибо эксперту-светотехнику Александру, который посоветовал оборудование нашего отечественного бренда «Оптима». На проекте мы сэкономили 30% бюджета, так как стоимость этих светильников значительно ниже, чем того же Филипса. А качество проверим. У нас есть еще 4 года и 5 месяцев гарантийного обслуживания.
										div(class="d-none d-lg-block")
											img(class="lazyload" data-src="images/reshenia/w7.svg" alt="img")
		div(class="montaj")
			div(class="container")
				div(class="row d-lg-none")
					div(class="col-12 p-0")
						img(class="lazyload w-100" data-src="images/reshenia/qqq.png" alt="img")
				div(class="row")
						div(class="montaj__item")
							h2()
								| Монтаж <br class="d-none d-lg-block">освещения<br>под ключ
							p()
								| Все работы по установке освещения проводятся в строгом соответствии с разработанным проектом. Условия гарантийного и постгарантийного обслуживания прописываем в договоре
							p()
								| Если планируете устанавливать собственными силами, то даем подробные инструкции для ваших монтажников (передаем вместе с гарантийным договором).
		div(class="cooperation")
			div(class="container")
				div(class="row")
					div(class="col-lg-4 d-flex flex-column justify-content-center")
						h2
							| Давайте<br>сотрудничать!
						p
							| Процесс сотрудничества с нами прост, все этапы прозрачны и под полным контролем!
					div(class="col-lg-8")
						div(class="row")
							div(class="col-12 col-lg-4 pb-5")
								div(class="cooperation__item")
									h3(class="order-2 order-lg-1")
										| 01
									div(class="order-1 order-lg-2")
										h4
											| Заявка
										p
											| Позвоните или закажите обратный звонок
							div(class="col-12 col-lg-4 pb-5")
								div(class="cooperation__item")
									h3(class="order-2 order-lg-1")
										| 02
									div(class="order-1 order-lg-2")
										h4
											| Консультация
										p
											| Дадим исчерпывающую консультацию по торговому освещению
							div(class="col-12 col-lg-4 pb-5")
								div(class="cooperation__item")
									h3(class="order-2 order-lg-1")
										| 03
									div()
										h4
											| Проект с 3D-визуализацией
										p
											| Вы увидите, как будет освещён торговый зал ещё до оплаты и договора
							div(class="col-12 col-lg-4 pb-5")
								div(class="cooperation__item")
									h3(class="order-2 order-lg-1")
										| 04
									div(class="order-1 order-lg-2")
										h4
											| Договор
										p
											| Заключаем договор на поставку, установку оборудования
							div(class="col-12 col-lg-4 pb-5")
								div(class="cooperation__item")
									h3(class="order-2 order-lg-1")
										| 05
									div(class="order-1 order-lg-2")
										h4
											| Доставка и монтаж
										p
											| Доставим и установим оборудование
							div(class="col-12 col-lg-4 pb-5")
								div(class="cooperation__item")
									h3(class="order-2 order-lg-1")
										| 06
									div(class="order-1 order-lg-2")
										h4
											| Обслуживание
										p
											| Исправим за свой счет всё что сломается за 5 лет
		div(class="spez")
			div(class="container")
				div(class="row")
					div(class="col-12 p-0 ")
						div(class="spez__content")
							h2
								| Остались вопросы?
							p(class="w-50")
								| Позвоните по телефону +7 495 641-38-48 или заполните форму и получите беслатную консультацию! Вам ответит эксперт в светотехнике.
							form(class="form form_card")
								div(class="form__wr")
									label
										| Ваше имя
										input(type="text" placeholder="Введите ваше имя")
									label(class="pt-4 pt-lg-0")
										| Ваш номер телефона
										input(type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ")
								div(class="form__line form__line__cke align-items-center pt-5")
									div(class="form__line_f d-flex align-items-start justify-content-start")
										label(class="m-0")
											input(type="checkbox" id="checkbox" class="checkbox" checked aria-label="Checkbox for following text input")
											span(for="checkbox" class="checkbox__label")
										p( class="form__info")
											| Согласен с политикой обработки
											a(href="#" class="form__info")
												| персональных данных
									button(class="btn")
										| Отправить
							div(class="spez__author d-none d-lg-block")
								span
									| Дмитрий Нарольский, 
								p
									| опыт работы 12 лет
							div(class="spez__bg")
								picture
									source(media="(max-width: 991px)" data-srcset="images/card/bg_1.png")
									img(class="lazyload" data-src="images/card/bg_2.png" alt="logo")




		
		


