.otraslevie-reshenia {
	padding: 64px 0 96px 0;

	h2 {
		padding-bottom: 34px;
	}
	&__item {
		display: block;
		position: relative;

		&.hover {
			img {
				transition: $mainDuration;
				overflow: hidden;
			}
			&:hover {
				img {
					transform: scale(1.05);
					transition: $mainDuration;

				}
				.otraslevie-reshenia__preview {
					display: block;
					z-index: 9;
				}
				.otraslevie-reshenia__deep {
					display: block;
					z-index: 98;
					bottom: calc(-100% - 3rem);

					transition:  $mainDuration;
				}

				.otraslevie-reshenia__item__img {
						transition: $mainDuration;
				}
				.otraslevie-reshenia__item__img {
					transform: scale(1.05);
					transition: $mainDuration;
				}
			}
		}
		img {
			width: 100%;
		}
	}
	.otraslevie-reshenia__preview__image {
		overflow: hidden;
	}
	&__preview {
		position: absolute;
		right: 0px; top: 0px; left: 0px; bottom: 0px;

		background-color: $mainColor;
		opacity: 0.3;

		display: none;
	}
	&__title {
		position: absolute;
		right: 10px; bottom: 10px; left: 10px;

		background-color: #fff;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		font-family: "Gilroy", sans-serif;
		color: #333333;
		font-size: $fontSize * 2;
		font-weight: 700;
		
		padding: 11px 5px;

		transition: $mainDuration;

		&:hover {
			color: $colorOrange;
			transition: $mainDuration;
		}
		span {
			display: block;

			font-size: $fontSize * 1.4;
			color: #717171;
			
			font-weight: normal;
			font-family: "Open Sans", sans-serif;

			svg {
				margin-right: 8px;
			}
		}
	}
	&__deep {
		padding-top: 24px;
		position: absolute;
		top: 100%; right: 0px; left: 0px;

		transition:  $mainDuration;

		background-color: $mainColor;

		display: none;

		overflow: hidden;

		a {
			font-size: $fontSize * 1.6;
			color: #fff;
			margin-bottom: 10px;

			display: block;
			width: 100%;

			text-align: center;

			&:last-child {
				margin: 0px;
			}
			&:hover {
				color: $colorOrange;
			}
		}
	}
	@media (max-width: 991px) {
		padding: 32px 0 47px 0;
	}
}



.otraslevie-reshenia__item {

	&.banner {
		overflow: visible;			
		padding-bottom: 3rem;
		min-height: 300px;
		height: 100%;
		img {
			max-width: 255px;
			@media (max-width: 991px) {
				position: unset!important;
			}
		}

		.banner__content {
			background-image: url(../images/OtraslevieReshenia/bd.png);
			background-repeat: no-repeat;
			background-position: bottom right;
			background-color: #FFDC58;
			display: flex;
			justify-content: space-between;
			height: 100%;
		}

		.banner__left {
			width: 50%;
			padding: 29px 0 24px 20px;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			span {
				font-family: "Gilroy", sans-serif;
				color: #333333;
				font-size: $fontSize * 2;
				font-weight: 700;
				line-height: 120%;

				display: block;
			}
			p {
				color: #717171;
				line-height: 160%;
				font-family: "Gilroy", sans-serif;
				padding: 20px 0;

				a {
					color: $mainColor;
					&:hover {
						color: #fff;
					}
				}
				@media (max-width: 991px) {
					padding: 15px 0;
				}
			}
			.btn {
				background-color: $mainColor;
				color: #fff;
				&:hover {
					color: $colorOrange;
				}
			}
			@media (max-width: 1200px) {
				width: 100%;
				padding: 14px 20px 14px 20px;
			}
			@media (max-width: 991px) {
				width: 100%;
				padding: 29px 20px 24px 20px;
			}
		}
		.banner__right {
			width: 49%;
			height: 100%;
			padding-left: 1%;
			position: relative;
			img {
				position: absolute;
				bottom: 0px;
				right: 0px;
			}
			@media (max-width: 991px){
				display: flex;
				justify-content: center;
			}
		}
		@media (max-width: 1200px) {
			min-height: unset;
		}
	}
}