.contacts {
	background-color: #FFFFFF;
	padding-bottom: 40px;
	border-bottom:  1px solid rgba(112,112,112,.1);

	iframe {
		border: 0px;
	}
	h2 {
		padding-bottom: 30px;
	}
	.contacts__item {
		padding-bottom: 20px;
		h3 {
			padding-bottom: 26px;
		}
		p {
			padding-bottom: 10px;
		}
	}
	@media (max-width: 991px) {
		padding-bottom: 30px;
	}
}

.requisites {
	span {
		color: #707070;
		line-height: 170%;
		display: block;
		span {
			color: #333333;
			display: block;
		}
	}
	.requisites__a, .requisites__btn {
		color: $mainColor;
		font-size: $fontSize * 1.4;
		font-weight: 4000;

		border: 0px;
		border-radius: 0px;
		background: none;
	}
}
.requisites__row {
	flex-wrap: unset!important;
	padding-bottom: 50px;
	@media (max-width: 991px) {
		display: block;
	}
}