/* INCLUD SASS */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1308px
) !default;

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

@import "library/slick/slick-theme.scss";
@import "library/slick/slick.scss";
@import "library/jquery.jqzoom.css";
@import "library/twentytwenty.css";
@import "library/jquery-ui.css";

@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";


@import "breadcrumb/_breadcrumb";
@import "otraslevieReshenia/_otraslevieReshenia";
@import "social/_social";
@import "basket/_basket";
@import "contacts/_contacts";
@import "card/_card";
@import "projects/_projects";
@import "blog/_blog";
@import "pagination/_pagination";
@import 'about/_about';
@import 'reshenia/_reshenia';
@import "category/_category";
@import "blogpost/_blogpost";

#modalDoneItem {
	.modal-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		h3 {
			text-align: center;
		}
		@media (max-width: 991px) {
			padding: 32px 40px;
		}
	}
}





.main {

	.card__project__item {
		display: block;
	}
	.card__project__deep {
		position: unset;
	}
	.blog__content {
		padding-top: 0px;
	}
	.main__first {
		position: relative;
		.main__first_bg {
			top: 0px;
			bottom: 0px;
			left: 0px;
			width: 50%;
			right: 50%;

			background-color: #fff;
			position: absolute;
			@media (max-width: 991px) {
				width: 100%;
				right: 0px;
				bottom: 10%;
			}
		}
		h1 {
			padding: 25px 0;
			@media(max-width: 991px) {
				padding-top: 1px;
			}
		}
		.main__first_d {
			display: block;
			color: #707070;
			font-size: $fontSize * 2;
			line-height: 140%;
			font-family: "Gilroy", sans-serif;
			font-weight: 400;
			padding-bottom: 20px;
			@media (max-width: 991px) {
				font-size: 14px;
			}
		}
		p {
			padding-bottom: 20px;
		}
		.btn {
			color: #fff;
			&:hover {
				color: $colorOrange;
			}
		}
	}
	.main__second {
		padding: 100px 0;

		h2 {
			@media (max-width: 991px) {
				font-size: 20px;
				text-align: center;
				width: 100%;
			}
		}
		.main__second__link {
			font-size: 14px;
			font-family: "Open sans";
			color: #333333;
			border-bottom: 1px solid #707070;
			transition: $mainDuration;
			&:hover {
				color: $mainColor;
				transition: $mainDuration;
				border-bottom: 1px solid $mainColor;
			}
		}
		.main__second__item {
			position: relative;
			overflow: hidden;
			display: block;

			img {
				transition: $mainDuration;
			}

			.main__second__item__dep {
				width: 272px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);

				background-color: #fff;
				padding: 14px 0;

				bottom: 30px;

				text-align: center;
				transition: $mainDuration;

				@media (max-width: 991px) {
					width: 90%;
				}

			}

			&:hover {
				.main__second__item__dep {
					background-color: $mainColor;

					transition: $mainDuration;
					span {
						color: #fff;
					}
				}
				img {
					transform: scale(1.05);
					transition: $mainDuration;
				}
			}
		}

		@media (max-width: 991px) {
			padding-top: 60px;
			padding-bottom: 40px;
		}
	}





	.main__third {
		h2 {
			@media (max-width: 991px) {
				text-align:center!important;
			}
		}
		.main__third__more {
			display: block;
			text-align: center; 
			padding: 14px 0px;
			width: 218px;
			border: 2px solid #E3E3E3;

			font-size: $fontSize * 1.6;
			line-height: 140%;
			font-family: "Gilroy", sans-serif;
			font-weight: 700;
			transition: $mainDuration;
			&:hover {
				color: $mainColor;
				transition: $mainDuration;
				border: 2px solid $colorOrange;
			}
		}
		.about__sixth__item__wra {
			@media (max-width: 991px) {
				display: flex;
				flex-direction: row!important;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 10px;
				h3 {
					text-align: left;
				}
			}
		}
	}





	.main__fourth {
		h2 {
			background-color: #fff;
			padding: 46px 0;
			text-align: center;
			border-bottom: 1px solid #F5F5F5;
			@media (max-width: 991px) {
				border: 0px;
				background: none;
			}
		}
		.main__fourth__input {
			margin: 0px;
			cursor: pointer;
			width: 100%;
			input {
				display: none;
			}

			input + span {
				width: 100%;
				padding: 20px 0;
				display: block;
				background-color: #fff;
				border-bottom: 4px solid #fff;

				font-size: $fontSize * 2;
				line-height: 140%;
				font-family: "Gilroy", sans-serif;
				font-weight: 400;
				color: #262A2B;
				text-align: center;
				transition: $mainDuration;

			}
			input:checked + span {
				border-bottom: 4px solid $mainColor;
				color: $mainColor;
				transition: $mainDuration;
			}

		}
		.col {
			&:nth-child(2) {
				.main__fourth__input {
					border-right: 1px solid #F5F5F5;
					border-left: 1px solid #F5F5F5;
				}
			}
		}
		.copy {
			.copy__item {
				position: relative;
				overflow: unset;
				.copy__item__deep {
					display: none;
					position: absolute;
					top: 100%; right: 0px; left: 0px;

					padding: 50px;
					background-color: #fff;
					z-index: 987;

					border-top: 1px solid #FAFAFA;
					padding: 20px 25px;

					span {
						font-size: 12px;
						&:last-child {
							font-weight: bold;
						}
					}
				}
				&:hover {
					.copy__item__deep {
						display: block;
					}
				}
				.copy__item__messsage {
					position: absolute;
					top: 25px;
					left: 25px;
					width: 47px;
					height: 47px;
					border-radius: 100%;
					display: block;

					font-size: $fontSize * 1.2;
					line-height: 140%;
					font-family: "Gilroy", sans-serif;
					font-weight: 700;
					color: #fff;

					display: flex;
					justify-content: center;
					align-items: center;

					&.hit {
						background-color: #FFDC58;
					}
				}
			}
		}




		.xz_3_wra {
			padding-top: 130px;
			@media (max-width: 991px) {
				padding-top: 40px;
			}
		}
		.xz_3 {
			background-color: #fff;
			padding: 25px 20px 25px 35px;
			height: 100%;
			transition: $mainDuration;
			.xz_3__header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				span {
					color: rgba(208, 208, 208, 0.2);
					font-size: 100px;
					font-weight: bold;
					transition: $mainDuration;
				}
			}
			p {
				color: #717171;
				padding-top: 10px;
				line-height: 22px;
				font-size: 14px;
			}
			&:hover {
				background-color: #FFDC58;
				transition: $mainDuration;
				
				.xz_3__header {
					span {
						color: #FAD747;
						transition: $mainDuration;
					}
				}
			}
			@media (max-width: 991px) {
				.xz_3__header {
					justify-content: center;
					padding-bottom: 30px;
				}
				.h3 {
					text-align: center;
					width: 100%;
					display: block;
				}
				p {
					text-align: center;
				}
			}
		}
	}
	.main__fifth {
		padding-bottom: 94px;
		h2 {
			background: none;
			padding: 0px;
			padding-bottom: 20px;
			text-align: left;
		}
		p {
			color: #333333;
			padding-bottom: 20px;
		    line-height: 24px;
			
			@media (max-width: 991px) {
				line-height: 140%;
			}
			&.main__fifth_f {
				color: #717171;
				padding-bottom: 20px;
				line-height: 30px;
				font-size: 18px;
			}
		}
		.trust {
			margin: 0px;
			.trust__content {

				padding: 0px;
				left: 50%;
				transform: translate(-50%,-50%);
				img {
					@media(max-width: 991px) {
						width: 51px;
						height: 51px;
					}
				}
				@media (max-width: 991px) {
					transform: translateX(-50%);
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			@media (max-width: 991px) {
				position: relative;
			}
		}
		@media (max-width: 991px) {
			padding-bottom: 50px;
		}
	}
	.main__second__link {
		font-size: 14px;
		font-family: "Open sans";
		color: #333333;
		border-bottom: 1px solid #707070;
		transition: $mainDuration;
		&:hover {
			color: $mainColor;
			transition: $mainDuration;
			border-bottom: 1px solid $mainColor;
		}
	}
	.main__sixth {
		padding-bottom: 90px;
		h2 {
			background: none;
			text-align: left;
			@media (max-width: 991px) {
				padding-top: 0px;
			}
		}
		@media (max-width: 991px) {
			padding-bottom: 50px;
		}
	}


	.main__seventh {
		padding-bottom: 30px;
		h2 {
			background: none;
			text-align: left;
			@media (max-width: 991px) {
				padding-top: 0px;
			}
		}
		@media (max-width: 991px) {
			padding-bottom: 0px;
		}
	}


	.main__eighth {
		padding-bottom: 90px;
		.banner__left {
			p {
				color: #333333;
			}
		}
		
		.banner__gre {
			.banner__content {
				background-color: #D9E0E8;
				background-image: url("../images/main/cub.png");
				background-repeat: no-repeat;
				background-position: bottom right;
			}
			
			.banner__right {
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					position: unset;
					max-width: 225px;
				}
			}
		}
		.banner__content {
			@media (max-width: 991px) {
				flex-direction: column;
				.banner__right {
					width: 100%;
				}
				.banner__left {
					display: flex;
					flex-direction: column;
					align-items: center;
					.h3{
						display: block;
						width: 100%;
						text-align: center;
					}
					p {
						text-align: center;
					}
				}

			}
		}
		@media (max-width: 991px) {
			padding-bottom: 57px;
			.banner__gre {
					.banner__right {
						padding-bottom: 30px;
					}
					img {
						width: 160px;
						max-width: 205px;
					}
				}
		}
	}
}

.main__slider {
	position: relative;
	z-index: 988;
	margin: 0px!important;

	

	
	.main__slider__footer {
			span {
				
				padding-bottom: 10px;
				&:last-child {
					color: rgba(51, 51, 51, 0.6);
				}
				@media (max-width: 1200px) {
					font-size: 10px;
				}
			}
		@media (max-width: 991px) {
			display: none;
		}
	}
	@media (max-width: 991px) {
		margin-bottom: 30px!important;
		img {
			width: 100%;
		}
	}
	
}
.main__slider__wr {
	position: relative;
	right: -40px;
	width: 108%;
	left: 0px;
	padding-left: 22px;
	.main__slider__title {
		position: absolute;
		left: 7%;
		top: 10%;
		color: #fff;
		font-size: 61px;
		line-height: 120%;
		z-index: 998;
		font-family: "Gilroy", sans-serif;
		font-weight: 700;

		@media (max-width: 991px) {
			display: none;
		}
	}
	&:before {
		    border-radius: 10px 0px 0px 10px;
		position: absolute;
		content: "";
		display: block;
		top: 5%; left: 11px; bottom: 5%;
		width: 100px;
		z-index: 10;

		background-color: rgba(255,  217, 60, 0.2);
		@media (max-width: 991px) {
			display: none;
		}
	}
	&:after {
		    border-radius: 10px 0px 0px 10px;
		z-index: 9;
		position: absolute;
		content: "";
		display: block;
		top: 10%; left: 0px; bottom: 10%;
		width: 22px;

		background-color: rgba(255,  217, 60, 0.2);
		@media (max-width: 991px) {
			display: none;
		}
	}
	.slick-dots {
		padding: 9px 14px;
		position: absolute;
		top: calc(50% + 10px); left: 54px; bottom: unset; right: unset;
		transform: translateY(-50%);
		display: inline-block;
		width: unset;
		background-color: #FFDC58;
		border-radius: 15px;
		li {
			background-color: #EAC74A;
			border-radius: 100%;
			transition: $mainDuration;
			width: 10px;
			height: 10px;
			&.slick-active {
				background-color: #E0B61A;
				transition: $mainDuration;
			}
			button {
				&:before {
					display: none;
				}
			}
			&:before {
				display: none;
			}
		}
		@media (max-width: 991px) {
			top: unset;
			left: 50%;
			transform: translateX(-50%);
			bottom: -14px;
		}
	}
	.main__slider__img {
		position: absolute;
		top: 0px;
		left: 60%;
		transform: translateX(-50%);

		@media (max-width: 991px) {
			left: 50%;
			width: 90%;
		}
	}
	@media (max-width: 1550px) {
		left: 0px;
		width: 103%;
		right: -10px;
	}
	@media (max-width: 1350px) {
		right: 0px;
		width: 100%;
	}
	@media (max-width: 991px) {
		padding-left: 0px;
		width: 100%;
	}
}


.ya-share2 {
	ul {
		li {
			&:before {
				display: none;
			}
		}
	}
	.ya-share2__item {
		padding: 0px!important;
	}
}

.main__slider__content {
		padding: 54px;
		background-color: #FFDC58;

		.main__slider__header {
			padding-bottom: 30px;
			font-size: $fontSize * 2;
			line-height: 140%;
			font-family: "Gilroy", sans-serif;
			font-weight: 400;
			color: #333333;
			margin: 0px;
			display: flex;
			@media (max-width: 991px) {
				font-size: $fontSize * 1.6;
				display: block;
			}

			span {
				display: block;
				padding-left: 4px;
				font-size: $fontSize * 2;
				line-height: 140%;
				font-family: "Gilroy", sans-serif;
				font-weight: bold;
				margin: 0px;
				color: #333333;
				@media(max-width: 991px) {
					padding-left: 0px;
				}
			}
		}
		p {
				font-size: 14px;
			}
		.main__slider__price {
			font-size: $fontSize * 2;
			line-height: 140%;
			font-family: "Gilroy", sans-serif;
			font-weight: bold;
			color: #333333;
			margin: 0px;
			padding-right: 30px;
			@media(max-width: 1200px) {
				font-size: $fontSize * 1.8;
				padding-right: 10px;
			}
			@media (max-width: 991px) {
				font-size: $fontSize * 1.6;
			}
		}

		@media (max-width: 991px) {
			padding: 20px 13px;
		}
	}


.main__seventh__slider  {
	.arrow  {
		top: 23%;
		@media (max-width: 991px) {
			top: 36%;
		}
		@media (max-width: 740px) {
			top: 32%;
		}
		@media (max-width: 500px) {
			top: 27%;
		}
		@media (max-width: 500px) {
			top: 27%;
		}
		@media (max-width: 340px) {
			top: 23%;
		}
	}
}

.carousel-control-prev, .carousel-control-next {
	span {
		background: none;
	}
	svg {
		fill: #333;
		g{
			opacity: 1;
		}
	}
	&.false {
		cursor: default;
		svg {
			fill: #707070;
			g {
				opacity: 0.6;
			}
		}
	}
}
.carousel-control-prev {
	span {
		svg {
			transform: scale(-1, 1);
		}
	}
}