.category {
	h1 {
		padding-bottom: 24px;
	}

	.category__content {
		padding: 40px 0 0 0;
	}
	.category__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.category__filter {
			.basket__select {
				width: 156px;
				background-position: 86% center;
			}
		}
		@media (max-width: 991px) {
			flex-direction: column;
			align-items: flex-start;
			.category__filter {
				padding-top: 0px;
				span {
					font-size: 12px;
				}
			}
			.category__nu {
				padding-top: 0px;
			}
		}
	}
	.category__count, .category__count__int, .category__count_str {
		font-size: 16px;
		color: #333333;

		@media (max-width: 991px) {
			font-size: 14px;
		}	
	}
	.category__filter,
	.category__nu {
		font-size: 14px;
		color: #333333;
	}
	.category__content__wrap {
		padding: 36px 0 0 0;
	}
	.category__item {
		padding: 0 23px;
		background-color: #fff;
		margin-bottom: 25px;
	}
	.category__preview {
		width: 100%;
		height: 100%;

		padding: 23px;

		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;

		@media (max-width: 991px) {
			padding: 20px 10px;
		}
	}
	.category__message {
		position: absolute;
		left: 0px; top: 23px;

		width: 47px;
		height: 47px;
		border-radius: 100%;

		color: #fff;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: "Gilroy", sans-serif;

		display: flex;
		justify-content: center;
		align-items: center;
		&.category__message_sale {
			background-color: #FFDC58;
		}
	}
	.category__item__type {
		color: #9F9F9F;
		font-size: 12px;
		font-family: "Open sans";
		padding-bottom: 17px;
		display: block;
	}
	.category__item__title {
		font-size: $fontSize * 1.6;
		font-family: "Gilroy", sans-serif;
		font-weight: 700;
		color: #333333;
		display: block;
		padding-bottom: 18px;
	}
	.category__options {
		padding: 23px 50px 23px 0;
		border-right: 1px solid #F5F5F5;

		@media (max-width: 991px) {
			border: 0px;
			padding: 20px 0px;
		}
	}
	.category__item__line {
		display: flex;
		align-items: center;
		justify-content: space-between;
		span {
			color: #9F9F9F;
			font-size: 12px;
			font-family: "Open sans";
			display: block;
			color: #333333;
			padding: 6px 0;
			&:last-child {
				text-align: right;
				font-weight: bold;
			}
		}
	}
	.category__item__fin {
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.category__item__price {
		font-size: $fontSize * 3;
		font-family: "Gilroy", sans-serif;
		font-weight: 700;
		color: #333333;
		display: block;
		padding-bottom: 30px;
	}
	.category__color {
		display: flex;
		align-items: center;
		span {
			display: block;
			width: 20px;
			height: 20px;

			margin: 0 6px;
			
			border-radius: 100%;
			&:first-child {
				margin-left: 0px;
			}
			&:last-child {
				margin-right: 0px;
			}
		}
	}
	.card__project {
		.h3 {
			font-size: 16px;
			text-align: center;
		}
	}
	.category__footer {
		h2 {
			padding-bottom: 23px;
			margin: 0px;
		}
		p {
			padding-bottom: 30px;
			font-size: 16px;
			font-family: "Open sans";
			span {
				font-size: 16px;
				font-family: "Open sans";
				font-weight: bold;
			}
		}
	}
	.category__footer_down {
		padding-top: 50px;
		background: linear-gradient(transparent 30%, #fff 30% );
		.spez h2, .spez p {
			width: 70%
		}
		@media (max-width: 1200px) {
			.spez {
				height: 470px;
			}
		}
		@media (max-width: 991px) {
			.spez {
				height: unset;
				h2 {
					font-size: 30px;
					width: 100%;
				}
				p {
					width: 100%;
					font-size: 16px;
				}
				.form__wr {
					display: block;
				}
			}
		}
	}
	.category__filter__mob {
		h3 {
			cursor: pointer;
		}
	}
}