.basket {
	padding-bottom: 86px;
	padding-top: 64px;
	.basket__content {
		p {
			font-size: $fontSize * 1.6;
			color: #333333;
			padding: 20px 0 40px 0;
		}
		ul {
			margin: 0px;
			padding: 0px;
			
			li {
				list-style: none;
				margin-bottom: 20px;
				position: relative;
				padding-left: 44px;

				color: #333333;
				font-size: $fontSize * 1.6;
				font-family: "Open sans", sans-serif;
				font-weight: 400;
				line-height: 160%;

				&:last-child {
				}
				&:before {
					position: absolute;
					content: "";
					display: block;
					width: 26px;
					height: 26px;
					left: 0px;
					top: 6px;

					background-image: url("../images/li.svg");
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: center;
				}
				span {
					font-weight: bold;
					padding-bottom: 10px;
					display: block;
					line-height: 140%;
				}
			}
		}
	}
	&.basket_mini {
		max-width: 235px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		padding: 25px 29px;
		border-right: 1px solid #F5F5F5;
		border-left: 1px solid #F5F5F5;

		display: flex;
		&.full {
			.fa-shopping-cart {
				color: $mainColor;
			}
		}
		@media (max-width: 1200px) {
			max-width: 235px;
			padding: 25px 10px;
		}
		@media (max-width: 991px) {
			border: 0px;
			width: auto;
			padding: 16.5px 10px;
		}
	}
	&__title {
		display: block;

		font-family: "Gilroy", sans-serif;
		color: #333333;
		font-size: $fontSize * 1.6;
		font-weight: 600;
		@media (max-width: 991px) {
			display: none;
		}
	}
	&__price {
		display: block;
		color: #707070;
		font-size: $fontSize * 1.2;
		@media (max-width: 991px) {
			display: none;
		}
	}
	&__icon {
		.fa-shopping-cart {
			font-size: $fontSize * 3.6;
			color: #848484;
			@media (max-width: 991px) {
				font-size: $fontSize * 2.6;
			}
		}
		position: relative;
		
	}
	&__count {
		position: absolute;
		top: -8px; right: -7px;

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 100%;

		width: 14px;
		height: 14px;
		background-color: $colorOrange;


		font-family: "Gilroy", sans-serif;
		color: #333333;
		font-size: $fontSize * 1;
		font-weight: 600;
	}
	&__item {
	padding-bottom: 70px;
	}
	&__header {
		background-color: #fff;
		padding: 15px 30px;
		font-family: "Open sans", sans-serif;
		color: #707070;
		font-size: $fontSize * 1.2;
	}
	&__body {
		padding: 10px 0px;
	}
	&__wrapper {
		background-color: #fff;
		padding: 15px 30px;

		margin-bottom: 10px;



		&:last-child {
			margin: 0px;
		}
		.row {
			position: relative;
		}
	}
	&__name {
		font-size: $fontSize * 1.4;
		font-family: "Open sans", sans-serif;
		color: $mainColor;
		transition: $mainDuration;
		font-weight: 700;
		&:hover {
			color: $colorOrange;
			transition: $mainDuration;
		}
	}
	&__numbers {
		color: #333333;
		font-family: "Gilroy", sans-serif;
		font-size: $fontSize * 1.6;
		font-weight: 700;
	}
	&__close {
		cursor: pointer;
		background: none;
		border: 0px;
		color: #707070;
		font-size: $fontSize * 1.4;
		transition: $mainDuration;

		&:hover {
			color: $colorOrange;
			transition: $mainDuration;
		}
		
	}
	.basket__close__wrap {
		@media (max-width: 991px) {
			position: absolute;
			right: -10px; top: -10px;
		}
	} 
	&__select {
		background: none;
		border: 1px solid #DBDBDB;
		padding: 15px 40px 15px 15px;
		font-size: $fontSize * 1.4;
		color: #707070;
		font-family: "Open sans", sans-serif;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		position: relative;

		background-image: url('../images/basket/arrow.png');
		background-repeat: no-repeat;
		background-size: 9px;
		background-position: 70% center;
	}
	&__footer {
		padding: 42px 36px;
		background-color: #fff;

		display: flex;
		flex-direction: column;
		align-items: flex-end;

		span {
			color: #333333;
			font-size: $fontSize * 1.4;
			font-family: "Open sans", sans-serif;
		}
		h2 {

		}
	}

	.form {
		h3 {
			padding-bottom: 40px;
		}
	}
	@media (max-width: 991px) {
		padding-bottom: 30px;
	}
}