.header {
	background-color: #fff;	

	.header__first {
		display: flex;
		justify-content: space-between;
		text-align: center;

		padding: 12px 0px;
		&__nav {
			a {
				color: #848484;
				margin-right: 70px;
				transition: $mainDuration;
				&:hover {
					color: $mainColor;
				}
				&:last-child {
					margin: 0px;
				}
				@media (max-width: 1200px) {
					margin-right: 30px;
				}
			}
		}
	}
	.header__second {
		display: flex;
		justify-content: space-between;
		@media (max-width: 991px) {

		}
	}
	.header__third {
		background-color: $mainColor;
		.fas {
			font-size: $fontSize * 2;
			color: #fff;
		}
		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			a {
				font-family: "Gilroy", sans-serif;
				color: #fff;
				font-size: $fontSize * 1.6;
				font-weight: 600;
				padding: 18px 8px;
				display: block;
				white-space: nowrap;
				transition: $mainDuration;
				&.active {
					background: linear-gradient(#29b3f0, #37c6fb);
					&:hover {
						color: #fff;
					}
				}
				&:hover {
					color: $colorOrange;
					transition: $mainDuration;
				}
				@media (max-width: 1200px) {
					font-size: $fontSize * 1.3;
					padding: 18px 4px;
				}
			}
		}
	}
	.header_border {
		border-bottom: 1px solid #F5F5F5;
	}
	@media (max-width: 991px) {
		position: fixed;
		z-index: 9999;
		top: 0px; right: 0px; left: 0px;
	}
}

.city {
	color: #262A2B;
	&__point {
		padding-left: 11px;
		color: $mainColor;
	}
}

.logo {
	display: flex;
	align-items: center;
	&__header {
		font-family: "Gilroy", sans-serif;
		color: $mainColor;
		font-size: $fontSize * 1.8;
		font-weight: 800;
		@media (max-width: 991px) {
			padding-left: 8px;
			font-size: $fontSize * 1.3;
		}
	}
}

.phone-collection {
	display: flex;
	&__item {
		padding-right: 28px;
		&:last-child {
			padding-right: 0px;
		}
	}
	&__number {
		font-family: "Gilroy", sans-serif;
		color: #333333;
		font-size: $fontSize * 2;
		font-weight: 700;
		display: block;
		@media (max-width: 1200px) {
			font-size: $fontSize * 1.6;
		}
	}
	&__description {
		display: block;
		color: #707070;
		font-size: $fontSize * 1.2;
	}
}











.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transform: scale(1.5);
	&.active {
		.line {
			stroke: $colorOrange;
		}
	}
}
.hamRotate.active {
	transform: rotate(45deg) scale(1.5);
}
.hamRotate180.active {
	transform: rotate(180deg);
}
.line {
	fill:none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: $mainColor;
	stroke-width: 5.5;
	stroke-linecap:round;
}
.ham8 .top {
	stroke-dasharray: 40 160;
}
.ham8 .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}
.ham8 .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
	stroke-dashoffset: -64px;
}
.ham8.active .middle {
	transform: rotate(90deg);
}
.ham8.active .bottom {
	stroke-dashoffset: -64px;
}
.btn__menu {
	background: none;
	border: none;
	min-width: 40px;
	min-height: 40px;
	padding: 0;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	@media (max-width: 991px) {
		min-width: 25px;
		min-height: 25px;
	}
}





.navigation__content {
	position: fixed;
	top: 60px; right: 0; bottom: 0; left: 110%;
	z-index: 9999;
	background-color: $mainColor;
	overflow-x: hidden;
	transition: all 0.5s;


	&.active {
		left: 0;
		transition: all 0.5s;
	}
	.navigation__wrap {
		.navigation__menu {
			li {
				padding: 0px;
			}
		}
	}
	ul {
		padding: 0px;
		margin: 0px;
		li {
			list-style: none;
			.city {
				padding: 18px 15px;
				color: #fff;
				border-bottom: 1px solid #35C4FC;

			}
			.city__point {
				color: #fff;
			}
		}
	}
	.navigation__menu__link_1 {
		font-family: "Gilroy", sans-serif;
		color: #fff;
		font-size: $fontSize * 1.6;
		font-weight: 700;
		padding: 18px 15px;
		display: block;
		white-space: nowrap;
		transition: $mainDuration;
		border-bottom: 1px solid #35C4FC;
		&.active {
			background: #2FC1FC;
		}
	}
	.navigation__menu__link_2 {
		font-family: "Open sans", sans-serif;
		color: #fff;
		font-size: $fontSize * 1.6;
		font-weight: 400;
		padding: 18px 15px;
		display: block;
		white-space: nowrap;
		transition: $mainDuration;
		border-bottom: 1px solid #35C4FC;
		&.active {
			background: #2FC1FC;
		}
	}
	.phone-collection {
		padding: 22px 15px;
		justify-content: space-between;
		white-space: nowrap;
		&__item {
			padding: 0px;
			white-space: nowrap;
		}
		&__number {
			color: #fff;
			white-space: nowrap;
		}
		&__description {
			color: #fff;
			white-space: nowrap;
		}
	}
}


.hed {
	position: relative;

	.hed__deep {
		position: fixed;
		top: 194px;
		z-index: 9998;
		left: 0; right: 0px;
		background: #fff;
		display: none;
	}
	&:hover {
		.hed__deep {
			display: block;
		}
	}

	.hed__deep__header {

	}
	.hed__deep__wrap {
		padding-top: 3rem;
		width: 50%;
		a {
			padding: 0px!important;
			font-size: 16px!important;
			color: $mainColor!important;
			margin-bottom: 10px!important;
			font-weight: 400!important;
			&:hover {

			}
		}
	}

	.hed__deep__right {
		background-color: #DBE6DE;
		position: relative;
		width: 110%;
		right: -50px;

		@media (max-width: 1550px) {
			left: 0px;
			width: 105%;
			right: -10px;
		}
		@media (max-width: 1350px) {
			right: 0px;
			width: 100%;
		}
		@media (max-width: 991px) {
			padding-left: 0px;
			width: 100%;
		}
		.main__slider__content {
			background: none;
			padding: 0px 10px 40px 20px;
			.main__slider__header {
				display: block;
				span {
					padding: 0px;
				}
			}
			.main__second__link {
				padding: 0px!important;
				font-size: 14px!important;
				font-family: "Open sans";
				color: #333333!important;
				border-bottom: 1px solid #707070!important;
				transition: $mainDuration!important;
				&:hover {
					color: $mainColor!important;
					transition: $mainDuration!important;
					border-bottom: 1px solid $mainColor!important;
				}
			}
		}
	}
}