.social {
	display: flex;
	align-items: center;
	.social__link {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 30px;
		height: 30px;
		border-radius: 100%;
		background-color: $mainColor;

		margin-right: 13px;

		font-size: $fontSize * 1.6;
		color: #fff;
		transition: $mainDuration;

		&:last-child {
			margin: 0px;
		}
		&:hover {
			background-color: $colorOrange;
			color: $mainColor;
			transition: $mainDuration;
		}
	}

	.social__vk {
		background-color: #456E98;
		border-radius: 6px;
		padding: 5px;
		color: #fff;

		font-size: $fontSize * 1.6;
		width: 30px;
		height: 30px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	.social__facebook {
		background-color: #395692;
		border-radius: 6px;
		padding: 5px;
		color: #fff;

		font-size: $fontSize * 1.6;
		width: 30px;
		height: 30px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	.social__ok {
		background-color: #E16E2D;
		border-radius: 6px;
		padding: 5px;
		color: #fff;

		font-size: $fontSize * 1.6;
		width: 30px;
		height: 30px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	.social__twitter {
		background-color: #00A5E3;
		border-radius: 6px;
		padding: 5px;
		color: #fff;

		font-size: $fontSize * 1.6;
		width: 30px;
		height: 30px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	.social__whatsapp {
		background-color: #61B451;
		border-radius: 6px;
		padding: 5px;
		color: #fff;

		font-size: $fontSize * 1.8;
		width: 30px;
		height: 30px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	@media (max-width: 991px) {
		justify-content: center;
	}
}