.blog {
	padding: 50px 0 0 0;
	background-color: #F5F5F5;
	h2 {
		padding-bottom: 25px;
	}
	&__link {
		font-size: $fontSize * 2;
		line-height: 140%;
		font-family: "Gilroy", sans-serif;
		font-weight: 400;
		color: #262A2B;
		padding-bottom: 3px;

		border-bottom: 1px solid rgba(112, 112, 112, 0.1);

		transition: $mainDuration;

		&.blog__link_active {
			border-bottom: 3px solid $mainColor;
			color: $mainColor;
			transition: $mainDuration;
		}
	}
	.blog__nav {
		@media (max-width: 991px) {
			flex-direction: column;
			.blog__link {
				margin-bottom: 10px;
				&:last-child {
					margin: 0px;
				}
			}
		}
	}
}

.blog__content {
		padding: 50px 0 60px 0;
	}
	.blog__item {
		img {
			margin-bottom: 30px;
		}
		span {
			color: #717171;
			font-size: $fontSize * 1.4;
			font-weight: 400;
			padding-bottom: 18px;
			display: block;
		}
		h3 {
			padding-bottom: 14px;
		}
		p {
			color: #717171;
			line-height: 26px;
			font-size: 14px;
		}
	}