.reshenie {
	.working_yellow {
		@media (max-width: 991px) {
			background: linear-gradient(#ffdc58 50%, #f5f5f5 50%);
		}
	}
	.reshenie__welcome {
		@media (max-width: 991px) {
			display: flex!important;
			flex-direction: column!important;
			align-items: center!important;
			padding-top: 30px;
			padding-bottom: 30px;
			h1 {
				text-align: center;
				font-size: 26px;
			}
			p {
				text-align: center;
			}
		}
	}
	.reshenie__first {
		@media (max-width: 991px) {
			.form_reshenia {
				padding: 30px 15px;
				margin-right: -15px;
				margin-left: -15px;
				margin-bottom: 0px;
			}
		}
	}
	.spez {
		padding-top: 50px;
		height: unset;
		background-size: contain;
		.spez__content {
			width: 70%;
			p {
				font-size: 20px;
			}
		}
		.spez__bg {
			display: flex;
			justify-content: center;
			img {
				max-width: 500px;
			}
		}
		.spez__author {
			padding-top: 70px;
			padding-bottom: 60px;
			span {
				font-weight: bold;
				font-size: 20px;
				display: block;
				padding-bottom: 10px;
			}
			p {
				font-size: 16px;
			}
		}

		@media (max-width: 991px) {
			padding-top: 40px;
			padding-bottom: 0px;
			.spez__content {
				width: 100%;
				p {
					width: 100%!important;
					font-size: 18px;
				}
			}
			.form__wr {
				display: flex;
				flex-direction: column;
			}
			.btn {
				@media (max-width: 500px) {
					width: 100%!important;
				}
			}
			.spez__bg {
				position: unset;
				padding-top: 30px;
				img {
					width: 260px;
				}
			}
		}
	}
	.reshenie__first {
		background-color: #fff;
		position: relative;
		@media (max-width: 1450px) {
			.form {
				padding: 20px 20px;
			}
		}
		@media (max-width: 1300px) {
			.reshenie__first_img {
				display: none;
			}
			.reshenie__welcome {
				padding-top: 20px;
				padding-bottom: 50px;
			}
		}
	}
	.reshenie__bg {
		position: absolute;
		top: 0px; right: 0px; bottom: 0px; left: 50%;
		background-color: #FFDC58;
		@media (max-width: 991px) {
			display: none;
		}
	}

	
	h1 {
		padding-bottom: 20px;
	}
	p {
		font-size: $fontSize * 1.8;
		line-height: 140%;
	}

	.projects {
		padding: 70px 0 260px 0;
		h2 {
			padding-bottom: 14px;
		}
		p {
			padding-bottom: 40px;
		}
		.otraslevie-reshenia__item {
			
			overflow: hidden;

			img {
				transition: $mainDuration;
			}

			&:hover {
				img {
					transform: scale(1.05);
					transition: $mainDuration;
				}
				.otraslevie-reshenia__title {
					color: $colorOrange;
				}
			}
		}
		@media (max-width: 991px) {
			padding: 40px 0 30px 0;
		}
	}

	.lighting {
		background-color: #00AEEF;
		padding: 0 0 50px 0;

		position: relative;
		.nav-pills {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;

			margin-top: -196px;
		}
		.tab-pane {
			h3 {
				font-size: 30px;
			}
		}
		.nav-item {
			padding: 0 6px;

			&:first-child {
				padding-left: 0px;
			}

			&:last-child {
				padding-right: 0px;
			}
			.nav-link {
				padding: 36px 30px;
				background-color: #fff;

				font-size: $fontSize * 2;
				line-height: 140%;
				font-family: "Gilroy", sans-serif;
				font-weight: 700;
				color: #333333;
				text-align: center;

				display: flex;
				align-items: center;
				flex-direction: column;
				transition: $mainDuration;

				height: 100%;

				img {
					margin-bottom: 40px;
					width: 74px;
				}

				&.active {
					background-color: #FFDC58;
					transition: $mainDuration;
				}
			}
			&:before {
				display: none;
			}
		}
		.tab-content {
			padding-top: 140px;
			ul {
				li {
					color: #fff;
					width: 80%;
					&:before {
						top: 0px; left: -46px;
						background-color: #fff;
						background-image: url("../images/reshenia/er.svg");
					}
				}
			}
		}
		h3 {
			color: #fff;
			padding-bottom: 20px;
		}
		p {
			color: #fff;
			width: 80%;
			padding-bottom: 45px;
		}

		.btn {
			background-color: #FFDC58;
		}

		.lighting__download {
			margin-left: 30px;
			color: #fff;

			display: flex; 
			align-items: center;

			img {
				margin-right: 20px;
			}
		}
		&.lighting__footer {
			padding: 50px 0;
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			span {
				color: #fff;
			}
			h4 {
				color: #fff;
				@media (max-width: 991px) {
					font-size: 20px;
				}
			}
		}
		@media (max-width: 991px) {
			.nav-pills {

				margin-top: 0px;
				flex-wrap: wrap;

				margin-right: -15px;
				margin-left: -15px;

				padding: 0 15px;
				z-index: 2;
				position: relative;
				.nav-item {
					width: 100%;
					padding: 0px;
					padding-bottom: 10px;
					align-items: flex-start;
					&:last-child {
						padding: 0px;
					}
					.nav-link {
						flex-direction: row; 
						align-items: center;
						padding: 30px 25px 30px 25px;
						font-size: 18px;
						text-align: left;
						img {
							width: 100px;
							order: 1;
							padding-left: 10px;
							margin: 0px;
						}
					}
				}
			}
			.lighting__mob {
				background-color: #F5F5F5;
				padding-bottom: 27px;
			}
			.tab-content {
				padding: 0 0 0px 0;
				z-index: 1;
				position: relative;
				margin-top: -40px;
				h3 {
					padding: 20px 0;
					font-size: 20px;
				}
				p {
					font-size: 16px;
				}
				li {
					font-size: 14px;
				}
			}
			.tab-content__footer {
				flex-direction: column;
				.btn  {
					@media (max-width: 500px) {
						width: 100%;
					}
				}
				.lighting__download  {
					margin: 0px;
					margin-bottom: 35px;
				}
			}
			&.lighting__footer {
				background: #00aeef;
				span {
					font-size: 16px;
					font-weight: bold;
				}
			}



		}
		@media(max-width: 991px) {
			background: linear-gradient(#f5f5f5 40%, #00aeef 40%);
		}
	}
	.errors {
		padding: 70px 0 30px 0;
		background-color: #fff;
		h2 {
			padding-bottom: 70px;
			margin: 0px;
		}
		.errors__item {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding-bottom: 40px;
			span {
				font-size: $fontSize * 2;
				line-height: 140%;
				font-family: "Gilroy", sans-serif;
				font-weight: 700;
				color: #333333;
				padding-bottom: 27px;
				display: block;
				@media(max-width: 991px) {
					font-size: $fontSize * 1.6
				}
			}
			p {
				font-size: $fontSize * 1.6;
			}
		}
		@media (max-width: 991px) {
			padding: 40px 0;
			h2 {
				font-size: 24px;
				padding-bottom: 40px;
			}
			.errors__item {
				flex-direction: column;
				p {
					font-size: 14px;
				}
			}
		}
	}
	.marketing {
		padding: 90px 0 35px 0;
		h2 {
			padding-bottom: 24px;
		}
		p {
			padding-bottom: 26px;
		}
		span {
			font-size: $fontSize * 1.8;
			font-family: "Open sans";
			font-weight: 700;
			color: #333333;

			display: block;
			padding-bottom: 30px;
		}
		@media (max-width: 991px) {
			padding: 40px 0 50px 0;
			h2 {
				font-size: 22px;
				padding-bottom: 15px;
			}
			p {
				font-size: 14px;
				&.marketing_w {
					font-size: 16px;
				}
			}
			span {
				font-size: 16px;
			}

		}
		@media (max-width: 600px) {
			.btn {
				width: 100%;
			}
		}
	}
}
.twentytwenty-handle span{
	padding-bottom: 0px!important;
}
.project-done {
	h2 {
			padding: 47px 0 35px 0;
			background-color: #fff;
			width: 100%;
			text-align: center;
			border-bottom: 1px solid #F5F5F5;
	}
	.nav-pills {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		li {
			flex-basis: 0;
			flex-grow: 1;
			max-width: 100%;
			.nav-link {
				background-color: #fff;
				padding: 20px 0;
				transition: $mainDuration;
				border-bottom: 4px solid transparent;
				border-radius: 0px;
				text-align: center;

				font-size: $fontSize * 2;
				line-height: 140%;
				font-family: "Gilroy", sans-serif;
				font-weight: 400;
				color: #262A2B;

				height: 100%;
				&.active {
					border-bottom: 4px solid #00AEEF;
					color: #00AEEF;
					transition: $mainDuration;
				}
				@media (max-width: 991px) {
					font-size: 14px;
				}
			}
			&:nth-child(2) {
				.nav-link {
					border-right: 1px solid #F5F5F5;
					border-left: 1px solid #F5F5F5;
				}
			}

			&:before {
				display: none;
			}
		}

	}
	h3 {
		padding-bottom: 20px;
	}
	p {
		padding-bottom: 20px;
	}
	.h3 {
			padding-bottom: 20px;
		}
		p {
			padding-bottom: 20px;
		} 
	.tab-content {
		background-color: #fff;
		.tab-content__first {
			padding: 50px 30px 50px 80px;

			ul {
				padding-top: 30px;
			}
			@media (max-width: 991px) {
				padding: 20px 15px;
			}
		}
	}
	@media (max-width: 600px) {
		.btn {
			width: 100%;
		}
	}
}
.client {
	background-color: #fff;
	padding: 50px 0 120px 0;
	h2 {
		font-size: $fontSize * 5;
		line-height: 140%;
		font-family: "Gilroy", sans-serif;
		font-weight: 700;
		color: #333333;

		padding-bottom: 14px;
	}
	p {
		font-size: $fontSize * 1.8;
		padding-bottom: 14px;
		span {
			font-weight: bold;
		}
	}

	@media (max-width: 991px) {
		padding-top: 35px;
		padding-bottom: 56px;
		h2 {
			font-size: 22px;
		}
		p {
			font-size: 16px;
		}
	}
	@media (max-width: 600px) {
		.btn {
			width: 100%;
		}
	}
}
.trust {
	position: relative;
	margin-top: -50px;
	display: block;
	.trust__content {
		padding: 0 80px;
		position: absolute;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);

		display: flex;
		align-items: center;


		h2 {
			font-size: $fontSize * 5;
			line-height: 120%;
			font-family: "Gilroy", sans-serif;
			font-weight: 700;
			color: #fff;
			padding-right: 160px;
		}
		@media (max-width: 991px) {
			top: 0px;
			bottom: 0px;
			transform: unset;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}
	}
	.play {
		position: absolute;
		z-index: 10;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		@media (max-width: 991px) {
			width: 51px;
			margin-top: 10px;
			position: unset;
			transform: unset;
		}
	}

	@media (max-width: 991px) {
		position: unset;
		margin-top: 0px;
		.trust__content {
			padding: 40px 0 40px 15px;
			h2 {
				font-size: 22px;
				img {
					margin-top: 50px;
					width: 44px;
				}
			}
		}
	}
}


.facts{
	background-color: #00AEEF;
	padding: 0px 0 70px 0;
	.h1 {
		padding-top: 70px;
		padding-bottom: 28px;
		color: #fff;
	}
	.facts__item {
		background-color: #FFFFFF;
		padding: 35px;

		display: flex;
		justify-content: space-between;
		align-items: center;
		span {
			font-size: 14px;
			color: #333333;
			font-family: "Open sans";
			line-height: 160%;
			display: block;
			&:nth-child(2) {
				font-weight: bold;
				font-size: 41px;
				font-family: "Gilroy", sans-serif;
			}
		}
	}
	p {
		color: #fff;
		padding-bottom: 20px;
		font-size: 16px;
	}
	.facts__h {
		color: #fff;
		display: block;
		padding-bottom: 40px;
		font-size: 16px;
		font-weight: bold;
	}

	@media (max-width: 991px) {
		.h1 {
			font-size: 22px;
			padding: 40px 0px;
		}
		.facts__item {
			margin-bottom: 10px;
			padding: 16px 26px;

			flex-direction: column;
			align-items: flex-start;
		}
	}
	@media (max-width: 991px) {
		.play {
			position: absolute;
			margin: 0px;
			transform: translate(-50%,-50%);
		}
	}
}
.facts__slider {
	.arrow.arrow_left, .arrow.arrow_right {
		top: unset;
		bottom: 0px;
		right: 0px;
		left: unset;
		position: absolute;
		z-index: 987;
		&:hover {
			svg {
				fill: #333333;
				g {
					opacity: 1;
				}
			}
		}
	}
	.arrow.arrow_left {
		right: 56px;
	}
}



.working {
	padding: 100px 0 150px 0;
	position: relative;

	&.working_yellow {
		background-color: #FFDC58;
		.reshenia__hit {
			background-color: #FFEBA2;
			color: #333333;
		}
	}
	h2 {
		line-height: 110%;
		padding-bottom: 30px;
	}
	p {
		font-weight: bold;
		font-size: 18px;
		padding-bottom: 20px;
		&:last-child {
			padding: 0px;
		}
	}
	.working__img {
		position: absolute;
		right: 10%;
		top: -20%;
		@media (max-width: 1300px) {
			right: 0px;
		}
		@media (max-width: 991px) {
			width: 290px;
			padding: 0 20px;
			right: 0px;
			top: -300px;
		}
	}
	.working__second {
		padding-top: 80px;
		padding-bottom: 40px;
		h2 {
			padding-bottom: 10px;
		}
		p {
			font-size: 18px;
			font-weight: normal;
		}
	}
	.working__item {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 40px 30px;

		background-color: #fff;

		height: 100%;

		border: 1px solid #FFDC58;
		span {
			display: block;
			font-weight: bold;
			font-size: 16px;
			font-family: "Gilroy", sans-serif;
			padding:20px 0 10px 0;
			text-align: center;
		}
		p {
			font-size: 16px;
			font-weight: normal;
			text-align: center;
		}
		@media (max-width: 991px) {
			border: 0px;
		}
	}
	.working__bot {
		//margin-bottom: -260px;
		@media (max-width: 991px) {
			//margin-bottom: -800px;
		}
		@media (max-width: 500px) {
			//margin-bottom: -1000px;
		}
	}
	@media (max-width: 991px) {
		padding-top: 260px;
		.working__fir {
			font-size: 16px;
			font-weight: 400;
		}
		.working__sec {

		}
	}
	.working__bot__mob {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: 991px) {
			width: 100%;
			padding-bottom: 10px;
			flex-direction: row;
			img {
				width: 50px;
			}
			span {
				padding-left: 50px;
			}
		}
	}
}



.payment {
	padding: 40px 0 40px 0;
	background-color: #fff;
	.payment__item {
		display: flex;
		flex-direction: column;
		.payment__empty {
			height: 150px;
			background-color: red;
			width: 100%;
		}
		&.payment__item_top {
			.payment__description {
			}
		}
	}
	.payment__img {
		display: flex;
		justify-content: center;
		padding: 80px 0;
		position: relative;
		z-index: 95;
		img {
			max-width: 100%;
			background-color: #fff;
		}

		@media (max-width: 991px) {
			padding: 0px;
			padding-bottom: 20px;
		}
	}
	.payment__description {
		span {
			display: block;
			font-weight: bold;
			font-size: 16px;
			font-family: "Gilroy", sans-serif;
			padding:10px 0 10px 0;
			text-align: center;
		    margin-right: -50%;
    		margin-left: -50%;
    		@media (max-width: 1450px){
				margin-right: -10%;
    			margin-left: -10%;
    			font-size: 15px;
			}
    		@media (max-width: 991px) {
    			margin: 0px;
    		}
		}
		p {
			margin-right: -50%;
    		margin-left: -50%;
			display: block;
			font-weight: 400;
			font-size: 16px;
			font-family: "Open sans", sans-serif;
			text-align: center;
			@media (max-width: 1450px){
				margin-right: -0%;
    			margin-left: -0%;
    			font-size: 15px;
			}
			@media (max-width: 991px) {
				margin: 0px;
			}
		}
	}
	.payment__line {
		position: relative;
		padding-top: 20px;
		&:before {
			position: absolute;
			content: "";
			display: block;
			height: 130px;
			border-left: 2px dashed #707070;

			left: calc(50% - 1px);
			bottom: 100%;
		}
	}
	.payment__line_bot {
		position: relative;
		padding-bottom: 20px;
		&:before {
			position: absolute;
			content: "";
			display: block;
			height: 130px;
			border-left: 2px dashed #707070;

			left: calc(50% - 1px);
			top: 100%;
		}
	}
	@media (max-width: 991px) {
		//padding-top: 670px;
	}
	@media (max-width: 600px) {
		//padding-top: 870px
		.btn {
			width: 100%;
		}
	}
}


.optima {
	padding: 50px 0 70px 0;
	h2 {
		padding-bottom: 20px;
	}
	@media (max-width: 991px) {
		padding: 30px 0 25px 0;
		h2 {
			font-size: 22px;
			text-align: left!important;
		}
		p {
			text-align: left!important;
		}
	}
}



.reshenie {
	.copy {
		border-bottom: 1px solid rgba(112, 112, 112, 0.1);
		padding-bottom: 70px;
		@media (max-width: 991px) {
			border: 0px;
			padding-bottom: 50px;
		}
		@media(max-width: 600px) {
			.btn {
				width: 100%;
			}
		}
	}
}


.otsivi {
	padding: 80px 0 90px 0;
	h2 {
		padding-bottom: 10px;
	}
	.bg {
		padding-bottom: 40px;
	}
	@media (max-width: 991px) {
		padding-top: 10px;
		padding-bottom: 0px;
	}

}
.otsivi__slider {

	.otsivi__slider__item {
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}
	.otsivi__slider__preview {
		width: 30%;
		img {
			width: 100%;
		}
		@media (max-width: 991px) {
			width: 100%;
		}
	}
	.otsivi__slider__content {
		width: 65%;
		padding: 40px 50px 40px 0;


		display: flex;
		flex-direction: column;
		justify-content: space-between;
		h3 {
			padding-bottom: 10px;
			@media( max-width: 991px) {
				font-size: 20px;
			}
		}
		.otsivi__slider__subtitle {
			padding-bottom: 35px;
			display: block;

			font-family: "Open sans";
			font-size: 14px;
			color: #818181;
			
		}
		p {
			padding-bottom: 20px;
			color: #333333;
			font-size: 14px;
		}
		@media (max-width: 991px) {
			width: 100%;
			padding: 40px 10px 50px 15px;
		}
	}
	.arrow {
		position: absolute;
		right: 0px;
		top: -90px;
		z-index: 987;

		background-color: #fff;
		&.arrow_left {
			right: 55px;
		}
	}
	@media (max-width: 991px) {
		.arrow {
			position:absolute;
			top: 120px;
			right: 0px;

			z-index: 998;

			width: 30px;
			height: 30px;

			&.arrow_left {
				left: 0px;
				right: unset;
			}
		}
	}
}


.montaj {
	background: url("../images/reshenia/bg_Bg.png") no-repeat center;
	background-size: 100%;
	padding: 80px 0;

	.montaj__item {
		background-color: #fff;
		padding: 50px;
		width: 30%;
		h2 {
			padding-bottom: 40px;
			line-height: 120%;
		}
		p {
			padding-bottom: 20px;
		}
		@media (max-width: 1300px) {
			width: 50%;
		}
		@media (max-width: 991px) {
			width: 100%;
			padding-bottom: 0px;
		}
	}

	@media (max-width: 991px) {
		padding: 0px;
		background: none;
		.montaj__item {
			padding: 40px 30px;
			padding-bottom: 20px;
		}
		p {
			font-size: 14px;
		}
	}
}





ul, ol {
	padding: 0px;
	margin: 0px;
	padding-left: 46px;
	li {
		padding-bottom: 20px;

		color: #333333;

		list-style: none;

		position: relative;

		font-size: $fontSize * 1.6;
		font-weight: 400;
		font-family: "Open sans";
		span {
			font-weight: bold;
		}
		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 26px; height: 26px;
			top: 0px; left: -46px;

			background-color: #00AEEF;
			border-radius: 100%;

			background-image: url("../images/reshenia/er_w.svg");
			background-repeat: no-repeat;
			background-position: center;

		}
	}
}
ul.blue {
	li {
		span {
		}
		color: #fff;
		&:before {
			background-color: #fff;
			background-image: url("../images/reshenia/er.svg");
		}
	}
}
ol {
	padding-left: 26px;
	li {

		padding-left: 20px;
		list-style: decimal;
		&:before {
			display: none;
		}
	}
}


.cooperation {
	padding: 80px 0px;
	background-color: #00AEEF;

	h2 {
		color: #fff;
		padding-bottom: 40px;
	}
	p {
		color: #fff;
	}
	.cooperation__item {
		h3 {
			color: #fff;
			font-size: 59px;

		}
		h4 {
			color: #fff;
			padding: 18px 0 13px 0;
		}
		@media (max-width: 991px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 10px;
			h3 {
				padding: 0px;
				color: rgba(253, 253, 253, 0.2);
				line-height: 100%;
			}
			h4 {
				padding-bottom: 4px;
				padding-top: 0px;
			}
			p {
				font-size: 14px;
			}
		}
	}
	@media (max-width: 991px) {
		padding: 40px 0 60px 0;
	}
	
}

.reshenia__hit {
		background-color: #F9AC63;

		padding: 7px 15px;

		border-radius: 16px;

		display: inline-block;

		margin-bottom: 25px;

		color: #fff;
		font-size: $fontSize * 1.4;
		font-family: "Open sans", sans-serif;

		@media (max-width: 991px) {
			margin-bottom: 18px;
		}
	}