.blogpost {
	h2 {
		padding-bottom: 40px;
		span {
			font-size: inherit;
		}
	}
	.about__first {
		align-items: flex-start;
		padding: 0 50px 30px 50px;
		@media (max-width: 991px) {
			margin: 0px;
			padding: 0 14px 30px 14px;
		}
	}
	&__h1 {
		font-weight: 400;
		padding-bottom: 28px;
	}
	article {
		h1 {
			padding-bottom: 22px;
		}
		h2 {
			padding-bottom: 12px;

		}
		h3 {
			padding-bottom: 12px;
		}
		h4 {
			padding-bottom: 12px;
		}
		p {
			font-size: 16px!important;
			font-family: "Open sans";
			font-weight: 400;
			padding-bottom: 30px;
			text-align: left!important;
			color: #333333!important;

			@media (max-width: 991px) {
				font-size: 14px;
			}
			&.blogpost__p {
				font-size: 18px!important;
				text-align: left!important;
				padding-bottom: 30px;


				@media (max-width: 991px) {
					font-size: 16px;
				}
			}
			span {
				background-color: #00AEEF;
				color: #fff!important;
				font-size: 16px!important;
				font-weight: 400!important;
			}
		}
		a {
			color: $mainColor;
			font-size: 16px;
			font-family: "Open sans";
			font-weight: 400;
			border-bottom: 1px solid $mainColor;
		}
		.message {
			margin-left: 14px;
			margin-bottom: 40px;
			position: relative;
			padding: 24px 30px;

			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0px;
				left: -14px;
				bottom: 0px;
				width: 4px;
			}
			&.message__1 {
				background-color: rgba(0, 173, 238, 0.1) ;
				&:before {
					background-color: #00ADEE;
				}
			}
			&.message__2 {
				
				background-color: #FFEFDD;
				&:before {
					background-color: #DD7258;
				}
			}
			&.message__3 {
				background-color: #F7FAE8;
				&:before {
					background-color: #54B582;
				}
			}
		}
		.blogpost__slider_wra {
			position: relative;
			.blogpost__slider__count {
				position: absolute;
				right: 1px;
				bottom: 1px;

				width: 87px;
				height: 50px;
				background-color: #fff;

				display: flex;
				justify-content: center;
				align-items: center;

				span {
					color: #262A2B;
					font-size: 16px;
					font-family: "Open sans";
					font-weight: bold;
				}
			}

		}
		.blogpost__slider__footer {
			display: block;
			padding: 19px 0 30px 0;
			font-size: 19px;
			color: #919191;
			
			@media (max-width: 991px) {
				font-size: 14px;
				
			}
		}
		.blogpost__slider {
			
			.arrow {
				position: absolute;
				z-index: 987;
				right: 92px;
				bottom: 1px;
				&.arrow_left {
					left: unset;
					right: 147px;
				}
			} 
		}
		
	}
	table {
		width: 100%;
		margin-bottom: 30px;
		overflow: auto;
		tr {
			padding: 0px;
			th {
				text-align: center;
				&:first-child {
					text-align: left;
				}
				&:last-child {
					text-align: right;
				}
			}
		}
		th {
			padding: 24px 37px;
			color: #333333;
			font-size: 16px;
			font-weight: 400;
			@media (max-width: 991px) {
				font-size: 14px;
			}
		}
		thead {
			th {
				background-color: rgba(245, 245, 245, 0.23);

			}
		}
		tbody {
			tr {
				background-color: rgba(245, 245, 245, 1);
				&:nth-child(even) {
					background-color: rgba(245, 245, 245, 0.23);
				}
				th {
					padding: 14px 37px;
					&:nth-child(2) {
						font-weight: bold;
					}
					&:nth-child(3) {
						font-weight: bold;
					}
				}
			}
		}
	}


	

	
}

.xz {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;
	&__item {
		display: block;
		border: 1px solid #F5F5F5!important;
		margin: 0 3px;
		padding: 50px 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		&::first-child {
			margin-left: 0px;
		}
		&::last-child {
			margin-right: 0px;
		}
		@media (max-width: 991px) {
			padding: 10px;
		}
	}
}
.xz_2 {
	padding: 50px 0;
	background-color: #F5F5F5;
	h2 {
		margin: 0 auto;
		width: 90%;
		color: #00AEEF;
		text-align: center;
	}
}

.user {
	padding-top: 50px;
	padding-bottom: 80px;
	&__name {
		display: block;
		padding-bottom: 6px;
		padding-top: 20px;

		font-size: $fontSize * 2;
		line-height: 140%;
		font-family: "Gilroy", sans-serif;
		font-weight: 700;
		color: #333333;
		margin: 0px;

		@media(max-width: 991) {
			font-size: 18px;
		}
	}
	&__date {
		display: block;
		color: #717171;
		font-size: $fontSize * 1.4;
		line-height: 140%;
		font-family: "Open sans", sans-serif;
		font-weight: 400;
		margin: 0px;
	}
}

.list {
	&__header {
		display: block;

		padding-bottom: 30px;

		font-size: $fontSize * 2;
		line-height: 140%;
		font-family: "Gilroy", sans-serif;
		font-weight: 700;
		color: #333333;

		@media(max-width: 991) {
			font-size: 18px;
		}
	}
	&__item {
		display: inline-block;

		font-size: $fontSize * 2;
		line-height: 140%;
		font-family: "Gilroy", sans-serif;
		font-weight: 400;
		color: #333333;

		padding-bottom: 4px;
		margin-bottom: 10px;

		border-bottom: 1px solid rgba(112, 112, 112, 0.1);
		transition: $mainDuration;
		&.active {
			color: #03ACEC;
			border: 0px;
		}
		&:hover {
			color: rgba(3, 173, 236, 0.7);
			transition: $mainDuration;
		}
		@media(max-width: 991) {
			font-size: 18px;
		}
	}
	ul {
		padding: 0px;
		margin: 0px;
		li {
			padding: 0px;
			&:before {
				display: none;
			}
		}
	}
}
.comment__item {
	background-color: #FFFFFF;
	padding: 30px 0px;
	margin-bottom: 10px;
	h3 {
		padding-bottom: 20px;
		padding-right: 35px;
		padding-left: 35px;
	}
	p {
		padding-right: 35px;
		padding-left: 35px;
		padding-bottom: 30px;
	}
	.comment__item__footer {
		border-top: 1px solid #F5F5F5;
		padding: 15px 35px;
	}
	.comment__link {
		color: $mainColor;
		font-size: 16px;

	}
	.form {
		width: 100%;
		padding-right: 35px;
		padding-left: 35px;
		input {
			border: 1px solid #DBDBDB!important;
			width: unset;
		}
		textarea {
			width: 100%;
			margin: 15px 0;
		}
		.form__line__cke  {
			label {
				width: 100%;
			}
		}
		.form__wr {
			@media (max-width: 991px) {
				display: block;
				label {
					width: 100%;
				}
			}
		}
	}
}
.recommendation {
	.slick-slide.slick-active {
		& > div {
			padding: 0 10px;
		}
		&:first-child {
			& > div {
				padding-left: 0px;
			}
		}
		&:last-child {
			& > div {
				padding-right: 0px;
			}
		}
	}
}